[2013-06-04 09:04] cpartl commented on #931
I do still experience text rendering problems, e.g., the list of stratifications in tourguide shows artifacts when selecting a stratification for preview. Although overall the problems occur less frequently.

[2013-06-04 09:08] alexsb opened #1231 "Include hierarchization of scores in LineUp"
We discussed to include a hierarchization of scores in LineUp. For example, mutation status "mutated" and "not mutated" will be shown under the umbrella category "Mutation Status", while cluster number and number of elements will be summarized as "Properties" (might have the word wrong here).

This should clarify differences between queries and properties.

[2013-06-04 09:09] alexsb commented on #1199
Resolved relevant parts with #1211 - rest wontfix.

[2013-06-04 09:09] #1199 closed, assigned to nobody

[2013-06-04 09:14] alexsb opened #1232 "Change text of "Open Externally" to "Open $DATABASESPECIFIC""
Right now you can righ-click a gene and you will get the option to "Open Externally". It would be much more meaningful to have a database specific term, e.g., "Search in GeneCards".

This must be defined in the preferences. Here it only one generic term - the database name -  will suffice, resulting in "Search in GeneCards", "Search in PubMed", etc.

[2013-06-04 09:43] alexsb opened #1233 ""Open Externally" uses wrong browser"
On Linux opens up with Firefox instead of Chrome (system default).

Does anyone else also observe this problem? My system should be correctly configured.

A possible solution - if this is window specific - is to use the compatibility mode, which works for linux.

[2013-06-04 09:47] #1229 closed, assigned to sgratzl

[2013-06-04 09:47] #1232 closed, assigned to sgratzl

[2013-06-04 09:57] alexsb opened #1234 "Show applied regex on id types in importer"
Instead of TCGA-01-0002-XA show the string after applying the mapping regex, e.g., for TCGA examples 01-0002.

[2013-06-04 09:58] alexsb opened #1235 "Show column numbers in preview table in importer"
Currently only the checkbox is shown.

[2013-06-04 10:01] alexsb opened #1236 "Integrate Homogeneous/Heterogeneous Checkbox in first dialog"
If heterogeneous we need to disable the ID Type selection.

This should be part of the "Column Configuration" group, probably on top.

[2013-06-04 10:04] alexsb commented on #948
Concerning your comment:  #1235
The preview with the -> is a little confusing. It should be:

Preview (Header)
Original ID: TCGA-01-002
Converted ID: 01-002

[2013-06-04 12:32] #1230 closed, assigned to sgratzl

[2013-06-04 12:44] sgratzl commented on #931
I don't have any problems on my windows machine. Can you attach a screenshot?

[2013-06-04 13:44] #948 closed, assigned to cpartl

[2013-06-04 13:51] cpartl commented on #931
![text_bug_tourguide](https://f.cloud.github.com/assets/4134949/605772/c265ecc6-cd1d-11e2-823d-c9ba60abf815.png)

[2013-06-04 14:17] #1235 closed, assigned to cpartl

[2013-06-04 14:19] cpartl commented on #1234
Closed via e0639e

[2013-06-04 14:19] #1234 closed, assigned to cpartl

[2013-06-04 14:26] #966 closed, assigned to cpartl

[2013-06-04 15:05] #1236 closed, assigned to cpartl

[2013-06-05 07:55] sgratzl opened #1237 "Find based on significant Kaplan-Meier change -> add both selected bricks"
during "Find based on significant Kaplan-Meier change" the user selects a clinical variable as well as a stratification, therefore both should be finally shown as brick columns

[2013-06-05 07:57] sgratzl opened #1238 "Delete Tour Guide Query after Confirm/Cancel the Wizard"
the query should be removed when the confirm/cancel button was pressed instead of when a new query appears

[2013-06-05 08:06] sgratzl commented on #931
that seems to be a different kind of rendering artifacts as it seems that for all rows you have the same text (rank, stratification)

can you try to visualize the render cache (uncomment GLElement 209ff) and check if this has something to do with it

In addition is this bug reproduceable and if yes how + is there a way that it will disappear if you do some action?

[2013-06-05 08:36] cpartl commented on #931
![text_bug_cache](https://f.cloud.github.com/assets/4134949/610571/757235fe-cdb9-11e2-9dc9-ae790b69b511.png)
The text seems to be wrong when it is not in the cache. After a little delay the text is in the cache and it gets displayed corretly.
Here is another issue in StratomeX:
![text_bug_stratomex](https://f.cloud.github.com/assets/4134949/610598/198a997e-cdba-11e2-898d-fe58bb0f8f6f.png)

[2013-06-05 09:02] sgratzl commented on #931
both bugs are really weired:

in the first screenshot the same text is rendered multiple times or really all entries have the same value. Which is unlikely as after a while, when the caching starts, it looks ok. Especially as there is no entry: 2 CNMF Clustering | 112 | 1 <- should be 2

in the second screenshots parts are missing. I mean the parts are at the right position. It's unlikely that the

[2013-06-05 09:09] #1238 closed, assigned to sgratzl

[2013-06-05 09:09] #1237 closed, assigned to sgratzl

[2013-06-05 09:58] alexsb opened #1239 "Simplify way to add data to enRoute"
The process via the DVI is not very intuitive for enRoute.

The typical enRoute workflow is the following:
- Select one stratification (used for all datasets)
- Choose which datasets to show.

Essentially the entourage interface works well but there the stratification to use is hard-coded.

The question is: can we do this with LineUp?

Also, we should add a "add data" button somewhere in enroute.

[2013-06-05 10:15] alexsb commented on #1226
Requested rights to redistribute:

Hi,

we (the Caleydo team) have been using CCLE data for a data visualization and analysis research project together with Novartis. We found that the dataset suits our visualization techniques very well and would like to include the  data as a sample project for Caleydo. We currently provide GBM TCGA data as a sample project and also produce pre-packaged (for one

[2013-06-05 10:30] alexsb opened #1240 "Show empty table before data is loaded in importer"
Currently only one header cell is shown.

[2013-06-05 10:54] #959 closed, assigned to cpartl

[2013-06-05 10:58] alexsb opened #1241 "Change "heterogeneous columns" checkbox to radio with options for homogeneous and heterogeneous."
In the heterogeneous case we can skip page 2 and remove the page 2 content related to heterogeneous data.

[2013-06-05 11:09] alexsb commented on #1241
Also, labels for the ID category / type should also be gray if they are not usable, not only the buttons.

[2013-06-05 11:39] alexsb opened #1242 "In preview table in importer: maximize width of columns"
If there are only a few columns these columns should be maximized in width either homogeneously or in a way to fit the content.

This helps in finding the correct delimiter and detect problems.

[2013-06-05 11:41] alexsb commented on #1241
This should be a top-level option and not part of the column dialog. While it would also fit there conceptually it destroys the layout. I've added the label but left the formating and the new buttons open.

[2013-06-05 12:46] alexsb opened #1243 "Show row numbers for ordinal category table."
Currently row numbers are shown for nominal data but replaced with widgets for sorting for ordinal data. It would be nicer to add the sorting widgets in addition to the numbers in stead of replacing them.

[2013-06-05 12:51] #1241 closed, assigned to cpartl

[2013-06-05 13:23] alexsb opened #1244 "Changes of columns to include in page one of import dialog are not correctly reflected in category dialog."
To reproduce, load, e.g., the gbm copy number file. This file has three "ID" columns but we use only one. When not removing the two obsolete ones these are interpreted as categories, resulting in one category per ID.

If you then go back to the first page and remove the columns the cateogries are not removed but remain.

[2013-06-05 13:25] alexsb commented on #1240
I see some columns and rows, but no cells?

[2013-06-05 13:29] alexsb opened #1245 "Add top-level scroll bars for import dialog"
In case there is not enough screen space there should be top-level scorll bars on all wizard pages. Right now it's simply clipped, which breaks functionality on smaller screens.

This is also the default behavior of, e.g., Eclipse preference pages.

[2013-06-05 13:33] alexsb opened #1246 "Update problems in import wizard"
There seem to be update problems in the import wizard. To reproduce make wizard full-screen before loading a file - layout is correct. Load a file - layout is broken. Resize - layout is correct.

Sometimes this also causes the scroll bar of the table to be hidden.

See screenshot:

![before](https://f.cloud.github.com/assets/2039375/612019/30037d22-cde4-11e2-914d-38b59a466cf9.png)

[2013-06-05 13:39] alexsb opened #1247 "Report on parsing progress and parsing success / failure."
After the import wizard is completed we should show a progress bar for the data loading and once this is completed report the success or failure of the parsing. In case of success we should provide the following information:
- How many rows of which ID Type were loaded
- How many columns of which ID Type were loaded
- For each ID Type: how many mappings were found, how many new ids were created

[2013-06-05 13:43] alexsb opened #1248 "Classify color maps for ordinal data as diverging and continuous"
There should be headings for both.

[2013-06-05 13:44] alexsb opened #1249 "Acknowledge Color Brewer in Color Dialog"
Including link.

[2013-06-05 13:44] #1243 closed, assigned to cpartl

[2013-06-05 13:47] alexsb commented on #1240
Observed on Linux, not observed on Windows 7

![no_cell](https://f.cloud.github.com/assets/2039375/612123/59582c34-cde6-11e2-9fe5-35b72c0080c9.png)

[2013-06-05 13:51] alexsb opened #1250 "Allow to specify neutral/normal category for categorical data"
This is conceptually the same as the neutral value for numerical data. Consider a categorical dataset for copy number: two types of deletions, one "neutral" normal type, and then you could have 5 classes for amplifications.

This should then also be reflected in the default colors selected.

This could be implemented in two ways: add a radio to each cell with the header "neutral type", or the neut

[2013-06-05 13:55] alexsb opened #1251 "Gray-out deselected columns"
When removing a column the text should be grayed out.

[2013-06-05 14:31] alexsb commented on #1240
Here's the exception:

java.lang.NullPointerException
    at org.eclipse.nebula.widgets.nattable.painter.cell.ColumnHeaderCheckBoxPainter.convertDataType(ColumnHeaderCheckBoxPainter.java:103)
    at org.eclipse.nebula.widgets.nattable.painter.cell.ColumnHeaderCheckBoxPainter.isChecked(ColumnHeaderCheckBoxPainter.java:99)
    at org.eclipse.nebula.widgets.nattable.painter.cell.ColumnHeaderCheckBoxP

[2013-06-05 14:37] #1244 closed, assigned to cpartl

[2013-06-05 14:37] #1251 closed, assigned to cpartl

[2013-06-05 14:52] alexsb opened #1252 "Allow to invert color scale for categorical data in importer"
This could also be done by resorting, but it might be convenient?

[2013-06-06 08:13] #1240 closed, assigned to cpartl

[2013-06-06 15:14] #1246 closed, assigned to cpartl

[2013-06-07 13:36] sgratzl opened #1253 "Implement Nested Combination method"
definition: instead of a sum of values, the order of the items is important. From first to last. The first score that aren't equal determine the the comparison result

pseudo code:

[code]

this can be implemented by computing the combined score as:
`s(x) = sum_i s[i](x)*10^(s.length-i-1)`

and normalize that in the range `0 ... 10^(s.length-1)`

[2013-06-10 06:59] sgratzl commented on #1253
that doesn't work, I can order the elements according to this criteria but I can't collapse / nest it if I can't convert it to a single score value

[2013-06-10 07:51] sgratzl commented on #1253
nice usage example: primary QS stars, secondary another numerical attribute

[2013-06-10 07:57] sgratzl opened #1254 "Memo Pad Small Mode"
similar to hide the histograms of the table, as similar mode should be available within the memo pad to save space

[2013-06-10 07:58] sgratzl opened #1255 "Remove Max Components by DnD"
nested and stacked children can be dragged away (except the last one), therefore that should be also possible using the max combiner

[2013-06-10 12:27] #1255 closed, assigned to sgratzl

[2013-06-10 14:20] cpartl opened #1256 "Fill default numerical properties in importer"
Fill numerical default parameters:
Guess data type (Int/Float)
Parse min/max
Parse whether there values go above/below 0 -> fill zero

[2013-06-10 14:27] cpartl opened #1257 "Make several properties of a dataset changeable after loading a dataset"
All numerical properties except data type (data center, scaling, clipping)
All categorical properties (color, category name, order, add/remove, ordinal/nominal)
Transposition (although we should remove this completely later on)

[2013-06-10 15:26] sgratzl opened #1258 "Improve Search Feature"
interesting features, that would be useful:
- as suggested by @alexsb some more present search for the "primary" label column
- toggle autoselection mode (see @ngehlenborg regarding auto loading of pathways)
- next match / previous match
- wrapped search
- hide not matching items as suggested by @mstreit
  -> via filtering the ranking is changed, via hiding the ranking is preserved but the not mat

[2013-06-10 15:27] sgratzl commented on #1253
current approach: replace the value with the primary one, which means in the ex-aque case for recurvsive combination it won't work, but at least the compressing / heatmap

[2013-06-11 05:59] sgratzl commented on #1254
part of c59c2754a6ed1acb6715a2ddfc95926013de636a

[2013-06-11 05:59] #1254 closed, assigned to sgratzl

[2013-06-11 05:59] sgratzl commented on #1253
part of c59c2754a6ed1acb6715a2ddfc95926013de636a

[2013-06-11 05:59] #1253 closed, assigned to sgratzl

[2013-06-11 08:27] #957 closed, assigned to cpartl

[2013-06-11 09:02] sgratzl opened #1259 "Tour Guide show simple item statistics"
comming from sgratzl/paper-2013-lineup#4

[2013-06-11 11:36] #1259 closed, assigned to sgratzl

[2013-06-11 12:10] sgratzl commented on #1258
I'm currently thinking about merging the filter and search options for the categorical and string columns.

options:
- hide not matching entries
- exclude not matching from ranking <-- filter

@ all any ideas?

[2013-06-11 12:20] #1256 closed, assigned to cpartl

[2013-06-11 12:21] mstreit commented on #1258
how would you search for something special without losing the context?

[2013-06-11 12:36] sgratzl commented on #1258
the question is how likely it is, that you will search within a column were you already set a filter?

[2013-06-11 12:46] alexsb commented on #1258
Concerning hiding non-matching elements: I'm not sure whether we should do that as that would be a clear difference to a filter.

The way I see it:
- Filter is defined on a per-column basis and removes all non matching elements.
- Search uses _all_ visible information, does not hide other entries (might gray them out though) and has a next - previous option.

[2013-06-11 13:01] mstreit commented on #1258
I agree with Alex. We should not merge search and filter.

[2013-06-11 13:24] mstreit commented on #1258
Again concerning hiding of non-matchin elements:
Let's assume a user wants to investigate all Austrian Universities. In this case you want to somehow get rid of Universities from other countries, while keeping the global ranking information. It might not be helpful to see the 6 Austrian Universities in a new ranking. We need to find a way to support this.

[2013-06-11 15:18] alexsb commented on #1258
Wouldn't that work with the clear differentiation of filter and search as described above?

[2013-06-11 15:35] #1250 closed, assigned to cpartl

[2013-06-11 15:35] #1252 closed, assigned to cpartl

[2013-06-11 15:46] mstreit commented on #1258
@alexsb Yes, I guess. We should try it out. It might be confusing for the user.

[2013-06-11 16:10] alexsb commented on #1258
BTW: interface-wise the chrome search box rocks. Super-simple and out of the way if you don't need it. Afair there was an option to do such a pop-up widget in eclipse recently?

[2013-06-11 16:30] alexsb opened #1260 "Resize/update problem with category import interface."
The table containing the category details is not correctly sized initially, see screenshot.

![category_size](https://f.cloud.github.com/assets/2039375/638107/04e9c37e-d2b4-11e2-9b40-c8261cf8328f.png)

Here's the exception:

at org.eclipse.nebula.widgets.nattable.viewport.ViewportLayer.handleGridResize(ViewportLayer.java:725)
    at org.eclipse.nebula.widgets.nattable.viewport.ViewportLayer.doComm

[2013-06-11 16:34] alexsb opened #1261 "UI Deadlock when continuing after category specification with next instead of finish."
When I go to add groupings after specifying the categories I'm in a UI deadlock. See screenshot: Back, Next and Finish are disabled.

![deadlock](https://f.cloud.github.com/assets/2039375/638127/c5981f62-d2b4-11e2-8e4c-ebc675a8ae2a.png)

[2013-06-11 16:45] alexsb opened #1262 "Category Properties Layout Improvements"
- [x] Move buttons to the right of table
- [x] Improve "Neutral Category interface. Suggestions - please comment
  - Use drop-down with "None" and all the options instead of checkbox and dropbdown
  - Add column with radios to table.
- [x] Revers Color Scheme Order doesn't work for Nominal ATM

[2013-06-11 16:48] alexsb commented on #1245
Problem is solved on first page, although only to a certain extend. When I make it very small the scroll bar disappears again. However, doing it that small is stupid, so I'm not sure whether we need to fix it.

Problem persists on Categorical Properties page. See screenshot.

![scrolling](https://f.cloud.github.com/assets/2039375/638198/908edd72-d2b6-11e2-8baf-1c63c5cfaa75.png)

[2013-06-11 17:21] alexsb commented on #1245
Related problem observed in the "Column Properties" of inhomogeneous dataset. See screenshot

![scrolling2](https://f.cloud.github.com/assets/2039375/638409/665c9ad0-d2bb-11e2-8bd1-b1c162bf05a9.png)

Here I can't even resize the window interestingly.

This happens when switching form categorical to numerical. Same problem also for the categorical page.

[2013-06-11 17:33] alexsb opened #1263 "Table Layout Improvements"
Here are some suggestions for improving the appearance and usability of the various tables. Please comment. These are mainly appearance issues, so if something is hard to do we don't have to do it.
- [x] Decrease size of caption font for rows and columns.
- [ ] Optimize space for tables - set columns to fit content if enough space is available
- [x] Maximize table width (not sure if that makes sen

[2013-06-11 17:50] alexsb opened #1264 "Add button "Set Column Properties" to every column"
I don't find the selection and then click the button interface not very intuitive. Maybe can add a button to every column?

[2013-06-11 17:51] alexsb opened #1265 "Show column name for which properties are edited in dialog"
Suggested text: "Specify properties for column $name"

[2013-06-11 17:53] alexsb opened #1266 "Allow to remove columns in the inhomogeneous dataset properties dialog"
I think that would be a helpful shortcut. RFC

[2013-06-11 18:20] alexsb commented on #1226
Permission granted.

[2013-06-11 19:21] #1226 closed, assigned to alexsb

[2013-06-11 19:23] alexsb opened #1267 "Improve download dialog"
- [ ] Cancel doesn't work (see screenshot)
- [ ] Show file size, if possible.
  ![cancel](https://f.cloud.github.com/assets/2039375/639105/6ed6aa96-d2cc-11e2-9bdf-41529f5f3ec1.png)

[2013-06-12 06:55] sgratzl commented on #1267
and what should be done if the user press cancel?

 -> from the api side this is a simple RemoteFile part of the StartupProcedure.
So if the user press cancel, there is nothing to load for Caleydo and the wizard is already gone

[2013-06-12 08:56] cagatayTurkay opened #1268 "Use equal aspect ratio for scatterplots"
Equal aspect ratio for the scatterplots embedded within StratomeX.

[2013-06-12 08:57] cagatayTurkay opened #1269 "Use the same data range in difference views"
For the difference views embedded within StratomeX, use the same range so that it is possible to compare the differences within the views.

[2013-06-12 09:01] cagatayTurkay opened #1270 "Display any selected data subset in embedded scatter plots"
In embedded scatter plots, display information from other datasets, e.g., within a stratification of m-RNA values, display statistics on clinical variables.

[2013-06-12 09:06] cagatayTurkay opened #1271 "Curate manual stratifications"
Starting from an unstratified dataset, add clusters through scatterplots and difference views.

[2013-06-12 09:08] cagatayTurkay opened #1272 "Header scatterplots in StratomeX"
Replace the histogram on top of each column in StratomeX with scatterplots of statistics.

[2013-06-12 09:09] cagatayTurkay opened #1273 "Use wider columns"
Use wider columns in StratomeX when scatter plots are embedded.

[2013-06-12 09:20] cpartl commented on #1245
ad1) You probably reduced the size below the required size of the wizard (bottom buttons). The only way to fix this would be to introduce a scrolled composite on the wizard level, which is not smart imo, and I actually don't know how to do that yet. Besides that I agree that this is not really an issue. There should be no reason why one should reduce the size this far and if one has a low resoluti

[2013-06-12 10:01] cpartl commented on #1261
I can not reproduce this.

[2013-06-12 10:07] cpartl commented on #1262
A column with radios has the problem that you probably have a hard time selecting "None" without external widgets.

[2013-06-12 11:53] sgratzl commented on #1267
never mind it should work now

[2013-06-12 11:53] #1267 closed, assigned to sgratzl

[2013-06-12 17:59] alexsb commented on #1245
ad 1) aggreed
ad 2) me neither today
ad 3) doesn't work for me, is even worse. Initial state:

![scrolling3](https://f.cloud.github.com/assets/2039375/644272/d4deeb4c-d389-11e2-91ac-835b72152547.png)

After switching:

![scrolling4](https://f.cloud.github.com/assets/2039375/644276/e2c882cc-d389-11e2-9bdc-8ae623203274.png)

[2013-06-12 18:46] alexsb commented on #1261
Me neither today. Will re-open if I re-encounter it. Maybe it was a debug/hot-swap state problem.

[2013-06-12 18:46] #1261 closed, assigned to cpartl

[2013-06-13 13:05] #1264 closed, assigned to cpartl

[2013-06-13 13:13] cpartl commented on #1245
Fixed initial state problem.
Can not reproduce the issue after switching. Scrollbars appear and work nicely. Even tested on 800x600 screen resolution.

[2013-06-13 13:31] #1265 closed, assigned to cpartl

[2013-06-13 13:54] cpartl commented on #1262
Any further suggestions? maybe separate color specific widgets from other?

[2013-06-13 14:21] #1249 closed, assigned to cpartl

[2013-06-13 14:26] cpartl commented on #1248
the question is whether we should show them together, as neutral colors make only sense for diverging schemes.

So, shall we  display sequential, when no neutral category is selected, and display diverging, when a neutral category is selected?

If the user has already applied one color scheme, e.g. sequential, and selects a neutral category afterwards, shall we automatically apply a default diverg

[2013-06-13 14:35] cpartl commented on #1263
ad2) What does this mean? Should the columns get wide enough to display all of its content without clipping? If so, what is "enough space" then? There is infinite space in a scrollable table.
ad3) The table is always space-filling. Its just that the background of the table is the same as the dialog. I have extended the cell lines to make this obvious for the moment. not sure if that is the ideal s

[2013-06-13 14:53] alexsb commented on #1248
Yes, great idea. Also the change.

We should put some text as well:

Showing 'diverging' color schemes since a neutral category was selected. Remove neutral category to show 'sequential' color schemes.

and vice versa

[2013-06-13 15:04] alexsb commented on #1263
Looks great!

One issue I have now: when I click a column in the inhomogeneous table it changes it's width, which looks weird. The change is due to the font being made bold.

[2013-06-13 15:04] ngehlenborg opened #1274 "querying by mutual exclusivity (gene mutation status)"
Is this possible?

If it is not possible, can we add this?

[2013-06-13 15:07] alexsb commented on #1262
Yes. That looks good so far. Maybe a group for the colors and for "Modify Categories"?

[2013-06-13 16:35] alexsb opened #1275 "Move the applyColorScheme for categorical data out of the GUI into the category back end."
Move the applyColorScheme method out of CategoricalDataPropertiesWidget to CategoricalClassDescription so we can use it to build TCGA files as convenient as it's now possible via the GUI.

See, e.g.,  TCGADataSetBuilder lines 306ff. Here we'd like to say setNeutralCategory() and applyColorScheme(ColorBrewer.MyScheme).

[2013-06-13 16:35] alexsb commented on #1275
The current coloring in TCGADataSetBUilder is aweful btw, so this needs to be fixed anyways.

[2013-06-14 01:33] alexsb commented on #1167
The same issue causes also the copy number and mutation specific hack for histograms. Only datasets with copy and mutation in the name are correctly handled. This needs to be generalized for categorical data.

[2013-06-14 01:35] alexsb commented on #1178
This looks good now.

[2013-06-14 01:35] #1178 closed, assigned to alexsb

[2013-06-14 01:48] alexsb opened #1276 "Re-create TCGA runs for 3.0"
Pre-conditions:
- [x] Fixed Color Scale for categorical data (depends on #1275)
- [x] Imported new color scale according to (depends on #1277 )
- [x] Apply new color scales #1299

[2013-06-14 02:00] alexsb opened #1277 "Apply new color scale for DS colors"
Technically similar to the ColorBrewer implementation:

http://people.seas.harvard.edu/~alex/color.html

[2013-06-14 02:03] alexsb opened #1278 "NPE cause by LineUp"
I get the following NPE when adding/removing copy number and mutation data. I haven't found a completely reliable way to reproduce yet, but it's not hard to get. Maybe related to mixing regular stratifications with mutation/copy number.

[code]

[2013-06-14 02:09] alexsb commented on #1278
"Achieved" with latest gbm run from here:
http://dev.caleydo.org/tcga/2013_04_21/

[2013-06-14 07:14] sgratzl commented on #1278
I can't get it

[2013-06-14 10:16] cpartl commented on #1263
still don't know about 2)

[2013-06-14 12:22] cpartl commented on #1248
Where should this text be displayed? In the color scheme selection dialog?

[2013-06-14 12:34] #1262 closed, assigned to cpartl

[2013-06-14 12:54] alexsb commented on #1263
Don't know what is meant? I meant that we could adapt the column width to fit it's content if there is sufficient space.

[2013-06-14 12:56] alexsb commented on #1248
Yes. Maybe in the title or as a label on top of the color schemes.

[2013-06-14 12:58] alexsb opened #1279 "Unify categorical color selection with color selection dialog used at runtime"
The one you get when you double-click the histogram.

[2013-06-14 14:01] #1191 closed, assigned to sgratzl

[2013-06-14 14:19] alexsb commented on #1278
Stack trace right before the exception:

[code]

[2013-06-14 14:19] alexsb commented on #1278
It seems to be related to removing the dataset that is currently driving the ranking.

[2013-06-14 14:34] #1278 closed, assigned to sgratzl

[2013-06-14 14:58] alexsb opened #1280 "Naming for startifications added via LineUp is not ideal - DVI uses different approach"
When I add a stratification via LineUp it's called something like:

"K-Means 5/ CNMF"

When I do the same with the DVI it's called

"mRNA - CNMF / K-Means 5"  or similar.

Tour guide should use the same naming strategy. Ideally the naming "algorithm" should be moved to a part of the code where both DVI and LineUp use it, e.g., in the Table Perspective creation.

[2013-06-14 15:12] sgratzl commented on #1280
LineUp just calls `datadomain.getTablePerspective(recordPerspectiveID, dimensionPerspectiveID);` to get table perspectives as used in your example. There is no special logic behind

[2013-06-14 15:22] alexsb commented on #1280
There is special logic in the DVI it seems - and that should be unified.

[2013-06-14 15:30] #1280 closed, assigned to nobody

[2013-06-14 15:42] alexsb opened #1281 "Tool tip in stratomex shows wrong information"
It seems like the tool tip gets imprinted on it's first use?

Update: seems to be that these tool tips were shown when there souldn't have been any at all. I can't reproduce anymore. Reomved important flag.

![tool_tip_bug](https://f.cloud.github.com/assets/2039375/655022/8adf3c74-d508-11e2-8387-ee079d3dd2b6.png)

[2013-06-14 15:42] alexsb commented on #1281
Notice the "Homozugyous deletion" tool-tip  for the "High-Level Amplification" brick.

[2013-06-14 15:52] alexsb commented on #1281
This does not happen when hovering over the title - then it's correctly shown. Bizarrely I don't get tool-tips at all any more when hovering over the bricks?

[2013-06-17 09:49] cpartl commented on #1260
Does this issue still exist? Can't reproduce it.

[2013-06-17 10:03] sgratzl commented on #1133
can anyone (besides me) tries to check if it works now.

btw. the current solutions creates place holders for all views one the fly and there is a special issue with views that have multiple instances, where I need to use the `<viewid>:*` syntax

[2013-06-17 10:59] mstreit commented on #1133
works for me. nice!

[2013-06-17 11:12] sgratzl opened #1282 "Split Caleydo Core&Data in UI, Non-UI / Data Model and Product Related?"
currently the core is mixing the data model with the user interface (GLElement, Importer UI,...)

I would suggest to convert the core and data plugin to 3 plugins: .core, .core.ui and .product.

because currently e.g. the tcga importer depends on jogl, nattable, ... even if you don't need it.

[2013-06-17 12:39] sgratzl commented on #931
seems to be related that Vertex Arrays are used, if `useVertexArrays(false)` is used, then the bug disappears

[2013-06-17 13:20] alexsb commented on #1281
Closing, can't reproduce.

[2013-06-17 13:20] #1281 closed, assigned to cpartl

[2013-06-17 13:23] alexsb commented on #1260
No.

[2013-06-17 13:23] #1260 closed, assigned to cpartl

[2013-06-17 13:24] alexsb commented on #1263
I guess that's not necessary. Let's leave it at that and re-evaluate later. Not doing it does have the advantage of a more consistent layout.

[2013-06-17 13:24] #1263 closed, assigned to cpartl

[2013-06-17 13:29] alexsb commented on #1245
The last issue continues to persist. It's not a scroll-bar issue, this happens even if there is plenty of space. If I re-size a tiny bit I don't get scroll bars but the layout corrects itself.
Before:
![before](https://f.cloud.github.com/assets/2039375/662281/e24c7bac-d751-11e2-97b3-d20f3ac9e28f.png)
After
![after](https://f.cloud.github.com/assets/2039375/662282/ebe05e4a-d751-11e2-9ef5-5a22e8e09f

[2013-06-17 14:45] sgratzl commented on #1150
tourguide will open on the fly, when using the stratomex add wizard. I think we don't should therefore open TourGuide at the beginning

[2013-06-17 14:47] sgratzl commented on #965
not really a must-have for 3.0

[2013-06-17 14:47] sgratzl commented on #963
not really a must-have for 3.0

[2013-06-17 14:49] alexsb commented on #1150
I think the main issue is if we want to show DVI by default.

[2013-06-17 14:55] alexsb commented on #1248
Clarification: title or on top should be:

"Diverging Color Schemes"

Text at the bottom: "Showing 'diverging' color schemes since a neutral category was selected. Remove neutral category to show 'sequential' color schemes." and vice versa

[2013-06-17 14:58] alexsb commented on #1233
I've posted on stack overflow, but no answer. @sgratzl  What's the benefit of using the new vs the old method where it was working.

[2013-06-17 15:03] alexsb commented on #1266
wontfix

[2013-06-17 15:03] #1266 closed, assigned to cpartl

[2013-06-17 15:06] alexsb commented on #1247
Solved parsing success (christian).

ID Type reports are open.

[2013-06-17 15:13] alexsb commented on #670
@ngehlenborg will investigate details on the data format and how to visually encode and report here

[2013-06-17 15:15] alexsb commented on #714
Wontfix, this will be obsolete once you can change this at runtime and there's no good automatic way to do that.

[2013-06-17 15:15] #714 closed, assigned to cpartl

[2013-06-17 15:16] #1275 closed, assigned to cpartl

[2013-06-17 15:22] sgratzl commented on #1233
it is system independent

[2013-06-17 15:24] alexsb commented on #1233
But the old one works and works better on all systems I've observed. Or did you experience a problem with the old one?

[2013-06-17 15:25] ngehlenborg commented on #670
Example on TCGA data: http://dx.doi.org/10.7908/C17H1GGV

[2013-06-17 15:25] alexsb commented on #679
That's not important but should be trivial, so let's do that.

[2013-06-17 15:27] alexsb commented on #810
Specify how to reproduce. Which view is affected?

[2013-06-17 15:29] alexsb commented on #827
Not important, but should be easy to fix.

[2013-06-17 15:32] alexsb commented on #834
How would you like to switch that? Button/Check-box in the tool bar?

[2013-06-17 15:35] mstreit commented on #810
Seems to work in TourGuide.
I guess I had the problem with the heatmap fisheye inside the StratomeX detail mode. But as this is not possible anymore, I close this issue until the problem reoccurs.

[2013-06-17 15:35] #810 closed, assigned to alexsb

[2013-06-17 15:37] mstreit commented on #829
I still have the issue when a view (for instance StratomeX) is in full screen mode after startup - it's just gray. I need to leave the fullscreen mode to see the view's content.

[2013-06-17 15:38] mstreit commented on #829
Seems to be a driver issue with ATI.

[2013-06-17 15:42] alexsb commented on #870
@ngehlenborg - I think all of the points you mention are "hacks" to other, unrelated problems, so maybe we should address them differently.

[2013-06-17 15:43] alexsb commented on #829
Full-screen means hiding all other views and window titles? Only in full-screen?

[2013-06-17 15:50] mstreit commented on #829
Only the StratomeX render area is grey. Rest is fine. If I force the view to get a reshape, by for instance changing it's size, then the content appears. This only happens right after the startup.

[2013-06-17 15:56] ngehlenborg commented on #670
It looks like the daystolastknownalive (https://cdebrowser.nci.nih.gov/CDEBrowser/search?elementDetails=9&FirstTimer=0&PageId=ElementDetailsGroup&publicId=2975724&version=1.0) variable can be used for censoring. I will confirm this.

[2013-06-17 16:02] alexsb commented on #906
I'll also test the genes = rows use case

[2013-06-17 16:08] alexsb commented on #953
This is a duplicate of the above issues.

[2013-06-17 16:08] #953 closed, assigned to alexsb

[2013-06-17 16:17] alexsb commented on #943
I suggest the following solution:
- [ ] Default stratification is higlighted in DVI.
- [ ] Default stratification can be changed in DVI.
- [x] Default stratification for dataset can be changed by right-clicking dataset icon in tour-guide - this opens up a gui with a radio selection for all possible startifications
- [x] Stratification of columns can be changed via context menu of existing stratifi

[2013-06-17 16:46] sgratzl commented on #943
1. I doubt the effectiveness of task lists in comments
2. Default stratification for dataset can be changed by right-clicking dataset icon in tour-guide - this opens up a gui with a radio selection for all possible startifications

   should already be possible, check out the context menu

[2013-06-17 16:48] alexsb commented on #943
1. yea, I'm planning to create tickets once we agree anyways
2. cool, didn't know that

[2013-06-17 16:51] alexsb commented on #1159
This seems to work now. I tried it (with the latest project) and no problem.

[2013-06-17 16:51] #1159 closed, assigned to nobody

[2013-06-17 16:58] alexsb commented on #1187
So you're suggesting that we name a caleydo folder caleydo_win_x86? I think this is weird. The download and the files are clearly stated as such. I've never seen the practice of an app naming it's folder according to architecture.

What's an architecture file?

The only reasonable thing to do is to check on launch if arch is correct and give a decent error message. Not sure if that's possible thou

[2013-06-17 17:00] alexsb commented on #1171
I can't. Closing

[2013-06-17 17:00] #1171 closed, assigned to ngehlenborg

[2013-06-17 17:03] alexsb commented on #1208
The definition is closed, KM is solved, the rest is covered by #1277

[2013-06-17 17:03] #1208 closed, assigned to nobody

[2013-06-17 17:06] alexsb commented on #1156
What do you mean in a clear way? I'd be happy if you show an error message and close.

[2013-06-17 17:08] alexsb commented on #1231
This works well imo. I'm still not convinced that a mutual exclusive otpion for datasets wouldn't be better, because in the end right now that's what I'm always doing. But ok, that's another story.

The one-pixel line however doesn't work as good as I imagined. Opinions? Suggestions?

[2013-06-17 17:15] alexsb commented on #1231
Here is what I'm talking about:

![header](https://f.cloud.github.com/assets/2039375/663575/0f36b15e-d771-11e2-99f1-356f07cd9e5f.png)

Options:
- Keep the line, potentially adding more spacing will help but will cost us
- Color the whole background -> this will be very colorful and sometimes it will be hard to read text on top
- Color nothing
- Show a gradient quickly fading within 5 pixels - that

[2013-06-17 17:22] alexsb commented on #1152
I've assigned @sgratzl since I've observed this a lot in the lineup context menues.
@cpartl please check stratomex and DVI for occurences

[2013-06-17 17:28] alexsb commented on #941
In heat maps there is no sampling currently, only in PCs.

This essentially a issue of how to handle larger data-sets, which partially depends on #1216

I'm not sure whether we should sample or simply provide a filtered stratification.

[2013-06-17 17:58] ngehlenborg commented on #1187
Downloading an archive in Safari on my Mac automatically extracts (and deletes) the archive and I am left with a folder named "caleydo" and no way to figure out for which architecture this build is.

[2013-06-17 18:10] ngehlenborg commented on #1187
Downloads for Java examples for windows (from http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html) contain a "release" file with the following content:

[code]

[2013-06-17 18:12] alexsb commented on #1187
I can add an info file. Estimates on whether better error messages are possible are welcome

[2013-06-17 18:39] ngehlenborg opened #1283 "create 3.0 alpha builds for testing on Mac OS X 10.8 Mountain Lion"
Will be testing on 19 June 2013 in the morning.

[2013-06-17 19:57] ngehlenborg commented on #670
It is indeed another variable, but not daystolastknowalive. Instead, the Firehose folks are using the daystolastfollowup variable to determine when to censor someone.

This means that the Kaplan-Meier plot basically requires a pair of variables, one for survival and one for censoring. It will work with only the survival variable but the calculations (log-rank test) will be inaccurate.

[2013-06-17 20:41] ngehlenborg commented on #670
_daystodeath_ and _daystolastfollowup_ are mutually exclusive. Patients have a value only for one or the other, but never both (as far as manual inspection of a couple of hundreds of cases tells me).
We need to order all patients by the value in the union of _daystodeath_ and _daystolastfollowup_. When you see a patient die, you need to reduce the count (i.e. step down in the plot) and if a patien

[2013-06-17 20:52] alexsb commented on #670
One way to implement this would be to provide metadata on a per column base. Generally speaking we could add a dependency to a column. The main column could be the days to death, the dependent column could be the censoring.

The KM plot could, if provided with such a column, look up the dependent column by itself. If no column is provided the view could ask for it or simply just display the origin

[2013-06-18 06:33] sgratzl commented on #931
afik is works for everyone one -> closing

[2013-06-18 06:33] #931 closed, assigned to sgratzl

[2013-06-18 06:35] sgratzl commented on #943
in DVI there is no need for a default stratification, as you always have to select the record as well as the dimension stratification to create a table perspective. Therefore it would only be a support for other views, like tour guide, which may confuse the users

[2013-06-18 06:36] sgratzl commented on #1150
DVI is good starting point to see, what data sets are loaded and to explore the existing stratifications. So I think it is still a good starting point for a project

[2013-06-18 08:07] cpartl commented on #674
is this still an issue with the new way of adding a dependent column?

[2013-06-18 08:21] cpartl commented on #939
What is the initial dialog? You can load groupings afterwards. Also, this seems to also have severe consequences on parsing and data structure, where @alexsb is probably more knowledgeable.

[2013-06-18 08:34] cpartl commented on #1245
As I do not have this issue, maybe you can play a little with that yourself.  In ColumnDataPropertiesDialog in methods createDialogArea (if the problem occurs at the start) or in showNumericalDataWidgets and showCategoricalDataWidgets you can try to pack or layout the parentComposite or the scrolledComposite. In createDialogArea you can also try to set different height or width hints for the gidda

[2013-06-18 08:42] cpartl commented on #789
The DVI as a whole does not use any layouts (just internally for the nodes). Same thing with the pathway view. Btw: Does this issue also occur for enRoute? It also uses the SWT ScrolledComposite. Adapting all these views to use the scrollbars implemented by hand sound like some work. But I am just speculating, as I do not know how the scrollbars work. Also, there could be side-effects for remote r

[2013-06-18 09:02] #1248 closed, assigned to cpartl

[2013-06-18 09:19] sgratzl commented on #1276
some one has to tell me what color + brightness I should use for which data type:
- mRNA
- mRNAseq
- microRNA
- microRNAseq
- methylation
- RPPA
- copyNumber
- mutation
- clinical

[2013-06-18 09:21] #1277 closed, assigned to sgratzl

[2013-06-18 09:25] #1242 closed, assigned to cpartl

[2013-06-18 09:32] #679 closed, assigned to cpartl

[2013-06-18 09:34] cpartl commented on #691
how to calculate this? should this always be shown?

[2013-06-18 09:36] cpartl commented on #691
And how to show that if there is no connection between bricks?

[2013-06-18 10:34] cpartl commented on #1228
I cannot reproduce this.

[2013-06-18 11:45] sgratzl commented on #1224
the initial idea, was to have the three samples in a new line, however according to http://stackoverflow.com/questions/4082082/swt-table-with-variable-row-height-working-on-linux-but-not-mac-windows this doesn't work that well for Windows and Mac systems.

[2013-06-18 12:32] cpartl commented on #591
For header bricks this is already implemented that way. What if there is no title bar? (e.g., pathways or km plots)

[2013-06-18 13:15] alexsb commented on #943
The DVI is by definition always support for other views ;). It does make sense though to define and show a default stratification also in DVI, mainly for user education and consistency.

[2013-06-18 13:16] alexsb commented on #1150
ok, agree

[2013-06-18 13:16] #1150 closed, assigned to sgratzl

[2013-06-18 13:19] alexsb commented on #939
I think what we could do easily is to really transpose the file on demand. We're not going to adapt the parser. @ngehlenborg  - how important is this?

[2013-06-18 13:30] alexsb commented on #691
As a first step, I'd say we put this in tool tips for the ribbons. Later we might want to visually encode this somehow or at least show it for all ribbons of a brick at the same time.

Also, as a first step I'd show the number of elements of a sub-ribbon, plus the percentages.

Next you'll have to look for some meaningful statistic. I'm sure that there is statistics that can tell you that two subs

[2013-06-18 13:39] ngehlenborg commented on #939
@alexsb: what do you mean by transpose on demand? I think it is important to be able to select rows, eg. if columns are samples and rows are individual variables, which is the case for TCGA clinical data. But there are probably more important things to fix first.

[2013-06-18 13:39] alexsb commented on #1224
Am I understanding you correctly that it would be hard to have three elements in one row?
I thought this would be a  tree with three leaves

Parent
|-child
|-child2
|-child3

[2013-06-18 13:45] alexsb commented on #939
This ticket is about grouping information. The question is whether we need to be able to load groupings that reference to a known ID by it's row identifier instead of it's column Identifier. Something like

[code]

[2013-06-18 14:01] alexsb commented on #1224
Problem was:

Parent \n
child, child2, child3
|-child
|-child2
|-child3
|-child4
...
|-childN

Here the line after \n requires increased hight.

Could we do:

Parent
|-child
|-child2
|-child3
- (expands)

[2013-06-18 14:24] ngehlenborg commented on #691
This is sufficient for 3.0 (we can deal with the statistics for "expected" overlap in 3.1 or 3.2):

![image03](https://f.cloud.github.com/assets/1216518/668980/65f820c0-d822-11e2-97a4-8466f54f3e41.jpg)

I agree that we should only show this on hover - tooltip is ok even though integration into the vis would be desirable at some point (e.g. 3.1 or 3.2 when we deal with expected overlap vs. actual o

[2013-06-18 14:26] ngehlenborg opened #1284 "develop statistics for expected set overlap"
We need statistics to tell us whether the observed overlap between two sets between two columns is smaller or larger than expected.

The statistic should also be represented in the visualization (maybe not by default but on demand).

Related to #691.

[2013-06-18 14:33] ngehlenborg commented on #939
Some of the clinical data are in fact categorical/for grouping, e.g. histological type, gender or tumor stage:

[code]

[2013-06-18 14:37] ngehlenborg commented on #1218
@alexdb & @mstreit: Should we split this into (a) dealing with minimum resolution (for 3.0) and (b) dealing with high-res displays (post 3.0)?

[2013-06-18 14:38] ngehlenborg commented on #1218
I can have someone from our lab test on a high-res display to make sure that 3.0 works without special treatment of high-res displays. I think there are a few people who have one.

[2013-06-18 14:50] ngehlenborg opened #1285 "Runtime exception and crash when trying to continue with previous project if cal file was deleted"
We need to handle this more gracefully, i.e. show an error message and take user back to startup wizard.
Exception:

[code]

[2013-06-18 14:57] ngehlenborg opened #1286 "dataset info section for project does not adjust size vertically when there is a line break in the URL"
I can't get it to show me the text below the report url **unless** I make the left panel wider.

![screen shot 2013-06-18 at 10 54 56 am](https://f.cloud.github.com/assets/1216518/669220/4594bd0c-d827-11e2-8b77-af597d7bbe50.png)

[2013-06-18 15:08] ngehlenborg opened #1287 "Missing clinical data values in BRCA 2013_04_21 data package for 3.0"
The clinical variables are listed but they don't seem to contain any data.

![screen shot 2013-06-18 at 11 06 32 am](https://f.cloud.github.com/assets/1216518/669294/df1aaea4-d828-11e2-89bd-bdf9ccc677d8.png)

[2013-06-18 15:13] ngehlenborg opened #1288 "selecting a categorical clinical variable when adding new (independent) column crashes StratomeX"
Example: BRCA data set, select "ethnicity".

Seems to be a casting issue.

Exception:

[code]

[2013-06-18 15:17] ngehlenborg opened #1289 "naming issue: TourGuide vs LineUp"
StratomeX says go to the TourGuide
TourGuide says it is not the TourGuide but LineUp.

![screen shot 2013-06-18 at 11 16 00 am](https://f.cloud.github.com/assets/1216518/669340/10f8a736-d82a-11e2-8605-dbd2599e22e1.png)

[2013-06-18 15:27] ngehlenborg opened #1290 "exceptions being thrown when hovering over clinical data KM plot in BRCA 2013_04_21 for 3.0"
To reproduce:
1. BRCA 2013_04_21
2. in first step directly add clinical variable and select patient.daystobirth from list
3. hover over KM plot until you get highlighting

I noticed that the selection info doesn't show anything, even when I select the brick.

I can't tell if this has any effect on the stability of the application but we should probably handle this.

[code]

I also noticed this:

[

[2013-06-18 15:34] ngehlenborg opened #1291 "column selection via header brick does not clear after adding new pathway column"
I already had the methylation and the patient.daystobirth columns and then add the pathway column. After I confirmed I had a selection on the pathway column, but when I clicked the headers of the other two columns the selection was stuck.

![screen shot 2013-06-18 at 11 31 57 am 2](https://f.cloud.github.com/assets/1216518/669444/552a9926-d82c-11e2-9ead-b01cb74d6250.png)

[2013-06-18 15:38] ngehlenborg commented on #1287
Hm, this could be a mapping issue, because when I look at the clinical data independently of another stratification I actually get a distribution of values, see e.g. #1290, which was observed on the same dataset.

[2013-06-18 15:45] ngehlenborg commented on #674
@cpartl: I don't think so. Closing.

[2013-06-18 15:45] #674 closed, assigned to cpartl

[2013-06-18 15:48] ngehlenborg opened #1292 "What is supposed to happened to dependent columns when their parent column gets closed?"
This is in particular a problem when data is mapped onto pathways, because it is no longer clear where it came from.

[2013-06-18 15:53] cagatayTurkay opened #1293 "Scatterplots do not highlight selections from different datatypes"
The IDs need to be correctly mapped

[2013-06-18 15:57] ngehlenborg commented on #1276
Can we make this similar to what we had in good old days (see http://compbio.med.harvard.edu/tcga/stratomex)?

Please use the same color for XXX and XXXseq.

[2013-06-18 16:01] ngehlenborg commented on #664
Moved to 3.0.

[2013-06-18 16:06] alexsb commented on #939
ok, but we'll probably treat this as data not as groupings. so we might want to add a transpose step optionally. @cpartl, kann you investigate whether there is a platform independent way to transpose a text file we could use. If this is simple we should include it. Otherwise we'll move it to 3.1.

[2013-06-18 16:07] alexsb commented on #1218
Yes. This ticket is about testing with 1280 x 1024. Retina & co are different.

[2013-06-18 16:09] alexsb commented on #1287
Could you be specific on how to reproduce?

[2013-06-18 16:11] alexsb commented on #1292
Right now: nothing (closing). When we integrate the dependent columns tighter in the future we will remove them together.

[2013-06-18 16:11] #1292 closed, assigned to alexsb

[2013-06-18 16:11] ngehlenborg commented on #1287
Download http://dev.caleydo.org/tcga/2013_04_21/2013_04_21_BRCA.cal and try to check survival for a gene mutation.

[2013-06-18 16:13] alexsb commented on #664
That requires some work which will be obsolete with StratomeX 2.0. Therefore we didn't want to do that. It's definitely desirable though.

[2013-06-18 16:14] ngehlenborg opened #1294 "What does it mean to edit the record perspective filter and what is a record perspective?"
Terminology seems to be very developer oriented.

![screen shot 2013-06-18 at 12 12 50 pm](https://f.cloud.github.com/assets/1216518/669706/0a4502b0-d832-11e2-8f1f-a6561a44164f.png)

[2013-06-18 16:16] ngehlenborg opened #1295 "Is the number of copy number "clusters" hardcoded?"
There are 4 groups but the TourGuide says that there are 5.

![screen shot 2013-06-18 at 12 15 46 pm](https://f.cloud.github.com/assets/1216518/669722/6d5542c0-d832-11e2-9e12-d43e65e3a554.png)

[2013-06-18 16:18] ngehlenborg opened #1296 "Relabel "#clusters" in Tour Guide metrics view"
We should either use "#sets" or "#groups", but "#clusters" is usually misleading.

[2013-06-18 16:20] mstreit commented on #1296
I vote for "#groups"

[2013-06-18 16:22] ngehlenborg commented on #1296
Same here.

[2013-06-18 16:35] ngehlenborg opened #1297 "File Open dialog on Mac OS X 10.7 does not work properly"
This has been an issue for a long time but I never got around to reporting it.

I always need to click on a folder twice (first on the folder I want, then on another folder, and then again on the folder whose content I want to see) to get its content and the "Favorites" part of the sidebar is missing, too (they show up after I click an entry in the file selector).

![screen shot 2013-06-18 at 12 3

[2013-06-18 16:38] ngehlenborg commented on #939
Hm - maybe transposing is not the only way to solve the problem. Why don't we simply add checkboxes to the rows and let the user limit the row selection (instead of transposing)?

[2013-06-18 16:40] ngehlenborg opened #1298 "What row ID type/class am I supposed to select for some "random" data that I want to load?"
In this case it is clinical data and each row essentially has a different type.

Could we simply have something like "generic"? There will always be data "types" that we did not know about and there should be a clear way to load those.

![screen shot 2013-06-18 at 12 38 20 pm](https://f.cloud.github.com/assets/1216518/669847/9b858008-d835-11e2-987f-875e1ebf687b.png)

[2013-06-18 16:41] alexsb commented on #1296
(y)

[2013-06-18 16:44] alexsb commented on #1298
Hit new!

[2013-06-18 16:47] alexsb commented on #939
We decided against that in the past with the argument that we allow a header but the rest should be continuous. Might make sense for few rows, but of course is useless for many.

[2013-06-18 16:48] ngehlenborg commented on #1298
Too complicated for regular users - how should they know what ID class name or what ID type name to enter? What is the difference anyway?

[2013-06-18 16:52] alexsb commented on #1298
There's 2 pages of documentation on that. The difference is that we're building a relational schema and that needs to be well defined. We could maybe add a unmapped category.

[2013-06-18 16:54] ngehlenborg commented on #1276
Colors in current sample set are fine as far as I can tell.

[2013-06-18 16:55] ngehlenborg commented on #939
But the same argument would hold for files that have many columns, right?

[2013-06-18 16:57] alexsb opened #1299 "Apply color brewer scales to TCGA Datasets"
Now that #1275  is complete it needs to be applied and tested.

[2013-06-18 16:58] ngehlenborg opened #1300 "sample TCGA GBM data set contains each clinical variable twice"
![screen shot 2013-06-18 at 12 57 36 pm](https://f.cloud.github.com/assets/1216518/669940/376f84bc-d838-11e2-8462-85c836747934.png)

[2013-06-18 16:59] alexsb commented on #939
Yes, but usually the of the columns is less, but that's a convention only.

[2013-06-18 17:01] sgratzl commented on #1300
known problem, when the new packages are created for #1276 it should be fixed

[2013-06-18 17:01] #1300 closed, assigned to sgratzl

[2013-06-18 17:01] ngehlenborg commented on #1298
There is not information about where to find those 2 pages. I also doubt that it is a good idea to send users to read 2 pages of documentation if we could address this problem by having some sort of "catch all" data type that works for most applications.

![screen shot 2013-06-18 at 12 59 06 pm](https://f.cloud.github.com/assets/1216518/669954/8be3948e-d838-11e2-80fe-23d8da99bbc5.png)

![screen sh

[2013-06-18 17:05] alexsb commented on #939
Oh, and we also decided that we definitely don't want to do inhomogeneous rows. That's simply not possible with the architecture right now, and this is also desirable. Only one variable (columns or rows) can be inhomogeneous, both is useless. You always want to know which  one is inhomogeneous, and it's much much simpler to have a convention on which it is. So we can do row selection, but we cant

[2013-06-18 17:06] ngehlenborg commented on #939
If we go by TCGA data, we have a pretty good mix of files with many rows/few columns and few rows/many columns.

If we can live without this convention I could load the data that I wanted to load for a long time. We'd just have to add checkboxes to the rows. I guess we could even allow selection on both rows and columns at the same time ...

[2013-06-18 17:07] sgratzl commented on #1299
take a look at `EDataSetType` and you should be fine

[2013-06-18 17:08] alexsb commented on #1298
See the help button ;)

![help](https://f.cloud.github.com/assets/2039375/669998/8321e2c8-d839-11e2-8435-18b6a79ac927.png)

This is important to understand as you have to understand it to create a complex analysis.

But I agree, there could be a default "Unmapped" category.

[2013-06-18 17:08] ngehlenborg commented on #939
Whatever it is - we need a solution to load the data from the TCGA clinical data files for Release 3.0.

[2013-06-18 17:10] sgratzl commented on #1152
I checked tour guide and the line up

In addition, if someone still finds an errror, he should fix it

[2013-06-18 17:24] ngehlenborg opened #1301 "data import dialog and the linked documentation are contradictory"
Documentation:

Dialog:

![screen shot 2013-06-18 at 1 20 52 pm](https://f.cloud.github.com/assets/1216518/670083/b82da6bc-d83b-11e2-92f2-ed02da7dad4b.png)

I made some suggestions in the chat since there seems to be indeed quite some confusion about this even among the developers (probably because "type" and "class" are very abstract terms):

[2013-06-18 17:31] ngehlenborg commented on #1298
Ok, let's introduce "generic (unmapped)" (I think "unmapped" by itself is not that helpful either because you need to read the documentation to understand what that would mean).

Also see #1301 for terminology regarding "ID Class" and "ID Type".

[2013-06-18 17:53] alexsb commented on #1301
There is no confusion. ID Class = IDCategory. ID Type = IDType.

Row Type and Row Identifier OK for me too.

[2013-06-18 17:54] #1289 closed, assigned to sgratzl

[2013-06-18 17:54] #1295 closed, assigned to sgratzl

[2013-06-18 17:54] #1296 closed, assigned to sgratzl

[2013-06-18 17:56] sgratzl commented on #1224
currently
Parent (...) child, child2, child3
|-child
|-child2
|-child3
|-child4

is implemented

I don't think that the expand button is useful, as you would need in the same way a collapse counterpart, which would more or less ends up in an additional level.

But we can talk about that

[2013-06-18 17:59] sgratzl commented on #1294
this is an remnant of the old TourGuide before LineUp.

In categorical data domains you can exclude specific groups from computation. For strafications you can skip whole stratifications. This is similar to the column filter but on a data domain level.

[2013-06-18 18:04] sgratzl commented on #1288
ethnicity is a string category and can therefore not be used for a kaplan maier plot. But I don't know what else to use for such kind of a dependent column

[2013-06-18 18:07] ngehlenborg commented on #1294
Do we need this? Can the same thing be done with the column filter?

"record perspective" will not be understood by regular users of Caleydo.

[2013-06-18 18:12] alexsb commented on #1224
Nice, I like it.

One problem: I can never expand the mouse over as it disappears before I can hit the widget ;). A solution would be that for each ID Category the Mouse Over and Selection remain, also in case of 0 selected items until another ID Category is selected. Alternatively they could always remain but moved downwards so that old ones are no longer visible.

Another issue is that the name

[2013-06-18 18:16] ngehlenborg opened #1302 "Why is log rank score and p-value a serial combination when querying for stratifications?"
I assume the p-value is computed based on the log-rank score, right? Then they should not be added up.

![screen shot 2013-06-18 at 2 05 58 pm](https://f.cloud.github.com/assets/1216518/670426/4e387802-d842-11e2-886e-d88c3afdb336.png)

[2013-06-18 18:19] alexsb commented on #1288
Here we should automatically show a histogram.

[2013-06-18 18:21] ngehlenborg commented on #1288
A histogram would work, but I think a bar chart would be better. Until we have one, we should not let users select this for Kaplan-Meier plots.

[2013-06-18 18:30] #1285 closed, assigned to sgratzl

[2013-06-18 18:30] #1302 closed, assigned to sgratzl

[2013-06-18 18:37] cpartl commented on #779
Implemented some workaround for windows systems. It requires awt not to be in headless mode, therefore I disabled headless mode for win systems now. There is still a strange problem wit this workaround: You have to make the screenshot twice to get what you want.

[2013-06-18 18:46] alexsb commented on #1133
I've observed a problem with a pathway. Reproduce with latest GBM sample dataset:

Open LineUp via StratomeX. Open Pathway. Pathway is in same area as lineup. Once you've dragged pathway up and closed and reopened it again it behaves correctly.

Other views work as expected (enRoute, PCs and table tested).

[2013-06-18 18:48] alexsb commented on #1288
What's the difference between a histogram and a bar chart in this case?

[2013-06-18 18:49] sgratzl commented on #1297
I can't do anything about this

as it is a standard SWT widget http://help.eclipse.org/indigo/topic/org.eclipse.platform.doc.isv/reference/api/org/eclipse/swt/widgets/FileDialog.html, which is operating system dependent

-> sorry but wontfix

[2013-06-18 18:57] ngehlenborg commented on #1297
Can we test this without the file type filter? I see a spinner in the lower left corner that never stops. Maybe it has to do with this.

The dialog is working fine for me in Eclipse.

If we don't fix this most Mac users won't be able to navigate their file system.

[2013-06-18 19:01] sgratzl commented on #1297
LoadProjectStartupAddon line 201 -> comment it and test it yourself

[2013-06-18 19:02] #1286 closed, assigned to sgratzl

[2013-06-18 19:20] alexsb commented on #939
You said "there are probably more important things to fix fist" ;). For TCGA that's not an issue since we provide it pre-packaged. Let's wait for @cpartl  to investigate as discussed above. I think the transpose function would be the cleanest solution.

[2013-06-18 19:27] ngehlenborg commented on #939
I didn't mean that it is not important enough to be fixed for 3.0, but there are plenty of bugs that all should be fixed more urgently than addressing this problem.

[2013-06-18 19:31] #1294 closed, assigned to sgratzl

[2013-06-18 19:37] sgratzl commented on #1288
till we have the chart via #1294 I implemented a filter that only the Integer clinical variables will be shown

[2013-06-18 19:44] alexsb opened #1303 "Provide chart (histogram) for small multiple categorical data."
Replacing K-M Plots in these cases

[2013-06-18 19:46] ngehlenborg commented on #1288
A histogram gives you the distribution of a univariate, numerical variable (e.g. good for age or weight), a bar chart shows you the number of times a category is mentioned in a categorical variable with multiple categories.

[2013-06-18 19:50] alexsb commented on #1288
semantics ;). It's the same in the end.

[2013-06-18 19:51] #1288 closed, assigned to sgratzl

[2013-06-18 20:14] ngehlenborg commented on #1297
I reduced the call to the minimum but to no avail, the problem persists. Filed a bug report:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=411064

[2013-06-18 20:38] ngehlenborg opened #1304 "gray-only Kaplan-Meier plots have less functionality than the original ones"
The colored ones used to work just fine and now it doesn't.

Whatever the solution, we need one that allows users to compare:
(1) the how survival in one group to all others (could be done with extra curves in small multiples)
(2) the survival of a subset of two or more curves to each other within the subset (requires color or labels in header brick or detail view - but ideally in the header brick

[2013-06-19 08:14] sgratzl commented on #1297
well then I move it to 3.1 and assign it to you @ngehlenborg

[2013-06-19 09:07] cpartl commented on #1298
I don't understand this ticket at all, as clinical data is inhomogeneous, the column id type will be disabled when selecting inhomogeneous. If the rows do contain the inhomogeneous identifiers, it is not possible to import such an inhomogeneous dataset at all at the moment. And it will be quite some effort that also involves parsing changes to enable this.

[2013-06-19 09:17] cpartl commented on #1301
I'm also fine with the current terminology. In my ears, identifier sounds more like one single ID (which is actually an abbreviation for identifier i think) rather than the "ID Type"...

[2013-06-19 10:01] cpartl commented on #939
The problem is that its not just a matter of adding checkboxes to the rows.The parser that creates the groupings takes the file and "row deselection" is not supported in the parser (correct me if I am wrong). Btw: At least the clinical dataset I am using (which should be from the sample project) has inhomogeneous columns, not inhomogeneous rows.

For 3.1 we could think about rewriting the parser a

[2013-06-19 11:21] sgratzl commented on #1287
download:

http://gdac.broadinstitute.org/runs/stddata__2013_04_21/data/BRCA/20130421/gdac.broadinstitute.org_BRCA.Merge_Clinical.Level_1.2013042100.0.0.tar.gz

daystodeath is almost everywhere NA.

or take a look at the raw clinical variable data using the table view.

[2013-06-19 13:46] sgratzl commented on #1224
what do you mean by remain. That even if you don't have selected them, that an element should be shown?.

that would be an option

another option would be to let the user switch to mode, which is called auto expand, where everything is expanded by default. That could solve your mouse over issues

[2013-06-19 13:52] cpartl commented on #939
I just realized that simple transposition of the file will not work due to header rows.

[2013-06-19 13:53] alexsb commented on #1224
Remaining - The selection itself shouldn't remain, but the "Selection" or "Mouse Over" header showing "0 Selections"

Auto-expand is bad if you want to mix, e.g., a handful of genes with many samples (StratomeX & Pathway e.g.)

[2013-06-19 13:58] alexsb commented on #939
Nils, please attach an example of a file we need to support.

[2013-06-19 14:08] ngehlenborg commented on #939
Here are some examples:
- http://gdac.broadinstitute.org/runs/stddata__2013_05_23/data/BRCA/20130523/gdac.broadinstitute.org_BRCA.Clinical_Pick_Tier1.Level_4.2013052300.0.0.tar.gz
  - file: _BRCA.clin.merged.picked.txt_
- http://gdac.broadinstitute.org/runs/stddata__2013_05_23/data/BRCA/20130523/gdac.broadinstitute.org_BRCA.Merge_Clinical.Level_1.2013052300.0.0.tar.gz
  - file: _BRCA.clin.merged.t

[2013-06-19 14:13] ngehlenborg commented on #1297
Reassigned to 3.0 since this needs to be addressed somehow.

[2013-06-19 14:16] alexsb commented on #1298
You're right, there's no sense in that for this example. But you could say for miRNA for example, I don't have a variable that I want to map.

I'm not sure whether this is actually a hard problem? We could simply add a text line in the drop down and call it unmapped. In reality we'll handle it as a regular ID type creating a new "Unmapped" every time.

[2013-06-19 14:17] alexsb commented on #1297
A (bad) hack would be a check for the platform and opening the Swing File chooser.

[2013-06-19 14:18] sgratzl commented on #1297
swing doesn't work as we disable AWT

[2013-06-19 14:21] ngehlenborg commented on #1297
I need to do more testing on other Macs (maybe it is just on my machine) and if it is a problem on other Macs, then we might have to include a warning message or something like that before the dialog pops up. And mention it in the FAQ etc. If it is only on my machine, I need to figure out what is causing this.

[2013-06-19 14:24] ngehlenborg commented on #939
Btw, whatever parser we are using, it must be able to read (selected?) rows from such files, because we package them into the TCGA packages.

[2013-06-19 14:25] alexsb commented on #939
I assume that @sgratzl transposes them?

[2013-06-19 14:32] ngehlenborg commented on #939
See `TCGADataSetBuilder.java` line 326: `setUpClinicalData(...)`. There is a `transposeCSV(...)` method that transposes the file (by re-writing it to another file that is then used for parsing).

[2013-06-19 14:48] ngehlenborg commented on #1301
Please put your I-have-never-written-a-line-of-code-in-my-life-hat on for a second and try to understand the difference between "identifier type" and "identifier class".

I hope you see that I am playing devils advocate here (and in many other tickets, too) - but we want to make sure that our users understand the software and can use it. Otherwise it will be hard to make this a success.

[2013-06-19 14:55] alexsb commented on #939
Yes. Let's go with that. @cpartl - please add a button to the import table which transposes the file, writes a new file source_name-transposed.txt and automatically load the new file into the import dialog.

If there are headers they can be excluded by excluding the resulting columns later.

[2013-06-19 14:59] sgratzl commented on #1224
@alesb

the pushed version, contains now two strategies:
1. the first one is to auto expand to the last level, if the number of entries is <= 4
2. if you select a selection type of the category the [default] selection type remain, even it has no entries

[2013-06-19 15:01] sgratzl commented on #1156
But is a longer story, e.g. if you import data, you only get limited information what is going on and what went wrong.

[2013-06-19 15:11] sgratzl commented on #1291
I'm sorry but I can't follow you. Can you rewrite the description and add a step by step description of selection, clicking and so on, please.

[2013-06-19 15:12] #1156 closed, assigned to sgratzl

[2013-06-19 15:13] sgratzl commented on #943
do we already have an agreement?

[2013-06-19 15:16] #1152 closed, assigned to cpartl

[2013-06-19 15:56] cpartl commented on #1301
Renamed in importer. The documentation needs to be updated, but this is a more general thing as new screenshots have to be made etc.

[2013-06-19 15:57] #1301 closed, assigned to cpartl

[2013-06-19 18:54] #939 closed, assigned to cpartl

[2013-06-19 19:21] ngehlenborg opened #1305 "bar for normal copy number is very hard to see in LineUp/TourGuide"
Could we use a darker gray for "normal"?

![screen shot 2013-06-19 at 3 19 49 pm](https://f.cloud.github.com/assets/1216518/677152/5c4ce3be-d915-11e2-96ec-62e9b3fb1f02.png)

We probably have the same issue with mutation calls.

[2013-06-20 06:41] #1224 closed, assigned to sgratzl

[2013-06-20 09:04] sgratzl commented on #943
part of b933d8e98e7c145e02fd9bb5b57f34fcc1e72307 for numerical tables only

[2013-06-20 10:33] sgratzl commented on #1305
see #1275 --> the colors are determined using a colorscheme (ColorBrewer.RdBu)

@alexsb how should we handle this?

[2013-06-20 12:18] #1298 closed, assigned to cpartl

[2013-06-20 14:08] ngehlenborg commented on #1287
There seems to be indeed a problem with the clinical patient IDs, preventing proper mapping between clinical and other data types.

I observed the same problems with THCA__2013_04_21 (3.0):

**Clinical**

![screen shot 2013-06-20 at 10 06 30 am](https://f.cloud.github.com/assets/1216518/681484/c2552fca-d9b2-11e2-859e-5d15c2dc260e.png)

**mRNA**

![screen shot 2013-06-20 at 10 06 42 am](https://f.c

[2013-06-20 15:14] #827 closed, assigned to cpartl

[2013-06-20 15:16] #1194 closed, assigned to mstreit

[2013-06-20 15:20] ngehlenborg commented on #1228
This is what happened after I changed the color mapping with the histogram (through the DVI because the handles didn't react when I tried to do this directly from StratomeX):

![screen shot 2013-06-19 at 5 26 40 pm](https://f.cloud.github.com/assets/1216518/681926/e43dc6d8-d9bc-11e2-86c6-282c64f0b9ae.png)

[2013-06-20 15:35] mstreit commented on #716
@alexsb and @ngehlenborg
Do we plan to load all genes for release 3.0? That would also mean to reopen #802.

[2013-06-20 15:38] ngehlenborg commented on #716
It would be very useful - at least to have the genes in the background for pathway maps, i think for the cluster heatmaps its not going to be very interesting to have all 20K genes.

[2013-06-20 15:38] alexsb commented on #716
This was moved to 3.1 See #1216 - which is a duplicate of #802
This bug is independent of that, however. CCLE, for example, contains more than 1500.

[2013-06-20 15:55] #1283 closed, assigned to alexsb

[2013-06-20 15:56] alexsb commented on #1305
Two options:
- outlines, either always, or if we notice that a color has low saturation or high brightness
- darker colors

This is an issue for the histogram, etc too. We should solve this consistently.

[2013-06-20 15:57] alexsb commented on #1305
The histograms and bars in enRoute use outlines btw. Looks nice.

[2013-06-20 16:15] mstreit commented on #829
Could be related to that issue, which has already been fixed in the JOGL HEAD version:
https://jogamp.org/bugzilla/show_bug.cgi?id=673
However, the new release of JOGL is not available yet.
As only I have the problem, I will move the ticket to post 3.0 release.

[2013-06-20 16:16] ngehlenborg commented on #1297
This problem does not occur when launching Caleydo from the latest 3.0 test builds.

[2013-06-20 16:27] #1297 closed, assigned to ngehlenborg

[2013-06-20 17:07] #691 closed, assigned to cpartl

[2013-06-20 17:42] #1228 closed, assigned to cpartl

[2013-06-20 19:29] #1167 closed, assigned to alexsb

[2013-06-20 19:35] alexsb commented on #1305
Solved this problem in the histogram with outlines.

![color3](https://f.cloud.github.com/assets/2039375/683488/68d4c2de-d9e0-11e2-8036-047c23c3615b.png)
![color2](https://f.cloud.github.com/assets/2039375/683491/70d49c3e-d9e0-11e2-87bd-9aaed579a4a9.png)
![colors](https://f.cloud.github.com/assets/2039375/683492/70e3d8ac-d9e0-11e2-873d-459823d4b7b9.png)

Might not work as good in this case though,

[2013-06-20 19:39] #1299 closed, assigned to cpartl

[2013-06-20 19:41] alexsb commented on #789
@ngehlenborg - is this still an issue

[2013-06-20 19:46] ngehlenborg commented on #664
I tried this with three methylation columns from the TCGA test data set and after opening one brick in detail mode and closing it again, only two columns are in the view and one is in the "leg". Wasn't this supposed to bring all three columns back?

[2013-06-20 19:49] ngehlenborg opened #1306 "cancel button in color map dialog for datasets is unnecessary or not working"
The colors are updated as the user is selecting them - are they supposed to reset to the original when the user cancels instead of clicking "OK"?

![screen shot 2013-06-20 at 3 48 23 pm](https://f.cloud.github.com/assets/1216518/683566/93a2390e-d9e2-11e2-8d47-c7808f9d5abd.png)

[2013-06-20 19:52] ngehlenborg opened #1307 "color scheme for "summary heatmaps" is not updating"
They are using the color map that was set when the application was launched.

![screen shot 2013-06-20 at 3 51 35 pm](https://f.cloud.github.com/assets/1216518/683588/e476228c-d9e2-11e2-8d50-4a4d8b80d19e.png)

[2013-06-20 20:14] alexsb opened #1308 "Exception when rendering overview heat map."
When switching to the overview heat map view in stratomeX I get this exception non-stop:

[code]

[2013-06-20 20:17] ngehlenborg commented on #789
Yes, in the DVI I have the same issues as in the past. The within-brick pathways in StratomeX do scroll.

[2013-06-20 20:29] ngehlenborg commented on #1173
I have managed to run Caleydo 3.0 successfully on two different Macs. However, in order to launch the application with the binary launcher or from the the command line (by calling Caleydo.app/Content/MacOS/Caleydo) the Oracle Java JDK 1.7 has to be installed. The JRE (what you get when downloading Java from java.com) is not sufficient, because it does not update the java -version symlinks or add j

[2013-06-20 20:29] #1173 closed, assigned to ngehlenborg

[2013-06-20 20:32] ngehlenborg opened #1309 "Caleydo 3.0 build for Mac OS X does not launch due to extra command line parameter "-showlocation""
This prevents Caleydo from launching because it gets passed the unknown "-showlocation" parameter. Removing the parameter in the plist file fixes the problem.

[2013-06-20 20:33] ngehlenborg commented on #670
How do we want to proceed with this? Shall we discuss this next Monday?

[2013-06-20 20:38] ngehlenborg commented on #870
The issues and use cases described here have been addressed.

[2013-06-20 20:38] #870 closed, assigned to alexsb

[2013-06-20 20:42] ngehlenborg commented on #1274
@sgratzl How can I do a mutual exclusivity query?

[2013-06-20 20:43] #1308 closed, assigned to sgratzl

[2013-06-20 20:45] alexsb commented on #1307
@cpartl, can  you please investigate. The remainder of this problem is a display list issue in the layout. I've added this to the end of StratomeX:

[code]

The event arrives, but the Layout Renderer is not set dirty.

[2013-06-20 21:01] #1307 closed, assigned to alexsb

[2013-06-20 21:11] alexsb commented on #1276
Did someone fix #1299 because it looks like it's fixed - I closed it. Then this is good to go.

[2013-06-20 21:11] alexsb commented on #1299
Works now? How did it?

[2013-06-20 21:22] ngehlenborg opened #1310 "once a brick has been split, it will re-appear as a split brick even after removing and adding the corresponding column again"
The splitting should be reset as soon as the column is removed.

[2013-06-20 21:44] ngehlenborg commented on #1309
Problem fixed in latest builds.

[2013-06-20 21:44] #1309 closed, assigned to alexsb

[2013-06-20 21:46] alexsb commented on #1310
That's not clear. What it the splitting was deliberate and the user wants to preserve it. However, we should probably create a copy of the perspective the first time something is split.

Moving to 3.1

[2013-06-20 21:52] ngehlenborg opened #1311 "adding independent column to dependent column and canceling leaves dependent column stratified"
If the user cancels the creation of the dependent column, the dependent column show be reverted back to the unstratified state.

To reproduce:
1. Add dependent column without having an independent column.
2. Then use the small "+" next to the header brick to add an independent column for this column.
3. Select a stratification from the Tour Guide.
4. Cancel using the "X".

[2013-06-20 21:54] ngehlenborg commented on #1310
Yes, we definitely need a way to get back to the original stratification. Creating a copy would be a good solution.

[2013-06-20 21:56] ngehlenborg opened #1312 "Kaplan-Meier curve plot rendered into layer above hover menu"
![screen shot 2013-06-20 at 5 56 41 pm](https://f.cloud.github.com/assets/1216518/684272/4fc79b36-d9f4-11e2-8dc6-12bd3955aada.png)

[2013-06-20 22:01] #785 closed, assigned to alexsb

[2013-06-20 22:06] #1312 closed, assigned to alexsb

[2013-06-20 22:15] #1233 closed, assigned to alexsb

[2013-06-20 22:17] alexsb commented on #1187
Fixed with info.txt file.

[2013-06-20 22:17] #1187 closed, assigned to alexsb

[2013-06-20 22:43] #1306 closed, assigned to nobody

[2013-06-20 22:57] alexsb commented on #772
This is somewhat obsolete. This information is available in StartomeX or enRoute. Also, there's not much space left for textual info. Wontfix.

[2013-06-20 22:57] #772 closed, assigned to alexsb

[2013-06-21 06:59] sgratzl commented on #1274
find similar clusters trigged on categorical data domains is automatically mutual exclusive. see ComputeScoreFilters line 46ff

[2013-06-21 07:32] sgratzl opened #1313 "Think about creating a scripted tcga data importer"
e.g. using ANT tasks

alternative using javax.script JavaScript

[2013-06-21 08:02] cpartl commented on #664
Yes, that is what should be happening. I just tried it again with 3 methylation columns and it works...

[2013-06-21 08:17] #1311 closed, assigned to sgratzl

[2013-06-21 08:19] sgratzl commented on #1287
fixed

[2013-06-21 08:19] #1287 closed, assigned to sgratzl

[2013-06-21 08:50] cpartl commented on #664
Hm, my commit somehow got "lost". Maybe someone discarded this change? :-(

[2013-06-21 08:59] #664 closed, assigned to cpartl

[2013-06-21 09:07] sgratzl commented on #1276
- what will be the target folder?
  do we still host it at harvard, at icg graz, oder at our caleydo vm?
- as I assume that @alexsb is doing the release as well as the webstart version, can I have a jnlp template

[2013-06-21 09:08] cpartl commented on #779
removed this feature for win systems as discussed with @alexsb We should implement a more useful screenshot feature that only contains the canvas of a view.

[2013-06-21 09:08] #779 closed, assigned to cpartl

[2013-06-21 09:50] #654 closed, assigned to cpartl

[2013-06-21 11:15] mstreit commented on #1131
WEKA is still a dependency, as we currently offer two k-means tabs - one with WEKA and the other one uses our own implementation. Can we remove WEKA now? We also do not need two k-means options in the cluster dialog.

[2013-06-21 11:25] mstreit commented on #716
![screenshot_20130621_132229](https://f.cloud.github.com/assets/4129755/686775/3f31e828-da65-11e2-873a-122dc5c332b0.png)

[2013-06-21 11:29] mstreit commented on #1133
All three TourGuide instances appear as a main tab right next to StratomeX. I would expect them to be opened at the bottom.

[2013-06-21 11:29] sgratzl commented on #1131
see #1146 it was because the new k-means implentation was used. And I didn't have the time yet to check where the error is.

If you don't like the two k-means options, just remove one of the corrensponding extension entries

[2013-06-21 12:04] mstreit commented on #1276
We will host it at our Caleydo VM server.
I've updated the JNLP template file. However, it needs to be tested with an export.

[2013-06-21 12:10] mstreit commented on #1131
I would like to remove the old WEKA clusterer option.
Can you try to fix the new k-means clusterer? Is there a ticket?

[2013-06-21 12:30] mstreit commented on #1131
That's really strange. It used to work already (see my comment above). I've already tried to clean the .caleydo folder as well as the launch config. Anything else I could try?

[2013-06-21 12:31] mstreit opened #1314 "Selection view NPE when starting with sample gene expression dataset"
[code]

[2013-06-21 12:35] mstreit commented on #1276
The caleydo VM can be reached via http://dev.caleydo.org/.
However, this is not a nice URL for hosting our data packages. I suggest to let Mark configure "data.caleydo.org" and make it point to "dev.caleydo.org/data"

[2013-06-21 12:36] mstreit commented on #716
@alexsb Please test with CCLE and close ticket if it works.

[2013-06-21 12:38] ngehlenborg commented on #1276
At some point we should consider finding a location that has a better connection for downloads. Downloading the latest builds from the VM in Graz takes more than 5 minutes for me.

[2013-06-21 12:38] ngehlenborg commented on #1287
What was the problem and how did you fix it?

[2013-06-21 12:41] sgratzl commented on #1287
it seemed to be that the column order / count within the clinical file is not fix. The problem was that a wrong column was used to resolve the tcga samples. Now it should be dynamically resolved to "patient.bcrpatientbarcode"

[2013-06-21 12:43] sgratzl commented on #1276
maybe something like Amazon S3

[2013-06-21 12:46] mstreit commented on #1276
@ngehlenborg How big was the file that took 5 mins to load?

[2013-06-21 12:47] ngehlenborg commented on #1276
137 MB

On Jun 21, 2013, at 8:46 AM, Marc Streit wrote:

[2013-06-21 12:49] mstreit commented on #1276
the 77MB CCLE project file needs about 10 second here at JKU

[2013-06-21 13:19] sgratzl commented on #1133
I don't know. Similarly I can't see any splash screen, and I don't know why

[2013-06-21 13:20] #1314 closed, assigned to sgratzl

[2013-06-21 13:22] ngehlenborg commented on #1133
Because it is the Eclipse RCP ...

[2013-06-21 13:23] alexsb commented on #1276
The ccle file was fast enough for me too.

Concerning release: I don't have to do it - I think my build still includes a lot of unnecessary stuff. The latest builds have 130 mb, but should have less than the old ones.

[2013-06-21 13:23] alexsb commented on #1276
@mstreit provides jnlp templates

[2013-06-21 13:31] alexsb commented on #716
Works, not very fast, but works ;)

[2013-06-21 13:31] #716 closed, assigned to mstreit

[2013-06-21 13:38] alexsb opened #1315 "Improve copy-number handling in CCLE dataset"
Copy-numbers in ccle are currently numerical. That breaks pretty much everything about the way we like to handle copy-number data.

We can either
- bin copy-numbers
- leave it as it is

[2013-06-21 13:42] mstreit commented on #1133
I still have Eclipse 4.2.1. Will try to update to 4.2.2. Maybe that solves some of these issues. I also still have the problem with the empty window that pops up during the startup phase.

[2013-06-21 13:44] alexsb opened #1316 "Colors are gone for copy number and mutation status data"
See screenshot

![colors_gone](https://f.cloud.github.com/assets/2039375/687344/991d52f6-da78-11e2-9d76-14a9f6b7bae9.png)

Notice that the colors are still there in the histogram where I use the colors directly from the categories.

Not sure whether to assign me, @cpartl @mstreit or @sgratzl

Will investigate later.

[2013-06-21 13:48] mstreit commented on #1133
Wow, the update to Eclipse RCP 4.2.2 solved my problem with the view positions.

[2013-06-21 13:48] #1133 closed, assigned to sgratzl

[2013-06-21 13:50] alexsb opened #1317 "DVI is not in sync with LineUp Stratifications"
When assigning stratifications via LineUp DVI only gets the DataDomain association, but not the TablePerspective association. This can be either because the TablePerspective is not registered correctly or because the update event is not called.

![dvi](https://f.cloud.github.com/assets/2039375/687368/7c37096a-da79-11e2-9013-5cd0f93733d7.png)

[2013-06-21 13:51] sgratzl commented on #1316
for which project?, latest sample project?

[2013-06-21 13:56] alexsb commented on #1316
Did you replace the sample project over night? It works now.

[2013-06-21 13:56] #1316 closed, assigned to nobody

[2013-06-21 14:03] #1317 closed, assigned to sgratzl

[2013-06-21 14:04] mstreit commented on #1231
I vote for option 1.

[2013-06-21 14:05] sgratzl commented on #1316
I replaced it on Wednesday, due to the bug fixed in 9b1701835d01ef07e297f2933adbf2d49123ac31

[2013-06-21 14:33] alexsb commented on #1231
@mstreit  including increasing spacing?

[2013-06-21 14:34] alexsb commented on #1305
Works great!

[2013-06-21 14:34] #1305 closed, assigned to sgratzl

[2013-06-21 15:08] ngehlenborg opened #1318 "change direct insert from Line Up from single click to double click"

[2013-06-21 15:21] alexsb commented on #1304
As I said on skype I'm extremely reluctant to re-introduce colors (for aesthetic reasons, but also for practical ones: we use color for many things already and it would be better to not use colors twice).

Showing all lines in all multiples is definitely an option for me.

I don't fully understand (2). However, I think if you can't recognize a curve by it's shape and magnitude it's probably a very

[2013-06-21 15:25] alexsb opened #1319 "Handle general categorical data."
Out of, e.g., the clinical dataset we should add the categorical columns to the primary LineUp interface. They should work in StratomeX out of the box, as they are handled equal to mutation & copy number.

Generally, for inhomogeneous datasets the "numerical" columns should go into the dependent lineup, the "categorical" columns should go into the primary one.

[2013-06-21 15:27] alexsb commented on #1303
This is the alternative solution to #1319. I think the other solution is (a) more important (b) easier to implement (c) more in the spirit of StartomeX.

This is actually a generalization of what we consider as dependent columns - this would be equally possible with all other datasets. Moving to 3.1, re-evaluate then.

[2013-06-21 15:33] ngehlenborg commented on #1304
Regarding shapes: the problem with the shape of survival curves is that they are often quite similar (by design).

Here is an example for (2). I want to compare the selected, the hovered and the curve between them (2nd from top). I can't tell which of the many gray curves represents the one between the hovered and the selected.

![screen shot 2013-06-21 at 11 29 23 am](https://f.cloud.github.com/a

[2013-06-21 15:33] alexsb opened #1320 "Decide on new License"
GPL is a scare for many commercial users and could potentially be conflicting with our own interests. I suggest the new BSD license:

[code]

[2013-06-21 15:35] ngehlenborg commented on #1320
For Refinery, we are using a modified version of the MIT license (the "use-of-name" clause was added by the legal department):

[code]

[2013-06-21 15:36] ngehlenborg commented on #1320
And yes, I agree with the new BSD license.

[2013-06-21 17:45] alexsb opened #1321 "Re-load sample project if newer version is available"
This will allow us to update the project if needed without requiring updating the software and telling users to delete the sample project from some obscure place.

[2013-06-21 17:48] alexsb opened #1322 "Auto-report bugs and send latest log to defined e-mail address"
If Caleydo experiences problems or crashes (with anything other then a segfault) we should open a widget asking the user whether he wants to send the log file to us and add some message.

Not sure if we want/can do this for 3.0.

[2013-06-21 17:52] alexsb opened #1323 "Show preview of distribution of elements between clusters in LineUp"
Use a stacked bar to show the distributions of the clusters. We have something similar in enRoute. For non-categorical data the bars color's could be a simple alteration of gray scales - there is no need for color, only the relative differences should be shown. For categorical data we could use the defined colors.

This should not be relevant to the sorting.

This is redundant to the bars we show

[2013-06-21 17:55] alexsb commented on #1319
This should not show a  hierarchization of the scores (#1231) as it would require a new (set of) column(s) for every row.

[2013-06-22 08:06] mstreit commented on #1231
yes, some more spacing. other opinions?

[2013-06-23 17:40] sgratzl commented on #1321
part of 24143f7004be63a3f656223eb0c06ab25e7d47fe

[2013-06-23 17:40] #1321 closed, assigned to sgratzl

[2013-06-23 18:36] sgratzl opened #1324 "Categorical Normalization"
[code]

I don't know whether two times -1 is correct, as I get for the binary categorical (gender) a normalized score of 2

[2013-06-24 06:17] ngehlenborg commented on #1274
We need both options: query by best overlap and query by mutual exclusivity. Re-opening to discuss how to implement this. Essentially, we can have multiple different "similarity/distance measures" for retrieval.

[2013-06-24 10:30] sgratzl commented on #1274
we could add another level after "Find large overlap with displayed clusters", where the user can select the mutual exclusive and non-mutual exclusive version.

[2013-06-24 11:15] ngehlenborg commented on #1274
The second level would be a good option but of course mutual exclusivity only works for case where both the query and the entries in the database have well-defined binary states. In our case this is currently only true for mutation data.

An alternative to an extra level in StratomeX could be to run the overlap query by default and run a second search using the mutual exclusivity measure (resultin

[2013-06-24 12:51] sgratzl commented on #1274
I believe that this it not intuitive to use. As in some cases the second score would appear and in others not. Especially as I normally create the query and then select the target database.

we have them, see #1319

[2013-06-24 13:08] #1319 closed, assigned to sgratzl

[2013-06-24 13:08] #1318 closed, assigned to sgratzl

[2013-06-24 14:21] alexsb commented on #1304
Z-ordering of selections

[2013-06-24 14:46] alexsb opened #1325 "Selections of bands between categories is wrong."
Band between deceased and not hispanic was selected. Should highlight all patients between the two.

![bands](https://f.cloud.github.com/assets/2039375/695957/cc0dbaf0-dcdc-11e2-9df1-c48c891a8900.png)

[2013-06-24 14:53] mstreit commented on #1022
Replace with short header that does not contain years and other info that needs to be changed on a regular basis. Header should include link to license text on website.

[2013-06-24 15:46] ngehlenborg opened #1326 "header histograms for categorical variables appear to be showing extra categories"
gender: there are two bricks but there appear to be three bars.

![screen shot 2013-06-24 at 11 44 52 am](https://f.cloud.github.com/assets/1216518/696386/17782090-dce5-11e2-9805-a2d6a4762b9a.png)

ethnicity: there are three bricks but there are four bars

![screen shot 2013-06-24 at 11 46 04 am](https://f.cloud.github.com/assets/1216518/696394/334165a2-dce5-11e2-9e5d-013daf325480.png)

[2013-06-24 16:15] sgratzl commented on #1231
@alexsb enough space?

[2013-06-24 16:54] ngehlenborg opened #1327 "color and histogram mismatches for mutations"
Compare colors in header brick histogram and bricks - two different reds.

Compare header bricks histogram and main histogram - two different histograms? Color swap?

![screen shot 2013-06-24 at 12 52 08 pm](https://f.cloud.github.com/assets/1216518/696753/979d3338-dcee-11e2-842d-673ab7a12f5c.png)

[2013-06-24 16:56] ngehlenborg commented on #1327
Hm. Apparently I had managed to select two columns at the same time, the data set info is for a column next to the mutation column even though the mutation column is selected. Here is an updated screenshot.

![screen shot 2013-06-24 at 12 54 53 pm](https://f.cloud.github.com/assets/1216518/696760/fc302f6c-dcee-11e2-9d74-08e19856d4d7.png)

[2013-06-24 17:27] ngehlenborg opened #1328 "colors for copy number categorical are wrong"
NORMAL is now lightblue, but only in the brick. In the histogram and in LineUp the colors are correct.

![screen shot 2013-06-24 at 1 25 27 pm](https://f.cloud.github.com/assets/1216518/696900/2e77042e-dcf3-11e2-97d7-45c584f65755.png)

[2013-06-24 17:32] alexsb commented on #1328
This is because the heat map, which is used as the underlying implementation, uses the color based on the mapping of the normalized values. This was also the cause in the histogram.

[2013-06-24 17:33] alexsb commented on #1327
Duplicate of #1328

[2013-06-24 17:33] #1327 closed, assigned to alexsb

[2013-06-24 20:02] ngehlenborg opened #1329 "clinical variable "Histological Type" appears twice in THCA AWG builds: once as categorical and once as matrix"
![screen shot 2013-06-24 at 3 47 29 pm](https://f.cloud.github.com/assets/1216518/697871/e57d8336-dd08-11e2-8cb8-8ae43db5f64f.png)

[2013-06-24 20:06] ngehlenborg commented on #1329
Strangely enough, I get a completely different subtype histological type distribution in a different subset (but still based on the same 424 samples with clinical annotation and the clinical data is read from the same file for both subsets):

![screen shot 2013-06-24 at 4 06 44 pm](https://f.cloud.github.com/assets/1216518/697905/9d3bff5c-dd09-11e2-9aba-e24e1588515f.png)

[2013-06-24 20:13] #1329 closed, assigned to sgratzl

[2013-06-25 07:03] mstreit opened #1330 "Add possibility to filter elements without updating the ranks"
Two modes would be useful:
- hide filtered elements
- update ranks according to filtered list (that's how it is realized atm)

Use case where option 1 is important:
Analyze all universities in a specific country in a global world context.

[2013-06-25 11:08] sgratzl commented on #1274
In the current implementation for binary categorical similar clusters query, i.e. jaccard index on Mutations, a second query column will be automatically created which is the mutual exclusive version.

[2013-06-25 14:03] mstreit opened #1331 "Installing deb package in Ubuntu results in warning that the package is of bad quality"
Lintian check results for /home/streit/tmp/chromium/caleydo_3.0_linux_x86-64.deb:
E: caleydo: control-file-has-bad-permissions postinst 0775 != 0755
E: caleydo: control-file-has-bad-permissions postrm 0775 != 0755
E: caleydo: control-file-has-bad-permissions prerm 0775 != 0755

[2013-06-25 14:12] sgratzl commented on #1231
I will close that ticket, if we still need to adjust the visual encoding (spaces), it won't be a critical ticket anymore

[2013-06-25 14:12] #1231 closed, assigned to sgratzl

[2013-06-25 14:16] ngehlenborg commented on #1291
No longer able to reproduce.

[2013-06-25 14:16] #1291 closed, assigned to sgratzl

[2013-06-25 14:42] ngehlenborg commented on #1303
Here is a good example why we need this urgently: K-M plot shows clear differences in terms of age between tumor stage but it is very hard to interpret the distributions. This is from the THCA data set.

![screen shot 2013-06-25 at 10 40 04 am](https://f.cloud.github.com/assets/1216518/703189/77162c48-dda5-11e2-8f76-f15852e8529a.png)

[2013-06-25 14:50] ngehlenborg opened #1332 "export of data from matrix bricks is broken"
I am unable to use the "Export Data" on bricks. Exception included below.

To reproduce:
1. add stratification based on clustering
2. call "Export Data" on a brick via the submenu

[code]

[2013-06-25 14:53] ngehlenborg commented on #1332
Same applies to export of data via header brick.

[2013-06-25 14:54] ngehlenborg opened #1333 "export ids from header brick with a second column/row indicating the clusters"
For clusters use the same label shown in StratomeX view.

[2013-06-25 15:06] ngehlenborg opened #1334 "support loading of full expression/methylation/RPPA/etc. matrices"
This is important for instance for pathway mapping.
- [ ] display only "genes" used for clustering in heatmap bricks
- [ ] test if large data packages load on computers with "normal" amounts of memory
- [ ] build two sets of TCGA data packages (full data, selected data)

[2013-06-25 15:26] ngehlenborg opened #1335 "Caleydo version number should reflect alpha/beta status"
In the current builds the version number is 3.0, but that should be at least 3.0 beta.

[2013-06-25 15:38] alexsb commented on #1334
Duplicate of #1216 (scheduled for 3.1)

[2013-06-25 15:38] #1334 closed, assigned to nobody

[2013-06-25 15:58] ngehlenborg commented on #1274
It seems that both scores are the same, at least in the builds that Alex sent me, can you check this?

![screen shot 2013-06-25 at 11 27 13 am](https://f.cloud.github.com/assets/1216518/703702/085f955e-ddb0-11e2-9fee-dfebe42f7eef.png)

[2013-06-25 16:58] ngehlenborg opened #1336 "double-click in LineUp database selection should select only the double-clicked item and deselect all others"
That would make selecting a particular datatype more convenient.

[2013-06-25 17:03] ngehlenborg opened #1337 "auto-generate unique brick label prefixes"
Sometimes all brick labels in a column share the same prefix that is as long as the width of the visible label part, making it impossible to distinguish the groups without hovering over the label until the tooltip shows up.

I suggest that we test for common prefixes longer than the visible label part and if we find this in two or more bricks, we automatically replace that prefix with ".." and so

[2013-06-25 17:11] ngehlenborg commented on #1320
We agreed on the license suggested by Alex.

[2013-06-25 17:16] ngehlenborg opened #1338 "K-M plot x-axis must use variable names as label"
Right now the label is hardcoded as "Time (days)", which is not always correct.

![screen shot 2013-06-25 at 1 15 20 pm](https://f.cloud.github.com/assets/1216518/704190/fb6c730c-ddba-11e2-8b8e-ef7e9e62dd48.png)

[2013-06-25 17:33] sgratzl commented on #1274
If I query find similar clusters on the mutated group, I got something like this:

![2013-06-25 19_32_15-caleydo - tcga_gbm cal](https://f.cloud.github.com/assets/4129778/704268/52a644fc-ddbd-11e2-881a-376b75dcb9b7.png)

[2013-06-25 17:42] ngehlenborg commented on #1274
I think it only works for cases where the query cluster has size 1. See screenshots.

![screen shot 2013-06-25 at 1 40 36 pm](https://f.cloud.github.com/assets/1216518/704324/72453b78-ddbe-11e2-949d-9e43728fd9a5.png)
![screen shot 2013-06-25 at 1 39 26 pm](https://f.cloud.github.com/assets/1216518/704325/72535cb2-ddbe-11e2-8283-d5e4b16d296d.png)

[2013-06-25 18:06] ngehlenborg commented on #1274
Btw, the mutual exclusivity score is only required when Mutations is part of the database and the query is a mutation. But this is an enhancement that we can add later.

[2013-06-25 18:23] ngehlenborg opened #1339 "mark or remove metric categories when filter is applied to data type"
In this example I removed NORMAL, hetero del, homo del from the list of categories in copy number, but it is hard to see this in the interface. How about removing the corresponding columns from the copy number metric or mark them somehow, e.g. gray column label or add an asterisk.

![screen shot 2013-06-25 at 2 20 30 pm](https://f.cloud.github.com/assets/1216518/704593/19111a08-ddc4-11e2-8a39-b77c

[2013-06-25 18:50] ngehlenborg opened #1340 "add copy number matrix (clustering) to TCGA builds"
this is currently missing

[2013-06-25 18:54] ngehlenborg opened #1341 "allow user to define a master filter to trim data set"
A master filter is a list of samples (could be defined by any brick) and that will be used to remove all samples that are not in the list from the visualization (and all calculations).

The master filter column could be shown on the left or right of the StratomeX display.

[2013-06-25 18:55] ngehlenborg commented on #591
If there is no title bar we can use the frame.

[2013-06-25 20:17] ngehlenborg opened #1342 "double-clicking entry in LineUp when in stratomeX insertion mode throws exception"
The insertion template disappears.

[code]

[2013-06-26 05:37] sgratzl commented on #1274
this is not as easy to implement as you might think. The columns are independent from the database selection. That means if I you activate a database, there is no possibility up to now that the column creator extension (JaccardScoreFactory) will be notified.

[2013-06-26 13:46] ngehlenborg opened #1343 "identifier trimming needs to support mapping to lowercase"
Right now only "all uppercase" is supported, but in cases where lower case ids were loaded and the new data is already in uppercase, we can't map the data.

[2013-06-26 14:23] ngehlenborg opened #1344 "after changing the dataset selection for the database the filters on the "Stratification" column should be reset"
Otherwise users may quickly end up with empty result lists (this is happening to me all the time).

There should also be a visual indicator in the column header when a filter is set (right now I have to hover over the header to see the if a filter is set).

[2013-06-26 14:27] sgratzl commented on #1339
removing may lead to distortions. But you have to enable / disable the database after you updated the filter to see the effect

[2013-06-26 14:27] #1339 closed, assigned to sgratzl

[2013-06-26 14:30] ngehlenborg opened #1345 "it should be possible to change the color assigned to a data set"
When loading new datasets they are randomly assigned a color that might clash with other, unrelated data.

A quick initial fix could be to assign gray by default.

[2013-06-26 15:20] sgratzl commented on #1344
if you expand the headers to see the histograms you will already see, something like Filter: <None>

[2013-06-26 15:29] sgratzl commented on #1274
@ngehlenborg in the second example: what are you exactly expecting to see?

please describe a detailed scenario, as I think I misunderstood some requirements

[2013-06-26 15:36] ngehlenborg commented on #1274
In the second example the "mutual exclusivity" is perfect (i.e. I expect the best possible score), because there is 0 overlap between patients with MUC1 mutation (= query) and patients with TTN mutation.

[2013-06-26 16:42] ngehlenborg commented on #1336
When a selected dataset is double-clicked it is also deselected (it should be the only one left selected in this case).

[2013-06-26 17:50] sgratzl commented on #1336
I worked like that on my windows system but I will take a look at it

[2013-06-26 17:51] sgratzl commented on #1342
part of 0c3bef4478851421ea213e16841c3a496a2ca779

[2013-06-26 17:51] #1342 closed, assigned to sgratzl

[2013-06-27 13:36] ngehlenborg commented on #1344
But I usually don't have the histograms expanded for space reasons. Maybe we could just add an asterisk to the label when a filter is active? Or just display the filter icon (active, so that users can directly edit the filter by clicking on it)?

[2013-06-27 13:40] ngehlenborg opened #1346 "identifier trimming when the interesting part is neither prefix nor postfix of the original string"
I've been trying to map ids like `tcga-ab-1234-01a` to `ab-1234`. Is that possible with the current mapping tool?

[2013-06-27 13:42] alexsb commented on #1346
That shouldn't be an issue. It should work with the default regex - if it doesn't, we can fix it to thatke this as well.

[2013-06-27 13:48] ngehlenborg opened #1347 "change how bricks are rendered"
- [x] make sure that background and brick can distinguished everywhere
- [x] indicate band height representing 100% of the elements in the brick
- [ ] consider removing "fuel bars"

![screen shot 2013-06-27 at 9 45 09 am](https://f.cloud.github.com/assets/1216518/716123/f18cea58-df2f-11e2-8ef6-f83646d0fb6c.png)

[2013-06-27 13:52] ngehlenborg commented on #1346
When I tried this yesterday it didn't work with the default regex. Tagged as bug.

[2013-06-27 15:57] sgratzl commented on #1336
the current implementation is:
 if you double click on a data base it will activated and all others deactivated, regardless whether the double-clicked element was activated or not

[2013-06-27 16:00] ngehlenborg commented on #1336
I can't confirm this on my Mac. If I double-click a selected data set it will be deselected afterwards (along with all others).

[2013-06-27 16:02] sgratzl commented on #1336
sorry I meant now the it is like that after: 5cef9fbfd87e3f16cbafa0ed7f0f1a51155d2491

[2013-06-27 16:07] ngehlenborg commented on #1336
Thanks, that fixed it.

[2013-06-27 16:07] #1336 closed, assigned to sgratzl

[2013-06-27 16:27] sgratzl opened #1348 "Check Eclipse Kepler compatibility"
kepler is out: http://www.eclipse.org/downloads/

we have to check, whether and when we can simply switch to it

[2013-06-27 20:50] sgratzl commented on #1344
reset filter on activate data set + simple filter icon (no interaction) is implemented. To implement the interaction I will need more time.

[2013-06-28 21:05] #1343 closed, assigned to alexsb

[2013-06-28 21:35] #1346 closed, assigned to alexsb

[2013-06-28 21:48] #1332 closed, assigned to alexsb

[2013-06-28 21:59] alexsb opened #1349 "Auto set correct parameters for .gct files"
.gct files are very common and well defined. They have two header lines followed by the matrix. We should automatically set the two header lines for gct files.

See an example in Dropbox/Caleydo/data/tcga/20110728/gbm/methylation_cnmf/

[2013-06-29 16:21] #1323 closed, assigned to sgratzl

[2013-06-29 17:01] sgratzl commented on #1348
At a first glance I can't find any severe problems. I had to modify the hacky Project Manager code, to a simpler more general version, see the eclipse_kepler branch

[2013-06-29 17:01] #1348 closed, assigned to sgratzl

[2013-06-29 18:59] alexsb commented on #1324
@sgratzl  - I looked into this. It should be -1 twice, since this is not about the number of categories but the number of spaces between the categories. E.g. for mutation, where you have 0 and 1 there is one "space" in between. I think you changing this causes #1328. I'm testing this right now - but what was the reason you changed it?

[2013-06-29 19:35] sgratzl commented on #1324
maybe you are right, but please ensure that the normalized value will be always [0...1], especially as in my buggy "gender" case, where I originally got a normalized value of 2

[2013-06-29 19:38] alexsb commented on #1324
Yea, I added an assertion to check it. I think we'll have to re-build the projects for 3.0 though. #1326 is probably also cause by that. Now that I've fixed the normalization I get exceptions for the datasets.

[2013-06-29 19:57] #1326 closed, assigned to alexsb

[2013-06-29 19:57] #1328 closed, assigned to alexsb

[2013-06-29 20:00] alexsb opened #1350 "Unmapped ID Type doesn't work for "general data""
Can't leave the dialog with next or finish.

![unmapped](https://f.cloud.github.com/assets/2039375/726435/8f5643d4-e0f6-11e2-9156-10ba901694d1.png)

[2013-06-29 20:02] alexsb commented on #1335
Using versionnumber -0.01 ; plus sign; version number B beta-number. E.g., 2.99+3.0b1 for the first beta of 3.0

[2013-06-29 20:02] #1335 closed, assigned to alexsb

[2013-06-29 20:03] alexsb commented on #1276
Needs to be re-run again. Also, sample gbm project needs to be replaced.

[2013-06-29 20:21] alexsb opened #1351 "Histogram colors are wrong for categorical columns in inhomogeneous datasets"
Cause is that the distinction is made based on if (dataTable instanceof categoricaldatatable)

[2013-06-29 20:58] alexsb opened #1352 "Pathways are gone in LineUp"
Pathways are loaded but don't show up in LineUp, neither in StratomeX to add them.

![pw_gone](https://f.cloud.github.com/assets/2039375/726486/95d993ca-e0fe-11e2-8240-466f1c383eea.png)

[2013-06-29 21:47] #1304 closed, assigned to alexsb

[2013-06-29 21:47] #1338 closed, assigned to cpartl

[2013-06-30 14:20] sgratzl commented on #1324
latest newly build tcga gbm sample project:

[code]

[2013-06-30 14:26] sgratzl commented on #1324
just try to load the project and you will get it,

happens for the clinical variable with: `[NA, UNKN@WN, hispanic or latino, not hispanic or latino]` as properties

as well as gender: `[UNKN@WN, female, male]`

[2013-06-30 18:48] #1324 closed, assigned to alexsb

[2013-06-30 18:51] alexsb commented on #1352
Are back for me too?

[2013-06-30 18:51] #1352 closed, assigned to sgratzl

[2013-06-30 18:55] ngehlenborg opened #1353 "load GENE/SAMPLE scoring dialog is too small"
My resolution is 1680 x 1050 but the dialog only shows the first few lines of the table and there is no way to resize the dialog.

![screen shot 2013-06-30 at 2 53 43 pm](https://f.cloud.github.com/assets/1216518/727706/8d2ef2d4-e1b6-11e2-9a77-2cb3739a6f30.png)

[2013-06-30 19:04] ngehlenborg opened #1354 "importing scoring for GENE in LineUp does not seem to work"
I am trying to import an external scoring (e.g. MutSig results from http://gdac.broadinstitute.org/runs/awg_thca__2013_06_06/reports/cancer/THCA-Mut_BRAF/MutSigNozzleReportCV/THCA-Mut_BRAF.sig_genes.txt) into the "Mutations" data set but after importing I no longer see any entries in LineUp for mutations. The column for the new score, however, is added and also assigned the correct color.

[2013-06-30 19:06] ngehlenborg opened #1355 "adding new score column to LineUp through score import messes up metric separators"
The new column is the one named "THCA ...".

![screen shot 2013-06-30 at 3 02 42 pm](https://f.cloud.github.com/assets/1216518/727724/0a7660a0-e1b8-11e2-95ed-11047fe44dbf.png)

[2013-06-30 19:08] alexsb commented on #1353
This seems to be mac specific - for me that fits nicely and I can resize.

[2013-06-30 19:10] ngehlenborg commented on #1353
That's possible. The same problem also exists with the load grouping dialog and the load grouping scoring dialog.

[2013-06-30 19:13] alexsb commented on #1353
Actually that was a false alarm. Mixed up the dialog, same problem for me.

[2013-06-30 20:16] ngehlenborg commented on #1274
I have played around with the new score and as expected, it does what it should be doing. However, the problem is that the score that I suggest does not take into account the size of the overlap between mutated/not mutated, which means genes that are mutated and mutually exclusive in only one patient will have the same score as genes that are mutated in 50% of the patients and are mutually exclusi

[2013-06-30 20:48] ngehlenborg commented on #1350
Good to know, I had the same problem.

[2013-06-30 21:02] ngehlenborg opened #1356 "band alignment is broken after query with header brick ("Find based on similarity to displayed cluster")."
![screen shot 2013-06-30 at 5 01 15 pm](https://f.cloud.github.com/assets/1216518/727869/3f8a7438-e1c8-11e2-9cb2-7dc4c60a7096.png)

[2013-06-30 21:15] ngehlenborg opened #1357 "number of bars in header histogram for categorical nominal columns does not match number of groups"
The histogram shows # groups - 1 bars.

![screen shot 2013-06-30 at 5 14 04 pm](https://f.cloud.github.com/assets/1216518/727891/212e4bd4-e1ca-11e2-977f-48c1ac050998.png)

[2013-06-30 21:17] ngehlenborg commented on #1357
It looks like the same problem exists in the LineUp Distribution column. I see only three groups in the selected "membership.2" column in the screenshot.

[2013-06-30 21:27] alexsb opened #1358 "Use nominal color scales for string categories by default."
Right now the two-color red-white color scale seems to be used. This should be replaced with a nominal scale.

[2013-06-30 21:28] ngehlenborg opened #1359 "clicking the "cluster genes button" in the hover menu of the header brick shrinks the header brick"
This is just odd. The screenshot is the state after clicking the button. The bricks shrinks as soon as the dialog pops up.

![screen shot 2013-06-30 at 5 24 52 pm](https://f.cloud.github.com/assets/1216518/727907/e0ccab24-e1cb-11e2-8186-03ccc0a12e6f.png)

[2013-06-30 21:29] ngehlenborg commented on #1358
The same holds for nominal integer categories.

[2013-06-30 21:30] alexsb commented on #1358
But for integers it makes sense to assume an order, so I'd default integers to ordinal

[2013-06-30 21:30] ngehlenborg commented on #1358
But I explicitly declared them to be nominal categorical data.

[2013-06-30 21:33] ngehlenborg commented on #1356
This also seems to be happening when inserting from "Browse List". Tagged critical.

![screen shot 2013-06-30 at 5 31 58 pm](https://f.cloud.github.com/assets/1216518/727919/9ed697d8-e1cc-11e2-84b3-250adb796e62.png)

[2013-06-30 21:37] alexsb opened #1360 "Color scales defined during import are not applied for categorical data."
I've tested it with nominal data.

[2013-06-30 21:38] alexsb commented on #1360
Might be causing #1358 - not necessarily though.

[2013-06-30 21:43] alexsb opened #1361 "Lineup doesn't add newly loaded datasets"
They are added only on re-opening lineup

[2013-06-30 21:44] ngehlenborg opened #1362 "clicking the "cluster genes button" in the hover menu of the header brick creates as new stratification in LineUp"
Even when I cancel the clustering I get a new oddly named ("Perspective_...") stratification in LineUp for that dataset.

![screen shot 2013-06-30 at 5 42 21 pm](https://f.cloud.github.com/assets/1216518/727934/2ec1b584-e1ce-11e2-86eb-3a096119b3be.png)

[2013-06-30 21:45] alexsb commented on #1356
I can't reproduce.

[2013-06-30 21:46] alexsb commented on #1362
It's a feature if you do cluster. It shouldn't happen if you cancel, but we'll live with that for 3.0.

[2013-06-30 21:59] ngehlenborg commented on #1356
Here's another example. Fresh StratomeX:
1. Use "+" to add new stratification with "Browse List".
2. Use "+" to add new stratification with "Browse List" (from different data set).

![screen shot 2013-06-30 at 5 52 03 pm](https://f.cloud.github.com/assets/1216518/727948/59ede07e-e1cf-11e2-9ad0-05388b330a3c.png)

[2013-06-30 22:00] ngehlenborg commented on #1356
It turns out that this is caused by duplicate patient ids (we were loading a file that distinguished the TCGA sample type and by slicing off that part we ended up with duplicate ids):

[code]

[2013-06-30 22:03] ngehlenborg opened #1363 "datasets with duplicate sample ids cause band misalignment"
I'm not sure what the best way would be to fix this, but probably we should generally disallow duplicate (or n-plicate) ids in datasets, e.g. by only using the first/last instance found at import time and show a warning to the user that duplicate entries were found and all but the first/last one were ignored.

The effect of this is documented in #1356.

[2013-06-30 22:03] #1356 closed, assigned to alexsb

[2013-06-30 22:03] mstreit commented on #1363
we could handle this with our multi-mapping mechanism that we also use for genes atm

[2013-06-30 22:05] mstreit commented on #1363
@ngehlenborg Your suggested solution would mean that we randomly throw out the tumor OR the normal tissue for that patient. I guess the order of duplicates is not always the same.

[2013-06-30 22:07] ngehlenborg commented on #1363
@mstreit Yes, but in the case of TCGA we can probably handle this by using longer ids (if they are available in most outputs)

[2013-06-30 22:22] ngehlenborg commented on #1363
In the case of TCGA we will have issues with the clinical data which is only mapped to the patient level but can't be resolved directly to samples identified with a sample type. Multi-mapping might indeed be required.

[2013-06-30 22:35] ngehlenborg opened #1364 "rename queries in StratomeX insertion mode"
Change "Add Stratification" at the top to "Select Stratification"
- "Browse list" -> "From list"
- "Find similar to displayed stratification" -> "Based on similarity to displayed stratification"
- "Find large overlap with displayed clusters" -> "Based on overlap with displayed cluster"
- "Find based on significant Kaplan-Meier change" -> "Based on log-rank test score (survival)"

Change "Add other

[2013-06-30 22:38] ngehlenborg opened #1365 ""back"/"up" button from the last step takes user back to a single option selection that is not shown on the way "down""
This state is only show when going back from the "Select pathway in LineUp ..." step.

![screen shot 2013-06-30 at 6 37 50 pm](https://f.cloud.github.com/assets/1216518/727980/ba5da830-e1d5-11e2-82af-c97b0a3bad6e.png)

[2013-06-30 23:45] ngehlenborg opened #1366 "Where are the heatmaps for the copy number dataset coming from?"
I just loaded a grouping onto the copy number data (by accident) and when I added it to stratomex (via DVI, it does not show up in LineUp) I actually got heatmaps. They make  perfect sense but I have no clue where the data shown in those heatmaps is coming from.

![screen shot 2013-06-30 at 7 42 54 pm](https://f.cloud.github.com/assets/1216518/728044/ddc24e26-e1de-11e2-9b73-98d4a18a4448.png)

[2013-07-01 00:13] ngehlenborg commented on #1357
Here is another example (the fusions have two groups but only one bar is shown in the histogram):

![screen shot 2013-06-30 at 8 10 19 pm](https://f.cloud.github.com/assets/1216518/728078/15b0212e-e1e3-11e2-9f8e-5e89b4ca8a44.png)

[2013-07-01 00:19] ngehlenborg opened #1367 "view names are not stored when project is saved"
When I saved the project I had two StratomeX views named "StratomeX A" and "StratomeX B".

When I opened the saved project, the view names are reset to "StratomeX" and "StratomeX (2)". A fresh StratomeX view "StratomeX (1)" is created as well.

[2013-07-01 00:30] ngehlenborg opened #1368 "stratifications in StratomeX view from external datasets (categorical nominal loaded file) are not saved in project"
I had added some additional categorical nominal stratifications from a file as a new datatype and after saving and re-loading the project, they were no longer in the StratomeX view, even though the mutation stratifications that had been in the same view, were still there.

[2013-07-01 00:51] alexsb commented on #1368
duplicate of #1179

[2013-07-01 00:51] #1368 closed, assigned to sgratzl

[2013-07-01 08:46] sgratzl commented on #1361
can you give the dataset data to load, as it works for me in a simple test + in which LineUp instance it should appear

[2013-07-01 10:54] #1354 closed, assigned to sgratzl

[2013-07-01 10:54] #1364 closed, assigned to sgratzl

[2013-07-01 10:54] #1365 closed, assigned to sgratzl

[2013-07-01 10:57] sgratzl commented on #1355
if you meant the distorted Mutation Metrics green line -> fixed

[2013-07-01 10:57] #1353 closed, assigned to sgratzl

[2013-07-01 11:07] sgratzl commented on #1361
I fixed a bug, where you coudn't select newly added data domains in LineUp.

[2013-07-01 11:54] sgratzl commented on #1274
now I'm confused:

ME is defined as:  `1 - |intersect( q_x, d_x )|/|q_x|`
JI is defined as: `|intersect( q_x, d_y )|/|union (q_x, d_y) |`
with `x, y in {mut, nonmut}`

so the ME was defined for the mut vs mut case. Now `JI( q_mut, d_nonmut) = ME` compares mut with nonmut, which means if all samples in the mutated query are non mutated in the current element, the score will be 0. And `JI( q_mut, d_

[2013-07-01 12:34] ngehlenborg commented on #1274
Let's just focus on JI as the measure for now.

- The score should not be 0. Let's assume that the query set are patients that **have a mutation in gene A** and we are comparing this to the set of patients who do **not have a mutation in gene `B`**, i.e. `JI( A_mut, B_nonmut)` and if the mutations in genes `A` and `B` are mutually exclusive, then the intersection between `A_mut` and `B_nonmut` con

[2013-07-01 13:26] mstreit opened #1369 "Project wizard should fit all tabs"
The default width needs to be increased

[2013-07-01 13:27] mstreit commented on #1369
![vis1](https://f.cloud.github.com/assets/4129755/730372/fbb58510-e251-11e2-9ed6-3266d1eb438d.png)

[2013-07-01 13:43] alexsb commented on #1361
The clinical dataset in

~/Dropbox/Caleydo/data/tcga/20110728/gbm/clinical/clinical_patient_public_GBM.txt

with the default import settings on top of the sample project causes this problem.

[2013-07-01 13:53] alexsb commented on #1369
Better even it should be SWT.WRAP

[2013-07-01 13:56] alexsb commented on #1366
This looks like you loaded a gene grouping for copy number? If you want an answer you need to provide details ;).

[2013-07-01 13:57] ngehlenborg commented on #1366
Sample grouping.

[2013-07-01 14:25] ngehlenborg commented on #1355
Not only the green line. The (regular) metrics header seems to overlap with the THCA-Mut_BRAF column.

[2013-07-01 14:32] alexsb commented on #1290
Is this resolved with #1287 - I can't reproduce that anymore?

[2013-07-01 14:44] ngehlenborg commented on #1290
Yes, closing.

[2013-07-01 14:44] #1290 closed, assigned to nobody

[2013-07-01 15:05] alexsb commented on #1245
That's the best I could get:

![scroll-bar](https://f.cloud.github.com/assets/2039375/730905/b9a06966-e25f-11e2-84b2-23aab8a3beda.png)

[2013-07-01 15:11] alexsb opened #1370 "Higlight and set default startifications in DVI"
See also #943

[2013-07-01 15:12] alexsb commented on #943
Outsourced DVI related stuff to #1370
Rest is fixed, closing.

[2013-07-01 15:12] #943 closed, assigned to sgratzl

[2013-07-01 15:19] sgratzl commented on #1274
now three columns are added:
1. standard Jaccard Index against all groups
2. Jaccard Index but only testing against the Mutated Group if q and d are of the same database
3. Jaccard Index but only testing against the NonMutated Group if q and d are of the same database

that means 1. = MAX(2,3)

[2013-07-01 15:32] ngehlenborg commented on #1274
It looks like no scores are computed for genes/stratification that are already included in another view (the ones at the bottom from BRAF to NRAS).

![screen shot 2013-07-01 at 11 29 40 am](https://f.cloud.github.com/assets/1216518/731057/4f7a520a-e263-11e2-9af2-c85cd9634d58.png)

[2013-07-01 15:44] #1355 closed, assigned to sgratzl

[2013-07-01 16:27] sgratzl opened #1371 "No scores are computed for genes/stratification that are already included in another view"
It looks like no scores are computed for genes/stratification that are already included in another view (the ones at the bottom from BRAF to NRAS).

![screen shot 2013-07-01 at 11 29 40 am](https://f.cloud.github.com/assets/1216518/731057/4f7a520a-e263-11e2-9af2-c85cd9634d58.png)

[2013-07-01 16:28] sgratzl commented on #1371
comming from #1274

[2013-07-01 16:28] sgratzl commented on #1274
I put that in another ticket, as it is not directly related to mutual exclusivity -> #1371

[2013-07-01 17:58] #1320 closed, assigned to nobody

[2013-07-01 18:04] mstreit commented on #1022
Suggestion:

[code]

We could also leave out the year, but I am not sure if this is a good idea.
If we leave it in there, we need to touch all files on new year's eve.

RFC!

[2013-07-01 18:47] mstreit commented on #1022
Used Eclipse tool to successfully replace the header in all files: http://www.wdev91.com/?p=cpw

[2013-07-01 19:33] alexsb commented on #1366
I don't understand the problem. Of course you can load heat maps for copy number data. You always could, they were typically yellow because of the heat map bug. Here's an example I created with the Verhaak subtypes:

![feature](https://f.cloud.github.com/assets/2039375/732540/213745a2-e285-11e2-8bfd-5f2de94eb6f5.png)

[2013-07-01 19:33] #1366 closed, assigned to alexsb

[2013-07-01 19:43] alexsb opened #1372 "Internal IDs visible in importer"
This is the content of TCGA_SAMPLE dropdown box in the import dialog:

![tree](https://f.cloud.github.com/assets/2039375/732586/6139b238-e286-11e2-80dd-f0678dcb6d4c.png)

This could be either because it's not set to private IDs or because the drop-down doesn't honor them.

[2013-07-01 19:43] alexsb commented on #1372
To reproduce load the sample project and add a file.

[2013-07-01 19:51] #1357 closed, assigned to alexsb

[2013-07-01 20:00] #1022 closed, assigned to alexsb

[2013-07-01 20:22] mstreit opened #1373 "Exception thrown when opening GL Canvas in Eclipse Kepler branch"
!ENTRY org.eclipse.e4.ui.workbench 4 0 2013-07-01 22:19:52.364
!MESSAGE Unable to create class 'org.eclipse.ui.internal.e4.compatibility.CompatibilityView' from bundle '39'
!STACK 0
org.eclipse.e4.core.di.InjectionException: java.lang.ExceptionInInitializerError
    at org.eclipse.e4.core.internal.di.MethodRequestor.execute(MethodRequestor.java:63)
    at org.eclipse.e4.core.internal.di.InjectorIm

[2013-07-01 20:26] alexsb opened #1374 "Investigate merging problems"
Whenever I had to merge between entourage and develop it was pure hell!!! meaning that I got no help in resolving anything what soever but instead ended up with the two versions on top of each other.

I assume this is related to some whitespace operation, which, if I remember correctly you have automated somehow.

This seems relevant: http://stackoverflow.com/questions/3124594/git-all-the-file-mar

[2013-07-01 23:58] #1351 closed, assigned to alexsb

[2013-07-02 04:03] #1360 closed, assigned to cpartl

[2013-07-02 06:28] sgratzl commented on #1374
I talked about that and set it correctly for the paper repositories, but never for caleydo-dev

[2013-07-02 06:31] mstreit commented on #1372
needs to be tested before it can be closed

[2013-07-02 07:19] mstreit commented on #1372
Tested with a newly generated TCGA project. Tree entries are gone now.

[2013-07-02 07:19] #1372 closed, assigned to cpartl

[2013-07-02 07:22] mstreit commented on #1274
@ngehlenborg Can we close the issue?

[2013-07-02 08:49] #1369 closed, assigned to mstreit

[2013-07-02 10:51] sgratzl commented on #1371
is this reliable reproducable or just once by chance?

= brick in other StratomeX instances?

[2013-07-02 13:03] #1358 closed, assigned to sgratzl

[2013-07-02 13:30] mstreit commented on #1218
Works fine with 1280x1024.
I had some problems though with render artifacts when scrolling GL views, however, that might be related to #829.

[2013-07-02 13:41] mstreit commented on #1218
Added this sentence to the download section on our current website:

"Caleydo can be run with a minimum screen resolution of 1280x1024, however, a higher resolution is recommended."

[2013-07-02 13:41] #1218 closed, assigned to mstreit

[2013-07-02 13:52] ngehlenborg opened #1375 "in project wizard rename "Load Sample" into "Load Demo Data""
"Load Sample" is not very clear.

[2013-07-02 13:57] #1375 closed, assigned to sgratzl

[2013-07-02 14:13] alexsb opened #1376 "Enable copying to clip-board of IDs out of Selection Info"
I just needed this to debug something, but I assume that this would be very helpful. Depending on how much work it is (I assume very little) this would be nice for 3.0.

[2013-07-02 14:51] alexsb commented on #1325
This is not a band problem but a data import problem:

We are loading clinical data twice for some reason
Here is an export of a brick with 7 unique values:

[code]

and if you check - clinical for gbm has 1078 records, mrna has 529

[2013-07-02 15:07] alexsb commented on #1325
This is caused by duplicates in the source.

[2013-07-02 15:08] alexsb opened #1377 "Colors are black for imported categorical data"

[2013-07-02 15:17] alexsb commented on #1361
I still had this issue when I imported the previously specified file again.

[2013-07-02 15:20] alexsb commented on #1377
When manually assigning colors they work fine.

[2013-07-02 15:35] #1377 closed, assigned to alexsb

[2013-07-02 15:53] sgratzl commented on #1361
when you import that file, with which default settings, which columns, which data types,... it doesn't work, and where should appear what

[2013-07-02 15:56] #1274 closed, assigned to sgratzl

[2013-07-02 15:57] ngehlenborg commented on #1371
It does not happen when I am working with a "fresh" project (i.e. one that was not loaded from a "Save Project" cal file).

In the case reported above the problem occurred when I was working with a cal file generated with "Save Project". Due to the issues related to loading cal files I am unable to test this at the moment.

[2013-07-02 15:59] ngehlenborg commented on #1376
Yes, would be very nice.

[2013-07-02 16:05] alexsb commented on #1361
Minimal effort: no changes at all to the defaults. I just import it as inhomogeneous. It should turn up as clinical_public in the main lineup - which it does only after closing and re-opening lineup.

[2013-07-02 18:48] alexsb commented on #1131
My last tests showed that the weka stuff is actually broken. Probably not too hard to fix, but it there a point? We should not release with two k-means options.

I haven't seen problem with the new k-means implementation.

[2013-07-02 18:56] sgratzl commented on #1131
more details, please

the custom one _should_ work, I can't guarantee it.

[2013-07-02 19:01] alexsb commented on #1131
I can fix the weka stuff if we want it to be fixed - I already fixed a minor bug where record was used twice instead of dimension & record. Currently the cluster result contains null for both record and dimension. I didn't investigate - but in my next commit an appropriate check reports an error.

But I'm asking here whether we want to keep it around at all.

How could you gurantee  it? Should we

[2013-07-02 19:08] sgratzl commented on #1131
You can't fully guarantee it, as k-means starts randomly.

But it would help, if others would take a look at the code, too. aka CodeReview

[2013-07-02 19:08] alexsb commented on #1131
I know but if we get generally similar results over various cases then I'd be happy to accept this as correct.

[2013-07-02 19:24] alexsb commented on #1325
These problems are fixed with the latest firehose run.

[2013-07-02 19:27] #905 closed, assigned to alexsb

[2013-07-02 19:30] alexsb commented on #906
Works for me.

[2013-07-02 19:30] #906 closed, assigned to alexsb

[2013-07-02 19:31] sgratzl commented on #1361
it still works for me, leaving LineUp open all the time:
![2013-07-02 21_29_44-](https://f.cloud.github.com/assets/4129778/738841/eee61b40-e34d-11e2-9e32-f45e255d78df.png)

[2013-07-02 19:32] mstreit opened #1378 "Update JOGL to version 2.0.2-rc12"
http://jogamp.org/wiki/index.php/Release_2.0.2-rc12

If we are lucky, it fixes some JOGL related problems, as for instance the #789, #829 or #1373. It's worth a try.

[2013-07-02 19:40] alexsb opened #1379 "Histogram clipping issues"
With the sample gene expression dataset I experience problems:

![histo](https://f.cloud.github.com/assets/2039375/738884/4603523e-e34f-11e2-8d5c-2816b8c60e5d.png)
![histo2](https://f.cloud.github.com/assets/2039375/738885/490eaa32-e34f-11e2-8740-a77398db7482.png)

[2013-07-02 19:50] sgratzl commented on #1131
as I said from my point of view it should work. Therefore it doesn't help if I'm the owner of that ticket, as I can't do that much

[2013-07-02 20:01] #1378 closed, assigned to mstreit

[2013-07-02 20:05] mstreit commented on #1373
fixed with JOGL update

[2013-07-02 20:05] #1373 closed, assigned to mstreit

[2013-07-02 21:59] alexsb commented on #1131
Empirical comparison Weka VS Sam

![weka-vs-sam](https://f.cloud.github.com/assets/2039375/739783/a92e9e6e-e362-11e2-9ac4-3330567578a8.png)

Pairwise comparisons for various cluster sizes.

[2013-07-02 22:08] #1325 closed, assigned to alexsb

[2013-07-02 22:10] alexsb opened #1380 "Double click in lineup should add column right-away instead of going into preview mode"
Both for manual addition without wizard or with wizard the behavior should be the same.  This means that there is no preview for manually selected startifications - which is fine.

[2013-07-03 02:25] alexsb opened #1381 "Update Splash"
The current Splash screen has a couple of problems:
- [x] Old labels have opaque background (I changed the from red to gray)
- [x] Version number is outdated
- [ ] Might want to adapt to new design
- [x] Progress bar is not updated

Concerning the background, I've experimented with writing using a graphics container (GC) instead of a label:

![splash](https://f.cloud.github.com/assets/2039375/7407

[2013-07-03 02:29] alexsb opened #1382 "Juno Deserialization Problems"
Might be solved with Kepler, but I get the follwoing exception ATM:

[code]

Also, Lineup turns up twice:

![double_lineup](https://f.cloud.github.com/assets/2039375/740795/5073efe2-e388-11e2-9435-efd36da421a6.png)

To test use this project:

Dropbox/Caleydo/projects/caleydo-project_2013.07.02_19.05.cal

[2013-07-03 02:34] alexsb opened #1383 "Provide Tool-Tips for Brick Toolbars"
All brick buttons and widgets must show tool-tips.
- "Switch to Heat Map"
- "Switch to Histogram"
- Cluster
- Collapse
- Remove
- Show Detail Brick

The Add Dependent Button currently reads "Add Dataset using the Stratification". I'd change that to "Add column based on this column's stratification"

No tool-tips for the drag handles

[2013-07-03 02:37] alexsb commented on #1376
This should maybe go everywhere where we currently can export identifiers (and probably can use the identical implementation, but instead of to a file writes to the clip-board). Why not allow "Copy Identifiers" on the Brick.

We could also thinks about copying genes and samples using multiple entries "Copy Sample IDs" and "Copy Gene IDs" - but I'm not so sure about that.

[2013-07-03 02:40] alexsb opened #1384 "State of "Show only Selected Connections" is inverted."
Currently if checked all are shown and vice versa.

[2013-07-03 03:00] alexsb commented on #1347
layout improved, including indicators where is docked. Fuel bar stays.

[2013-07-03 03:00] #1347 closed, assigned to alexsb

[2013-07-03 05:51] sgratzl commented on #1382
Juno releated, can't fix it -> solved with Kepler

[2013-07-03 06:36] #1380 closed, assigned to sgratzl

[2013-07-03 06:43] mstreit commented on #1384
fixed in https://github.com/Caleydo/caleydo-dev/commit/5cf01faa43be502a9a80267399633b7d352d02cc

[2013-07-03 06:43] #1384 closed, assigned to mstreit

[2013-07-03 06:54] sgratzl commented on #1376
that is a different ticket

[2013-07-03 06:55] sgratzl opened #1385 "Export ID to Clipboard"
coming from #1376

This should maybe go everywhere where we currently can export identifiers (and probably can use the identical implementation, but instead of to a file writes to the clip-board). Why not allow "Copy Identifiers" on the Brick.

We could also thinks about copying genes and samples using multiple entries "Copy Sample IDs" and "Copy Gene IDs" - but I'm not so sure about that.

[2013-07-03 06:55] #1376 closed, assigned to sgratzl

[2013-07-03 07:13] #1371 closed, assigned to sgratzl

[2013-07-03 07:14] sgratzl commented on #1131
as @alexsb found the weka bug it isn't critical any more

[2013-07-03 07:23] sgratzl commented on #1374
Try to merge the eclipse_kepler branch, if you have the same issues here. I want to test, whether this is branch specific or a general problem

[2013-07-03 07:23] sgratzl commented on #1367
juno bug

[2013-07-03 07:26] sgratzl commented on #1258
part of #1330

[2013-07-03 07:26] #1258 closed, assigned to sgratzl

[2013-07-03 10:50] mstreit commented on #1381
not working for importer atm.
if the splash is disposed we need to show a popup progress bar instead
the splash should not be exposed. only the setProgress and setProgressLabel methods in the general manager should be accessed.

[2013-07-03 12:54] sgratzl opened #1386 "jogl 2.0.2-rc12 error messages"
every time, when I open a view, e.g. LineUp in Caledyo:

[code]

[2013-07-03 13:33] mstreit opened #1387 "The width of the histogram should be same as the dataset info view width"
At the moment the histogram is larger than the info view

[2013-07-03 13:34] mstreit commented on #1387
![490eaa32-e34f-11e2-8740-a77398db7482](https://f.cloud.github.com/assets/4129755/743312/3abb46e8-e3e5-11e2-9eb4-855a528622f4.png)

[2013-07-03 13:35] alexsb commented on #1387
Duplicate of / related to #1379

[2013-07-03 14:16] mstreit commented on #1387
I think that's not a duplicate, but let's see.

[2013-07-03 14:19] sgratzl commented on #1361
I think I found the bug, its a concurrency problem. Therefore when I debug the code I couldn't find it.

The problem is that the NewDataDomainEvent is triggerred as soon as the data domain is created and not when it is fully loaded.

[2013-07-03 14:22] #1350 closed, assigned to cpartl

[2013-07-03 14:34] sgratzl commented on #1361
part of 4e147ba8b63151b7e8d229e49c45710a0f5e647d kepler_branch

-> new event: NewDataDomainLoadedEvent
-> fixed the same bug for the DVI

[2013-07-03 14:34] #1361 closed, assigned to sgratzl

[2013-07-03 14:35] sgratzl commented on #1382
I can try to convert the multiple LineUp instance to three independent once, but that doesn't solve the StratomeX issues

-> Kepler

[2013-07-03 14:43] alexsb commented on #1381
In Kepler it looks like this:

![splash2](https://f.cloud.github.com/assets/2039375/743774/fa550c74-e3ee-11e2-9ca8-95efa35eb880.png)

[2013-07-03 14:47] mstreit commented on #1382
@sgratzl Tell us when we should all switch to Kepler

[2013-07-03 14:52] mstreit commented on #1381
see InteractiveSplashHandler line 45: splash.setBackgroundMode(SWT.INHERIT_DEFAULT);

[2013-07-03 14:52] sgratzl commented on #1382
I'm already working with Kepler, so three hours ago?

[2013-07-03 14:57] mstreit commented on #1382
OK, then we can close this issue.

[2013-07-03 14:59] mstreit commented on #1382
But the needed changes for Kepler are not yet merged to the develop branch. I have compile errors.

[2013-07-03 15:11] #1382 closed, assigned to sgratzl

[2013-07-03 15:18] mstreit commented on #1381
We decided to extend the EclipseSplashHandler. This should be more stable.

[2013-07-03 15:25] sgratzl commented on #1276
will create all 2013 ones after the release to have a stable state

[2013-07-03 15:43] #1349 closed, assigned to cpartl

[2013-07-03 15:45] #1131 closed, assigned to mstreit

[2013-07-03 15:53] alexsb opened #1388 "Wikipathways don't show up in sample project"
See:

![wikipathways](https://f.cloud.github.com/assets/2039375/744254/aef0ad88-e3f8-11e2-8fd2-84f792c10f33.png)

[2013-07-03 19:21] alexsb commented on #1381
Current version throws exception on occasion (mainly when debugging during startup)

[code]

[2013-07-03 20:35] alexsb opened #1389 "Redesign PathwayTablePerspective"
PathwayTablePerspective is deprecated and rightfully so. Here are some design alternatives:

Provide a defined field in the TablePerspectives where additional information can be held. Specifically, this would be a reference to the pathway datadomain and the specific pathway, but could equally be information about the type of data (e.g., is it data that should be shown as KM plots).

This would als

[2013-07-03 21:23] alexsb commented on #1179
Pathways are more work and have to be systematically re-worked (see #1389). I think this is good enough for 3.0 at this point. Moving to 3.1

[2013-07-03 21:26] alexsb commented on #1381
Re-assigning to marc

[2013-07-03 21:58] alexsb commented on #1387
It's not a duplicate :)

[2013-07-03 22:02] #1379 closed, assigned to alexsb

[2013-07-03 22:24] #1387 closed, assigned to cpartl

[2013-07-04 06:32] sgratzl commented on #1389
a third option would be to handle the pathways as a special table with pathway x vertices. Therefore a single pathway would be table perspective with a single column and x records, representing the contained vertices. pathway x genes might also work.

pros:
- its just a table perspective without any special data
- mapping onto a pathway is an optional operation, which can be implemented as having

[2013-07-04 07:52] cpartl commented on #1245
attempt to fix it, which works for me, but that was always the case. please check.

[2013-07-04 10:08] #1383 closed, assigned to cpartl

[2013-07-04 10:25] #1388 closed, assigned to cpartl

[2013-07-04 10:33] mstreit commented on #1381
the background is ok now on my machine (not red anymore)

[2013-07-04 10:37] mstreit commented on #1381
Missing progress is only a problem under Linux and MacOSX. Related to #862

[2013-07-04 10:42] mstreit commented on #1381
The only way to solve the progress / #862 problems is probably to do the loading after the workbench has been initialized using the eclipse progress monitors. However, this way it would not be possible anymore to restore workbench layouts. We need to decide if we still want to have that in future.

[2013-07-04 10:46] mstreit commented on #1381
Contextually relevant: https://bugs.eclipse.org/bugs/show_bug.cgi?id=321350

[2013-07-04 11:16] mstreit commented on #1381
We can try to change the order of our startup process and trigger the data loading in the splash init method.

[2013-07-04 12:06] sgratzl opened #1390 "Find a better replacement to calculateNumberOfLinesInFile"
up to now to get some kind of progress `calculateNumberOfLinesInFile` is used.

However, that methods just scans the files and counts the number of lines. Therefore, we are parsing the same (big) file twice, which takes some time.

An alternative would be use as an indication the size of the file in bytes and use the byte read as indicator.

[2013-07-04 12:08] mstreit commented on #1390
Good point.
That code was even written before I joined the project ;)

[2013-07-04 12:31] sgratzl commented on #1390
one problem up to now is that the TabularDataParser uses the information explicitly to setup all its column containers (= arrays)

[2013-07-04 12:43] cpartl commented on #1386
The problem seems to occur when multiple views are opened at the same time (e.g. lineup, enroute, startup)

[2013-07-04 12:53] mstreit commented on #1381
https://github.com/Caleydo/caleydo-dev/commit/7c73e74fa2f15c4e3f50b4c1140548ad0b6973d5 solves the problem.

[2013-07-04 12:54] mstreit opened #1391 "Update splash design"
Extracted from #1381

[2013-07-04 12:54] #1381 closed, assigned to mstreit

[2013-07-04 12:55] mstreit commented on #862
Was a problem with the scheduling of our data loading and the workbench initialization.
Fixed in https://github.com/Caleydo/caleydo-dev/commit/7c73e74fa2f15c4e3f50b4c1140548ad0b6973d5

[2013-07-04 12:55] #862 closed, assigned to alexsb

[2013-07-04 12:56] sgratzl commented on #818
@mstreit
is this still relevant, as we have LineUp know. This would be select all database, filter on your target cluster + double click on every row

[2013-07-04 12:59] mstreit commented on #789
JOGL bug ticket has not been addressed yet
https://jogamp.org/bugzilla/show_bug.cgi?id=647

[2013-07-04 13:00] sgratzl commented on #1391
but keep the file type restriction in mind: see https://github.com/Caleydo/caleydo-dev/wiki/Eclipse-RCP-FAQ

[2013-07-04 13:05] mstreit commented on #1367
still not fixed in Kepler.
It's weird, the correct names show up for a sec and are then replaced with the default names again.

[2013-07-04 13:08] sgratzl commented on #1367
but you don't, see:

that was a juno bug

[2013-07-04 13:12] mstreit commented on #818
Yes, this is much more effective now compared to the workflow in DVI.

[2013-07-04 13:12] #818 closed, assigned to cpartl

[2013-07-04 13:37] mstreit opened #1392 "Do not offer detail mode arrow for categorical bricks."
Detail mode for categorical bricks only show the category color in fullscreen. No added value for the user.

[2013-07-04 13:39] mstreit opened #1393 "Do not show draggable vertical lines for categorical histograms in detail mode"

[2013-07-04 13:49] mstreit opened #1394 "Add open project icon to general toolbar"

[2013-07-04 13:58] mstreit opened #1395 "Table view not working in exported version"
[code]

[2013-07-04 14:05] mstreit opened #1396 "On a multi-monitor system splash and wizard are opened on different displays."
Is this only a Linux problem?
I guess this has to do with the primary and secondary display.

[2013-07-04 14:21] mstreit opened #1397 "Rename org.caleydo.vis.rank plugin to org.caleydo.vis.lineup"

[2013-07-04 14:26] sgratzl commented on #1397
LineUp is the visualization technique, Tourguide is one implementation using scores, data domains and so on. So from my point of view, we should stick with that plugin name

[2013-07-04 14:31] #1395 closed, assigned to mstreit

[2013-07-04 14:31] alexsb commented on #1390
Yes. The progress uses it only because it's convenient. We'll have to re-work that. This will also allow us to take care of duplicate IDs.

[2013-07-04 14:33] mstreit commented on #1397
We had a long discussion about this a couple of days ago. However, let's keep the name for now.

[2013-07-04 14:49] sgratzl opened #1398 "Create and apply .gitAttributes"
i.e. for consistent line endings

[2013-07-04 15:05] #1393 closed, assigned to alexsb

[2013-07-04 15:18] cpartl commented on #789
@ngehlenborg Can you check whether this problem still occurs? If so, please try to uncomment the code in AGLView.onScrolled() and hope for the best ;-)

[2013-07-04 16:47] #1392 closed, assigned to alexsb

[2013-07-04 16:49] mstreit commented on #1397
But then org.caleydo.view.rank can be renamed.

[2013-07-04 17:01] ngehlenborg commented on #789
@cpartl Canvas is scrolling but you need to update the mouse position accordingly. Right now clicks and hovering are offset.

[2013-07-04 17:34] ngehlenborg opened #1399 "Java Web Start permissions issues on Mac OS X 10.8.4"
[code]

[2013-07-04 17:50] mstreit commented on #1245
works for me
@alexsb Please check!

[2013-07-04 17:53] ngehlenborg commented on #1399
When launching from command line with -verbose, I get this on the console after the launch fails:

[code]

[2013-07-04 17:54] alexsb commented on #1399
Similar for linux:

[code]

[2013-07-04 17:58] mstreit commented on #1399
http://stackoverflow.com/questions/17275384/missing-codebase-manifest-attribute-forxxx-jar
https://forums.oracle.com/thread/2552412

It seems that the jar files need to be signed with additional parameters. However, we cannot change this, as the signing is done by the Eclipse export script.

[2013-07-04 18:11] ngehlenborg commented on #1399
This what I get on the command line when trying to launch with

[code]

[code]

Here is some additional context regarding the "Cocoa AWT: Not running on AppKit thread 0 when expected.":

http://mail.openjdk.java.net/pipermail/macosx-port-dev/2011-October/001276.html and related to this http://stackoverflow.com/questions/12900695/how-to-obtain-jni-interface-pointer-jnienv-for-asynchronous-calls

[2013-07-04 19:19] alexsb opened #1400 "Use Selection color in Table"
Currently the table selects in gray. It should use the standard selection colors instead.

[2013-07-04 19:21] alexsb opened #1401 "Show in table functionality"
It would be helpful to make it possible to show data of, for example a brick, in the table.  This could be triggered via the context menu.

[2013-07-04 19:25] alexsb opened #1402 "Dynamically set data in table"
In essence it would make sense to have an implementation similar to the dataset info view that switches data domain and table perspective as they are selected. The drop-down method for selecting datasets is not convenient and doesn't make too much sense, especially if one considers the table mainly as a support view.

[2013-07-04 19:27] alexsb opened #1403 "Switch between "show only selected" and "show all" in table"
Showing only selected elements would make the table more useful. I suggest that in "selected" mode we show the records / dimensions that are selected and if no selection is present for either records or dimensions we show all of them for the variable.

[2013-07-04 19:52] alexsb opened #1404 "Rename caleydo-dev to caleydo"
With the release we should also make the repository public. Should we rename it to caleydo instead of caleydo-dev?

[2013-07-04 19:53] sgratzl commented on #1403
have you took a look at the view toolbar?

[2013-07-04 19:55] alexsb commented on #1403
Ups :) :+1:

[2013-07-04 19:55] #1403 closed, assigned to sgratzl

[2013-07-04 20:20] sgratzl commented on #1404
should we rethink the repository(ies) structure

[2013-07-04 20:23] alexsb commented on #1404
Yes, that goes along with it. At this point I'd simply publish the whole caleydo-dev. Future plug-ins could be in separate repositories to keep them private and later be integrated in the main repo. If we want to make some major changes we don't want to publish from the caleydo main repo we could fork it.

I think eclipse works well for that. You can have repositories independent of workspaces.

[2013-07-05 07:31] #1400 closed, assigned to sgratzl

[2013-07-05 07:37] sgratzl commented on #1402
I don't know, whether that really makes sense. I think #1401 will be sufficient.

[2013-07-05 07:43] sgratzl opened #1405 "Create TablePerspectiveActions Extension Point"
you might have noticed the DataDomainActions, which is a general mechanism to add actions (label + Events) to data domains, e.g. Import Groupings.

a similar approach would be useful for table perspectives.

possible actions:
- #1401
- Export
- Rename
- ...

this would help us to create some general actions for table perspectives, which don't need to be implemented in every single view over and ov

[2013-07-05 07:59] cpartl commented on #789
@ngehlenborg This is actually weird, as the picking should be affected by this change. However, I've committed an attempt to solve the offset issue. Please try. As I cannot test it on my machine, I don't know the direction the offset. You maybe have to play with the signs of the translate in PickingManager line 396. Let's hope for the best again ;-)

[2013-07-05 09:39] sgratzl opened #1406 "Avoid long computations in the UI/OpenGL thread"
up to know a lot of computations, e.g. StratomeX histogram generation or brick similarity computation, is done within the UI thread. This blocks the whole interface.

This could be extracted to Eclipse Jobs and a waiting icon should be shown in the UI instead or the ProgressMonitorDialog could be used

[2013-07-05 10:23] sgratzl commented on #1276
2013_01_16, 2013_02_22, 2013_03_26, 2013_04_21 and 2013_05_23 are available now

[2013-07-05 11:26] #1394 closed, assigned to cpartl

[2013-07-05 11:40] #1271 closed, assigned to cagatayTurkay

[2013-07-05 11:40] #1268 closed, assigned to cagatayTurkay

[2013-07-05 11:40] #1273 closed, assigned to cagatayTurkay

[2013-07-05 11:40] #1293 closed, assigned to cagatayTurkay

[2013-07-05 11:41] cagatayTurkay opened #1407 "Visualize data from different datasets in a single scatterplot"

[2013-07-05 13:45] mstreit opened #1408 "Clear selections by picking empty space"
That would be intuitive as it is also handled like this in any editor.

This requires us to render a transparent background plane that can be picked.

[2013-07-05 13:47] ngehlenborg opened #1409 "Different band widths for same number of patients?"
Is there a way to make this easier to interpret? The amount of orange between cols 1 and 2 is much less than between cols 2 and 3.

Could we add a "proportional" mode that scales all independent columns to a height relative to the overall data set size?

![screen shot 2013-07-05 at 9 44 46 am](https://f.cloud.github.com/assets/1216518/753908/7eec6e4c-e579-11e2-9944-2accab87eebc.png)

[2013-07-05 13:55] alexsb commented on #1409
Isn't that the same as #834

[2013-07-05 13:57] alexsb commented on #1245
Worked for me too

[2013-07-05 13:57] #1245 closed, assigned to cpartl

[2013-07-05 14:00] alexsb opened #1410 "In Importer: use nominal as default for string categories, ordinal for int categories."
That's the way it's currently handled in the back-end.

[2013-07-05 14:04] ngehlenborg commented on #1409
Issue #843 describes is one possible solution, there might be others, too.

[2013-07-05 14:19] alexsb commented on #1391
Here's the current state:

![splash3](https://f.cloud.github.com/assets/2039375/754073/d6a4b596-e57d-11e2-9d61-568bb1e5e043.png)

[2013-07-05 14:20] alexsb commented on #1409
I think #834 is something we definitely need to do, and I think it's not going to be too hard.

[2013-07-05 14:20] mstreit commented on #1391
Ubuntu Unity 64-bit
![image](https://f.cloud.github.com/assets/4129755/754089/0c7eb54a-e57e-11e2-92bc-f5f3b12faaf6.png)

[2013-07-05 14:22] sgratzl commented on #1391
windows 7 64 bit 96dpi
![2013-07-05 16_20_56-eclipse](https://f.cloud.github.com/assets/4129778/754102/4fe976e4-e57e-11e2-909d-0a99ff78a76c.png)

[2013-07-05 14:37] ngehlenborg commented on #1391
Still tiny on the Mac (and the version string doesn't show up for quite some time):

![screen shot 2013-07-05 at 10 36 40 am](https://f.cloud.github.com/assets/1216518/754174/62bfd860-e580-11e2-9f67-921ef5d722ad.png)

[2013-07-05 14:57] ngehlenborg opened #1411 "make StratomeX view scrollable?"
![screen shot 2013-07-05 at 10 56 53 am](https://f.cloud.github.com/assets/1216518/754271/3738fa34-e583-11e2-8957-077dccd1cb41.png)

[2013-07-05 15:08] alexsb commented on #1411
No. We'll move columns to the context area instead.

[2013-07-05 15:17] mstreit commented on #1411
But we should still define a reasonable minimum width (and height).

[2013-07-05 16:46] alexsb commented on #1391
Fixed appearance for now, redesign comes later

[2013-07-05 16:50] alexsb commented on #1404
We've decided: rename to caleydo and make public

[2013-07-05 17:28] #1404 closed, assigned to nobody

[2013-07-05 17:29] #1276 closed, assigned to sgratzl

[2013-07-05 21:53] alexsb opened #1412 "On-Node Mapping for Wikipathways broken in detail mode high"
Reproduce e.g., with pathway view or with detail mode in StratomeX

[2013-07-05 21:55] alexsb opened #1413 "Caleydo doesn't continue loading when focus is not on the window"
To reproduce start Caleydo and click another window. Confirmed on Linux and Mac.

[2013-07-05 22:49] alexsb opened #1414 "Pathways can't be added to entourage anymore"
Probably due to changes in RankingElement due to merge.

[2013-07-06 12:34] #1398 closed, assigned to sgratzl

[2013-07-08 07:11] #1414 closed, assigned to sgratzl

[2013-07-08 07:18] mstreit commented on #1413
works for me

[2013-07-08 12:55] cpartl commented on #1410
Currently we use only strings for categories in importer. That way the user does not have to choose int or string and there seems to be no real downside for this (except maybe more space) atm. Should we just guess the default type (ordinal/categorical), or should the int/string also be reflected in the datastructure, which would also require additional gui elements?

[2013-07-08 14:49] cpartl commented on #789
@sgratzl The basic idea of the workaround is the following: Detect whenever there is some scrolling and translate the view accordingly in GL. A ViewScrollEvent is sent whenever there is some scrolling going on, see MinimumSizeComposite. This event is handled in AGLView.onScrolled, which sets the members scrollX and scrollY, which again are used for view translation in AGLView.display.

I can't exp

[2013-07-08 15:00] cpartl opened #1416 "Clipping problems with remote rendered wikipathways"
Wikipathways are not clipped when rendered remotely, as the shader used for on-node mapping seems to ignore clipping planes.

[2013-07-08 15:02] #1412 closed, assigned to cpartl

[2013-07-08 15:30] alexsb opened #1417 "Embedded pathways no longer visible in Entourage"
See screenshot:

![missing_embedded](https://f.cloud.github.com/assets/2039375/762217/5b97cb5a-e7e3-11e2-888c-717915bd6823.png)

[2013-07-08 15:41] alexsb commented on #1417
Actually also on-node mapping in general is broken, including exclamation marks.

[2013-07-08 16:20] mstreit opened #1418 "Load grouping with 0 groups results in a crash of StratomeX"
This happens when a user loads a grouping where no ID matches with the target dataset. When the dataset is loaded to StratomeX, the view crashes.

[code]
[code]

[2013-07-08 18:43] mstreit opened #1419 "Caleydo packages for TCGA UCEC has no clinical data"

[2013-07-08 18:44] mstreit opened #1420 "Add "New Project" data menu entry"
The new project menu entry should open the new project wizard.

[2013-07-08 18:48] alexsb opened #1421 "PC view is missing in release."

[2013-07-08 18:49] mstreit commented on #1420
also add toolbar item

[2013-07-08 18:52] mstreit commented on #1419
effects only last run

[2013-07-08 18:53] mstreit commented on #1419
We should think about adding some kind of control mechanism that gives us warnings when datasets are missing. Maybe a generation report would make sense.

[2013-07-08 18:54] alexsb commented on #1419
Yes, that should be a separate ticket.

[2013-07-08 19:02] mstreit commented on #1413
I have observed the problem again a couple of times.

[2013-07-08 19:04] mstreit opened #1422 "TCGA cal package generation report"
We should think about adding some kind of control mechanism that gives us warnings when datasets are missing.

[2013-07-08 19:07] mstreit opened #1423 "Adding stratification based on log-rank test only finds Ungrouped stratifications in LineUp"
![logrank](https://f.cloud.github.com/assets/4129755/763633/a76f74d8-e801-11e2-958b-2b87bd47cb6a.png)

[2013-07-08 19:14] mstreit commented on #1423
Works for sample GBM data.
Problem observed with UCEC data with the second latest run. Maybe the clinical data is broker there as well. However, the clinical variables appear in the DVI view (which is not the case for the latest run, see #1419 )

[2013-07-08 20:02] alexsb opened #1424 "Don't create new stratification if clustering is canceled"
Right now a new stratification is created for clustering. This also happens when clustering is canceled, which shouldn't be the case.

Extracted from #1362

[2013-07-08 20:02] ngehlenborg commented on #970
Let's publish this **after** the paper is out.

[2013-07-08 20:03] alexsb opened #1425 "Set meaningful name of stratification created through clustering a column."
Right now the default name Perspective_xxxx is used. Extracted from #1362

[2013-07-08 20:04] ngehlenborg commented on #1340
Duplicate of #945.

[2013-07-08 20:04] #1340 closed, assigned to ngehlenborg

[2013-07-08 20:05] alexsb commented on #945
This could be addressed using multiple dataset instances in LineUp for Copy Number, but that's not very elegant.

[2013-07-08 20:23] alexsb commented on #1420
What do you mean by new project? Discard the loaded data?

[2013-07-08 20:27] alexsb opened #1426 "Deal with to many columns if not enough space is available."
We should remove a column. There already is (disabled) implementation for that.

Strategies:
- leftmost / rightmost is removed
- oldest is removed
- adding is prohibited unless there is enough space (doesn't account for window-resizes)
- scrolling

I think scrolling should only be used if we have less than, e.g., 500 px width.

See also #1411

[2013-07-08 20:27] #1411 closed, assigned to alexsb

[2013-07-08 20:28] alexsb commented on #1402
Agreed.

[2013-07-08 20:28] #1402 closed, assigned to sgratzl

[2013-07-08 20:31] ngehlenborg commented on #1411
We could offer both scrolling and auto-removal and the user could choose which one to use in the preferences (scrolling could be default). A use case for scrolling is when the there is a natural order in the stratifications (e.g. based on time).

[2013-07-08 20:37] alexsb opened #1427 "Provide "minimal overhead" mode for StratomeX GUI elements"
In some cases it would be helpful to use an absolute minimum of overhead elements and spacings in StartomeX, expecially if we have many categories. Matchmaker was actually more scalable than StartomeX  and a similar layout would make sense.

Options:
- Remove header bricks
- Remove GUIs (only show on hover)
- Minimize spacings (I'd NOT remove them completely though

[2013-07-08 20:38] alexsb commented on #1396
I have the same problem, but actually I don't really consider this a problem? Suggesting close?

[2013-07-08 20:43] ngehlenborg commented on #1396
Ok to close.

[2013-07-08 20:45] alexsb commented on #1399
Until further notice webstart is discontinued.

[2013-07-08 20:45] #1399 closed, assigned to mstreit

[2013-07-08 20:47] #1396 closed, assigned to nobody

[2013-07-08 20:55] alexsb commented on #970
This is novelty vs popularity. Are you sure choosing novelty with a 5-year old system is the best way to go?

[2013-07-09 06:22] mstreit commented on #1420
Yes. We already have an "open project" menu entry that discards the loaded data.

[2013-07-09 07:38] #1423 closed, assigned to sgratzl

[2013-07-09 07:42] sgratzl commented on #1419
I'm currently uploading the new packages for May and April, rest will follow soon

You have to clean the cache, as the modification dates are not automatically checked

[2013-07-09 08:03] sgratzl commented on #789
@ngehlenborg I'm commiting a new bugfix, please test it. It worked on my mac

[2013-07-09 08:52] #1408 closed, assigned to cpartl

[2013-07-09 09:42] sgratzl commented on #1413
to be more precise:

during the startup of the workbench itself, starting with a grey empty window, if you know click on another window, the start process stops.

It may have to do something with the sample project as it seem to work with other ones

[2013-07-09 09:57] #1419 closed, assigned to sgratzl

[2013-07-09 11:10] mstreit opened #1428 "Shouldn't the grouping import use the column header instead of the filename?"
Usually the column header contains the name of the stratification.
Also, if one imports multiple groupings from one file, the filename has no meaning.

[2013-07-09 11:11] mstreit commented on #789
@ngehlenborg Please test and report.

[2013-07-09 11:13] mstreit opened #1429 "Make import grouping dialog wider"
If loading stratifications from larger files, the scrolling is rather tedious.

[2013-07-09 11:14] mstreit commented on #1429
![import](https://f.cloud.github.com/assets/4129755/767693/b6e641f8-e888-11e2-8e44-e9c5ae60a254.png)

[2013-07-09 11:15] mstreit commented on #1428
The problem is that we currently allow the user only assign and edit one grouping name. What happens if the user selects multiple columns?

[2013-07-09 11:18] #1418 closed, assigned to cpartl

[2013-07-09 11:28] #1429 closed, assigned to cpartl

[2013-07-09 11:44] ngehlenborg commented on #789
Vertical: It works when I scroll to the bottom. It does not work when I don't scroll but the view is larger than the window.

Horizontal: It works when I don't scroll, even when the view is wider than the window. It does not work when I scroll to the right.

[2013-07-09 12:06] mstreit opened #1430 "Add hide group from column feature"
After the import of Nature clustering stratifications, the biggest group is often NA. As the NA patients are usually split up uniquely in all other groups of a compared stratification, StratomeX gets unnecessarily cluttered.

[2013-07-09 12:35] mstreit opened #1431 "Crash when adding stratification to StratomeX via LineUp"
I had this error a couple of times in the last half hour.
Reproduce with the following steps:
- Load Dropbox/Caleydo/projects/3.0/BRCA/*.cal project
- Add stratification with log-rank sign. via wizard
- Remove methylation and add mutation data in LineUp
- Click on first item in list
- Click on second item in list
  -> CRASH

[code]

[2013-07-09 13:02] alexsb commented on #1428
Afair the number of clusters is added. If no name is provided the parser assigns the title. (I'd have to check this though)

[2013-07-09 13:03] alexsb commented on #1430
I'd rather do this on the data side. I could add NA as an unknown type to the parser?

[2013-07-09 13:04] alexsb commented on #1430
Or it could be manually defined in the TCGA import

[2013-07-09 13:08] #1410 closed, assigned to cpartl

[2013-07-09 13:18] mstreit commented on #1430
In some cases it is useful to have NA as a separate group. A soft hide may be better. However, the scoring would also need to check this.

[2013-07-09 13:28] ngehlenborg commented on #1430
Maybe for now we can just **remove** the NA group, e.g. at import time if user requests it. That would solve the vis problem and the query problem. Later we can add support to **hide** groups in the views or exclude them from the query.

[2013-07-09 13:44] mstreit commented on #1430
Yes, we can do that. Where would it fit in the GUI?

[2013-07-09 14:00] alexsb commented on #1430
That already works. Simply remove the category when importing.

[2013-07-09 14:03] mstreit opened #1432 "Import External Score OK/cancel buttons are gone after selecting file"

[2013-07-09 14:20] mstreit commented on #1430
That's only possible in the "Import data" dialog and not in the "Add grouping for.." dialog.

[2013-07-09 14:27] mstreit opened #1433 "The scoring should be based on double instead of floats"
When loading external p-Values (e.g., mutsig) the floating point precision is not enough.

[2013-07-09 14:48] sgratzl commented on #789
@ngehlenborg once more, please
- if it doesn't work, screenshots + whether its the rendering part or the picking one

[2013-07-09 15:53] sgratzl commented on #1413
the reason is that eclipse is waiting till the window is getting active.

I don't know why but it's automatically getting active on my windows system.

Nevertheless I checked in some strange code, that will automatically setting the next shell active.

@mstreit please test

[2013-07-09 16:01] mstreit commented on #1413
I was able to stop it again

[2013-07-09 18:19] ngehlenborg commented on #789
[7/9/13 12:02:27 PM] Nils Gehlenborg: what did you do in the end to make it happen?
[7/9/13 1:10:15 PM] Samuel Gratzl: several things:
[7/9/13 1:12:47 PM] Samuel Gratzl: 1. you need an non-shifted picking, as the mouse coordinates are already correctly shifted by SWT
2. you have to keep in mind, that in our coordinate system the lower left corner is 0,0 -> relevant for vertical scrolling
3. use th

[2013-07-09 18:19] #789 closed, assigned to sgratzl

[2013-07-10 06:54] mstreit commented on #1431
works for me

[2013-07-10 06:54] #1431 closed, assigned to cpartl

[2013-07-10 07:02] mstreit commented on #1421
fixed in https://github.com/Caleydo/caleydo/commit/a659ea12dbe891ec8aa0682a4bea3d0535b68081

[2013-07-10 07:02] #1421 closed, assigned to alexsb

[2013-07-10 07:11] sgratzl commented on #1432
what do you mean by gone: not visible, not selectable -> as I can see them and select them

[2013-07-10 07:49] mstreit commented on #1432
gone = not visible
However, they are there right after the dialog has been opened.
![import1](https://f.cloud.github.com/assets/4129755/773304/49cf17fe-e935-11e2-8d1f-0b3ba869b7f9.png)

[2013-07-10 07:59] sgratzl commented on #1432
do you have a similar behavior in the import grouping dialog, as both are more or less the same code?

[2013-07-10 08:01] mstreit commented on #1432
no

[2013-07-10 08:31] sgratzl commented on #1432
now the layout is even more similar to the import grouping one, please test it again. As it always worked on my system, I can't verify it

[2013-07-10 08:42] mstreit commented on #1432
works now.

[2013-07-10 08:42] #1432 closed, assigned to sgratzl

[2013-07-10 08:57] #1416 closed, assigned to cpartl

[2013-07-10 14:44] sgratzl opened #1434 "Create DateRankColumnModel"
including specialized filter and formatter, similar to String its just a helper column, sortable but not combined able

[2013-07-10 15:04] alexsb commented on #1434
You could actually also think about scoring dates - I might be interested in more recent developments primarily, but could also want to see significant past data

[2013-07-10 15:23] sgratzl commented on #1434
that would be possible, but I would need a custom mapping editor

[2013-07-10 19:09] alexsb opened #1435 "Add scaling factor to deal with high-res (retina) displays."
While the way of working with pixels is intuitive, the size of pixels are shrinking, so we do need to accommodate this.

Ideally we should introduce a scaling factor (float) that lets users dynamically up-scale the size of all pixel-specified elements.

Right now we do have two independent instances that convert pixels to gl cooridnates: PixelGLConverter for the old layouts, and the adaption of th

[2013-07-10 19:15] sgratzl commented on #1435
you are talking about simple scaling. Semantic scaling would be more interesting. That would mean we have to distinguish multiple units, similar to HTML: pt, px and %

[2013-07-10 19:35] alexsb commented on #1435
Well, the old layout uses % (or a more intelligent version of it even, % of non-statically allocated space). We definitely need something like this, but the current implementation shouldn't be influenced by the proposed change. Speaking in HTML terms: I'm suggesting to essentially abandon px and go to something like pt (i.e., size in cm), but also let users dynamically adjust this - since pt doesn

[2013-07-11 03:13] ngehlenborg opened #1436 "adding a new view creates two instances/tabs of the same view"
This happened after I had save the data set with one Stratomex view before. Closing one tab will close the other tab, too. In the end I was unable to remove that duplicate tab.

[2013-07-11 04:20] ngehlenborg opened #1437 "no confirmation about success failure is shown when loading a grouping"
Number of assignments in file plus number of assignments that were matched should be shown.

This s a usability bug.

[2013-07-11 04:24] ngehlenborg opened #1438 "no longer create builds for Mac 32-bit"
There is no 1.7 JDK for 32-bit.

[2013-07-11 04:24] #1438 closed, assigned to alexsb

[2013-07-11 07:42] mstreit opened #1439 "Exception when parsing full matrix Methylation file"
Starting TCGA importer with:  -t GBM 2013_05_23 -g false

[code]

[2013-07-11 07:42] mstreit commented on #1439
see #1216

[2013-07-11 07:42] sgratzl commented on #1436
did you saved the project using kepler or juno?

in the kepler case, I can't reproduce the problem

[2013-07-11 08:16] sgratzl opened #1440 "Try to parallelize Clusterers"
e.g. using ForkJoin Tasks.

[2013-07-11 08:20] sgratzl commented on #1439
should be fixed

[2013-07-11 08:20] #1439 closed, assigned to sgratzl

[2013-07-11 10:01] #1437 closed, assigned to cpartl

[2013-07-11 10:49] sgratzl commented on #1435
things that have to be considered:
- picking -> mouse position in in real pixel vs. the new scaled pixels are virtual ones, e.g. dragging
- zoomer -> needs to be adapted
- lineWidth, pointSize -> always in real pixel size -> ?
- layout2 toAbsolute, toRelative -> same with the mouse coordinates

[2013-07-11 10:54] ngehlenborg commented on #1436
I used the 3.0.0 download.

##

Sent from a mobile device.

On Jul 11, 2013, at 3:42 AM, Samuel Gratzl notifications@github.com wrote:

[2013-07-11 11:46] sgratzl commented on #1435
in general we should move away from real pixels to e.g. [Device-Independent-Pixels (DIPs)](http://msdn.microsoft.com/en-us/library/windows/desktop/ff684173%28v=vs.85%29.aspx).

That could be our new base unit.

[2013-07-11 11:59] mstreit opened #1441 "Wizard tells user to choose stratification for GSEA but is expecting regular brick"
Wizard explanation tells the user to select a header brick to choose a stratification. However, the GSEA calculation only begins when selecting a group brick.

[2013-07-11 13:21] mstreit opened #1442 "GSEA results in OutOfMemoryException for full matrices"
[code]

[2013-07-11 14:11] mstreit commented on #1430
We cannot do it on the importer level, because sometimes you want to add a grouping (from a paper for instance) and just inspect the subtypes they had there. In TCGA the patients added after the paper was published are in the NA group. Hiding would be useful in this case.

[2013-07-11 14:12] mstreit commented on #1430
@cpartl Can you add the page where a user can remove groups to the "Add grouping" dialog. atm this is only supported when the user adds groupings to a newly imported dataset (via the Import data wizard).

[2013-07-11 14:27] mstreit opened #1443 "Add labels to the individual curves in KM-plot detail mode"
There is some space on the right to render the group names. This of course only works in the detail mode.
This feature is also needed for the NMC screenshot.

[2013-07-11 14:42] ngehlenborg opened #1444 "opening right detail view while left detail view is already open crashes StratomeX view"
I tried this with KM plots, doesn't work (probably shouldn't, but it shouldn't give an error either).

[2013-07-11 14:54] ngehlenborg commented on #1444
Actually, this kills all views.

[2013-07-11 14:59] mstreit opened #1445 "Brick selections should be cleared when clicking the background"
Currently, there is no way to get rid of the brick GUI (detail mode arrows, etc) after selecting a brick. This is suboptimal for screenshots.

[2013-07-11 15:15] cpartl commented on #1445
Actually the gui should disappear when not hovering over the brick. This already worked not too long ago.

[2013-07-11 15:46] mstreit opened #1446 "GSEA scores are not removed after new score is calculated"

[2013-07-11 16:07] mstreit opened #1447 "Cluster names get reset when column is removed and re-added to StratomeX"

[2013-07-11 18:24] sgratzl commented on #1435
checkout the new branch: develop_scaling -> everything should depend on the DPI + in addition within the preferences, one can apply an extra scaling factor

[2013-07-11 18:29] sgratzl commented on #1435
everything is now based on DIPs. That means `pixelConverter.getPixel...` won't return pixels but DIPs. The `IGLCanvas` is responsible for handling the DIPs.

in a similar fashion the whole `GLElement` layout are now based on DIPs. But if you need/want special scale, you can use the `Units` class, allowing converting from:
- pixel -> dip
- point -> dip
- em -> dip

[2013-07-11 18:48] ngehlenborg opened #1448 "need support to add categorical variables for stratifications in lineup for filtering"
I would like to load a categorical variable associated with genes (which in the case of mutations/cnv correspond to stratifications) and I want to filter on that categorical variable.

The variable in question tells me whether a gene is a tumor suppressor gene or an oncogene. Not all gene symbols might match.

Data from http://www.sciencemag.org/content/339/6127/1546.

[code]

[2013-07-11 18:50] sgratzl commented on #899
is this still an issue?

[2013-07-11 18:52] sgratzl commented on #1413
I have no idea how to fix that, especially as it works on my windows system. We could just add a note to the website and that's it.

In addition we should test, whether it occurs just in our developing environment or even in the release

[2013-07-11 18:53] sgratzl commented on #1436
so you created and saved the project using the 3.0.0 release?, could use either send me the project or at least the containing workbench.xmi file

[2013-07-11 18:54] sgratzl commented on #1442
I don't think that I'm able to fix this as the nature of GSEA is time and memory consuming -> #1195

[2013-07-11 20:52] mstreit opened #1449 "KEGG Update"
In the KIRC paper this pathway plays a major role: PI3K-Akt signaling pathway
Although it is available in KEGG, we don't have it because our database snapshot it too old.

http://www.genome.jp/kegg-bin/show_pathway?hsa04151

[2013-07-12 06:36] #1449 closed, assigned to mstreit

[2013-07-12 07:17] mstreit opened #1450 "TCGA tab still not in export version"
I already added the plugin to the feature. However, it is still not shown in the export version. Any ideas?

[2013-07-12 07:24] sgratzl commented on #1450
is the plugin in the plugin folder?

[2013-07-12 07:29] mstreit commented on #1413
Yes, the problem occurs also in the release version.
We should mention it in the release notes.
I leave the issue still open but remove it from 3.0.1. Maybe the next RCP update solves the problem.

[2013-07-12 07:29] mstreit commented on #1450
yes, that's the first thing I checked.

[2013-07-12 07:32] sgratzl commented on #1413
It may has something to do with our custom loading dialog as they use the same display, but I'm not sure about that

[2013-07-12 07:38] mstreit commented on #1435
That feature is awesome!
It could even help when presenting Caleydo live on low res projectors. It's also nice for the DVI when many datasets are loaded.

[2013-07-12 08:22] #1450 closed, assigned to mstreit

[2013-07-12 08:30] cpartl opened #1451 "Pathways are no longer loaded"
Following exception during startup:

[code]

[2013-07-12 08:37] sgratzl opened #1452 "Generalize TCGA data browser"
we could thinking of generalizing the tcga data browser. Such that the user can enter one or more URLs, where special metadata json files are stored, that contain a list of caleydo projects.

That would be useful e.g. for @ngehlenborg and his special projects, as the users just would have to enter the base url and browse the projects.

[2013-07-12 08:40] #1451 closed, assigned to mstreit

[2013-07-12 08:49] sgratzl commented on #1436
I think I found the bug, it is all about how we were creating the unique secondary ids for different StratomeX views. They weren't unique over multiple running instances. Now they are time based.

To fix your project you either have to:
1. delete the containing workbench.xmi, load the project, assign you stuff to StratomeXes and store it again
2. edit the containing workbench.xmi:
   1. look for a

[2013-07-12 08:50] #1436 closed, assigned to sgratzl

[2013-07-12 08:51] sgratzl commented on #1330
I think that can wait till 3.1 or be more precise, it doesn't have to be in 3.0.x

[2013-07-12 08:51] #1444 closed, assigned to cpartl

[2013-07-12 09:50] #1445 closed, assigned to cpartl

[2013-07-12 10:05] sgratzl commented on #1448
In this first version, groupings for categorical data, will be automatically added as another metric column.

If you need more, please tell me

So you first have to import this grouping to the data domain, e.g. Mutations and then if you select the Mutations database it should appear as another metric column

[2013-07-12 10:06] #1447 closed, assigned to cpartl

[2013-07-12 10:19] mstreit commented on #1330
That's independent of the 3.0.x release. We need it to cover Oliver's University ranking use case.

[2013-07-12 11:56] sgratzl commented on #1435
warning: I don't know why but `Display.getDPI` will return `72` on the Mac, even its actually more than hundred. That means, that it will initially look too small. An alternative would be to compute the DPI by our own, but that would be monitor dependent.

[2013-07-12 12:28] sgratzl opened #1453 "Load Pathways data from server"
to avoid distributing all pathways let's download them from our server

[2013-07-12 12:30] sgratzl commented on #1453
part of aba432bcc8d51d887b0682f79201731d74cb9980

base url: http://data.icg.tugraz.at/caleydo/download/3.0/pathways/

notation: `<type in lowercase>_<organism in lowercase>.zip`
containing
a flat hierarchy consisting of the known xml and images files + a `metadata.txt` file, which is the previous pathway list file

the generator / fetcher aren't yet updated

[2013-07-12 12:31] #1453 closed, assigned to sgratzl

[2013-07-12 12:57] sgratzl commented on #963
base url: http://data.icg.tugraz.at/caleydo/download/3.0/mappings/

notation: `<organism in lowercase>.zip`
content: depending, see source code

[2013-07-12 12:57] #963 closed, assigned to sgratzl

[2013-07-12 13:35] sgratzl commented on #1442
I added again the PGSEA as alternative to the GSEA to the wizard, you may give it a try

[2013-07-12 13:36] #1446 closed, assigned to sgratzl

[2013-07-12 13:42] sgratzl opened #1454 "Load Pathways only once per GLContext"
as far as I understand every pathway brick is independent of each other. That means that the same pathway figure is loaded multiple times in the same OpenGL context.

We should avoid that, as it is a waste of time and space.

We should think about something similar to [ThreadLocal](http://docs.oracle.com/javase/7/docs/api/java/lang/ThreadLocal.html) but for OpenGL context

[2013-07-12 13:46] #1441 closed, assigned to sgratzl

[2013-07-12 14:49] sgratzl opened #1455 "Refactor IDMapping Manager"
ideas:
- mappings don't need to be mutable -> immutable can faster + threadsafe + less wasted memory
- lazy #955
- there is no need for a mapping graph per id category, one graph with multiple components will fulfill the same purpose
- object mappings, e.g. david -> GLPathway, all just one mapping
- functional mappings, e.g. PathwayVertex -> ID : id is stored in PathwayVertex no need to store it t

[2013-07-12 14:57] sgratzl opened #1456 "Parallelize Data,Mapping, and Pathway Loading"
using #1455 the mapping won't be the problem, when things will be done in parallel.

therefore multiple things could be done in parallel instead of sequential:
- Data Domain Loading -> ensure Data Domain Initialization is done once
- Mapping loading -> as persistent once, can be made thread safe
- Pathway loading -> on a data base level or even pathway level

realizable using ForkJoinTasks or the

[2013-07-12 15:18] sgratzl opened #1457 "Directly load KEGG Pathways from KEGG server during startup"
requirements:
- [x] pathway view has to handle unmodified pathways
- [x] getting image size without loading the whole image, -> see http://stackoverflow.com/questions/1559253/java-imageio-getting-image-dimension-without-reading-the-entire-file

[2013-07-12 16:28] alexsb commented on #1435
The pathway view makes some problems.

![pathway](https://f.cloud.github.com/assets/2039375/789392/03c2c648-eb10-11e2-94fa-91509bf7f355.png)

Specifically, the scrolling seems to be off.

[2013-07-12 18:50] alexsb commented on #1455
that is is one benefit. In addition you need the graph management only once, which may save additional memory.

Assume we allow complex object (e.g. unique objects, pathways) stored within the mapping graph.

Mapping a pathway object to its id can be done without a lookup table, as the id is stored within the pathway object. So you can define a function that maps pathway object to its id and savin

[2013-07-12 18:57] mstreit commented on #1443
I think that's fine.

![screenshot_20130712_205429](https://f.cloud.github.com/assets/4129755/790325/b794fa38-eb24-11e2-896c-d3e88a39c622.png)

[2013-07-12 19:06] mstreit commented on #1442
ok

[2013-07-12 19:06] #1442 closed, assigned to sgratzl

[2013-07-12 20:25] ngehlenborg opened #1458 "import of large matrices is blocking the UI"
When trying to load a large matrix (say > 150 MB, full mRNA-seq data set for KIRC in TCGA), the UI is blocking while the file is read (before the table is populated). In fact, according to the task manager on my Mac "Caleydo is not responding.".

We should either just load a subset of the table (say the first 100 lines - instead of almost 20,000) or show a progress indicator or both.

This is rela

[2013-07-12 20:59] ngehlenborg opened #1459 "out of memory when trying to load large matrices"
When trying to load a matrix with ~20K rows and ~500 columns (all floats) I got an out of memory error (see below).

A test file is in the Dropbox (projects > 3.0 > KIRC > KIRC.uncv1.mRNAseq_RPKM.txt -unzip before use).

[code]

[2013-07-12 21:50] ngehlenborg opened #1460 "TCGA_SAMPLE mapping should use lowercase by default"
Since we are creating the data packages with lowercase we should also use this as the default for loading groupings and matrices.

[2013-07-12 21:52] ngehlenborg opened #1461 "import wizard should show dimensions of the matrix (rows x columns)"
Sometimes there are just too many to find out by scrolling.

[2013-07-12 22:04] ngehlenborg opened #1462 "error message when matrix loading fails is not informative"
Can we tell the user more about what went wrong?

![screen shot 2013-07-12 at 6 03 27 pm](https://f.cloud.github.com/assets/1216518/791269/0f79ed0c-eb3f-11e2-93c8-97e199f4abd1.png)

[2013-07-12 22:25] ngehlenborg opened #1463 "Caleydo in unstable state after failed matrix import"
After loading of large matrix failed, I confirmed the error message (see #1462), but the import wizard did not close (see screenshot). Some of the values in the data clipping fields were missing.

![screen shot 2013-07-12 at 6 23 34 pm](https://f.cloud.github.com/assets/1216518/791358/fdf9dc10-eb41-11e2-8f86-799450ef77c1.png)

[2013-07-12 22:31] ngehlenborg opened #1464 "add data usage notice to TCGA data import tab"
Message above selection element:

Please be advised that downloading _The Cancer Genome Atlas_ data constitutes agreement to the [policies and guidelines on data usage and publications](http://cancergenome.nih.gov/abouttcga/policies/policiesguidelines).

[2013-07-14 04:58] ngehlenborg opened #1465 "seemingly random subset of samples in query set are in selection (highlighted) when previewing the results"
Depending on what I preview I seem to be getting a different selection.

![screen shot 2013-07-14 at 12 56 03 am](https://f.cloud.github.com/assets/1216518/793824/e98ff948-ec41-11e2-8b4f-48cf382a3ed0.png)
![screen shot 2013-07-14 at 12 55 57 am](https://f.cloud.github.com/assets/1216518/793825/e9b2ba8c-ec41-11e2-89d7-07f130bcaada.png)

[2013-07-14 12:44] ngehlenborg opened #1466 "previewing stratifications breaks DVI"
The DVI should only show the active (=included in a view) stratifications/variables in the folded dataset boxes.

![screen shot 2013-07-14 at 8 42 16 am](https://f.cloud.github.com/assets/1216518/794243/085c8daa-ec83-11e2-8f72-bdac0a4eb1b4.png)

[2013-07-14 13:01] ngehlenborg opened #1467 "in GSEA/PGSEA queries, show number of mapped genes to pathway in results"
We need two extra columns: absolute number of mapped genes and relative to number of genes in the pathway (X%). That way we could filter out those pathways for which we have low coverage. It won't solve the general problem of not being able to run PGSEA queries with reduced matrices, but at least we can get rid of everything that is definitely not correct.

[2013-07-14 13:10] ngehlenborg commented on #1448
This is working quite well, but I have two observations:
- [x] The new column was added to the Copy Number Metrics (I did load it for the copy number data domain, but it should show up as a separate column and not be mixed with copy number levels).
- [x] The above example contains entries for only a small subset of the genes, i.e., a lot genes will be assigned "NA", while some will have "Oncogene"

[2013-07-14 13:19] ngehlenborg opened #1468 "selecting a matrix stratification that does not map to the pathways when querying with (P)GSEA should not be possible"
Right now it is possible to select a matrix stratification for the query that does not map to the pathways and no error or warning is shown to the user. I can only tell from these log messages that something is wrong:

[code]

We should either show a warning/error message to the user (and ask them to select another stratification) or don't allow them to select unmapped stratifications.

I guess a

[2013-07-14 15:10] ngehlenborg opened #1469 "brick menu does not disappear after moving mouse outside of the brick"
The menu should be hidden as soon as the mouse leaves the brick area.

[2013-07-14 15:14] ngehlenborg opened #1470 "there is currently no way to figure out how many samples/patients are in a stratification"
We only show total number of samples loaded (selection view) and number of samples in the data set (data set info view) but I need to know how many of those samples are covered by a given stratification.

[2013-07-14 15:21] ngehlenborg commented on #1470
The number of elements shown in the LineUp view is what I want, but it is pretty inconvenient to look it up there.

We also need to take into account that a stratification might contain more samples than the matrix. What we really want to display somewhere is the total number of samples shown in StratomeX as well as the number of elements in the stratification, something like this:

**`<sample>` S

[2013-07-14 15:29] ngehlenborg opened #1471 "pathways do not fit into view"
![screen shot 2013-07-14 at 11 27 58 am](https://f.cloud.github.com/assets/1216518/794423/379878f6-ec9a-11e2-839a-0c0ac3db7e3a.png)

[2013-07-14 15:36] ngehlenborg opened #1472 "out of memory after previewing 3 pathways"
Happened with the KIRC use case data set.

[code]

![screen shot 2013-07-14 at 11 35 41 am](https://f.cloud.github.com/assets/1216518/794430/10c79da0-ec9b-11e2-8334-007be4910b35.png)

[2013-07-14 15:43] ngehlenborg commented on #1472
The same happens with the GBM demo data set after the 6th pathway (there were only 4 groups, while in KIRC there were 5 and I already had one pathway loaded).

![screen shot 2013-07-14 at 11 42 02 am](https://f.cloud.github.com/assets/1216518/794437/17161e9c-ec9c-11e2-96d4-9d1ba2884efb.png)

[2013-07-14 16:26] ngehlenborg commented on #1284
Maybe chi-square test? See The Cancer Genome Atlas Research Network, Nature 499, 43–49 (2013), Figure 3c.

[2013-07-14 16:28] ngehlenborg opened #1473 "p-values for PGSEA query where there does not seem to be a PGSEA score"
Any idea what is going on here? I am using only 1500 genes, i.e., there might be pathways without any mapped genes.

This was the second PGSEA query of the session. Maybe this is a caching issue.

![screen shot 2013-07-14 at 12 24 52 pm](https://f.cloud.github.com/assets/1216518/794501/57b8f50e-eca2-11e2-9c88-2325fd1d4c34.png)

[2013-07-14 16:33] ngehlenborg opened #1474 "columns cannot be dragged into the context area/"parking space""
It does not seem to be registered as a drop area.

[2013-07-14 16:47] ngehlenborg opened #1475 "closing StratomeX causes FPSAnimator time out"
The data set had been saved previously (all Kepler) with a StratomeX view that contains several stratifications (KIRC case study data set).

The StratomeX view is not removed from the DVI. Only after closing the DVI the StratomeX view is gone.

[code]

[2013-07-14 16:50] ngehlenborg opened #1476 "auto-maximizing and -minimizing of the LineUp view (double-click on tab) causes StratomeX rendering errors"
Examples from two different sessions:

![screen shot 2013-07-14 at 12 39 06 pm](https://f.cloud.github.com/assets/1216518/794537/7e259a82-eca5-11e2-8a7e-776b7163aae7.png)
![screen shot 2013-07-14 at 12 48 59 pm](https://f.cloud.github.com/assets/1216518/794538/7e35a21a-eca5-11e2-9ecd-dba3e1d38e8c.png)

[2013-07-14 16:55] ngehlenborg commented on #1475
Apparently this is only happening with the previously saved StratomeX. StratomeX views created in the same session don't seem to have this issue.

[2013-07-14 17:00] sgratzl commented on #1435
the pathway stuff should be fixed.

As nobody else found bugs, I'm going to merge the branch into the develop tomorrow.

[2013-07-14 17:15] sgratzl commented on #1457
@alexsb you said there should be a script around that manipulates the images -> where is it?

[2013-07-14 17:31] sgratzl commented on #1476
are you working with the develop_scaling branch or the pure develop one?

[2013-07-14 17:32] ngehlenborg commented on #1476
Pure develop.

On Jul 14, 2013, at 1:31 PM, Samuel Gratzl notifications@github.com wrote:

[2013-07-14 18:12] sgratzl commented on #1457
as the download needs some time, we could create an general first run dialog.

In this dialog, shown only once during the first start, we could:
- download pathways: wiki + kegg
- download mappings

[2013-07-14 18:14] sgratzl commented on #1448
both should be fixed, now

[2013-07-14 18:17] sgratzl commented on #1475
I don't know whether this is really StraomeX specific, as I get this error all the time, when I'm opening a new view: see #1386

I assume as we are still doing a lot of things within the OpenGL Thread, see #1406, the new jogl version complains that a maximum frame time was exceeded

[2013-07-14 18:20] #1464 closed, assigned to sgratzl

[2013-07-14 18:25] ngehlenborg opened #1477 "external GENE scoring disappears after adding a stratification to the StratomeX view"
It looks like this is happening when the query is reset or when I add a stratification via double-click.

[2013-07-14 18:27] ngehlenborg commented on #1457
I second that proposal. It is taking too long (and the progress indicator says still 0% even though many pathways have already been downloaded according to the log).

[2013-07-14 18:44] sgratzl commented on #1456
we could also think about doing things after the workbench has started. e..g using the `org.eclipse.ui.startup` extension point

[2013-07-14 19:17] sgratzl commented on #1457
I implemented a simple cache initializer. The KEGG pathway download will take some time, but at least the user will bet some feedback

[2013-07-14 19:32] alexsb commented on #1469
Christian closed this issue in #1445?

[2013-07-14 19:39] ngehlenborg commented on #1469
Yes, clicking clears it but it should disappear without clicking since it is triggered by hovering (it is updated to the correct brick when hovering over another brick).

[2013-07-14 19:39] alexsb commented on #1470
This was discussed in #772 which was closed because no one was interested.

I don't understand what you mean by "the total number of samples loaded (selection view)"?

I think this would probably be an option to either show in the dataset info view - but there's pretty a lot of data there already - or in a separate header brick view.

Probably the easiest way to deal with this is to select a whole

[2013-07-14 19:40] alexsb commented on #1471
You can drag them. We can't make them smaller otherwise it's pointless.

[2013-07-14 19:41] ngehlenborg commented on #1470
The selection view shows the total count (= union across multiple data domains) of all sample ids loaded (for a given sample id type, e.g. TCGA_SAMPLE)

[2013-07-14 19:42] ngehlenborg commented on #1471
Can't drag in screenshots for case study. Please give me at least 5.

[2013-07-14 19:43] alexsb commented on #1457
Script - @mstreit did that.

[2013-07-14 19:45] mstreit commented on #1457
Removed green portions of KEGG pathways using this unix command:

[code]

[2013-07-14 19:46] alexsb commented on #1471
But you can adjust your scaling now and even easier increase your window size ;).

[2013-07-14 19:46] #1471 closed, assigned to alexsb

[2013-07-14 20:26] ngehlenborg opened #1478 "both GSEA and PGSEA generate result columns with "GSEA" in the header"
I am unable to tell which query I triggered after the fact. Use PGSEA in the header if that was the query.

[2013-07-15 00:44] ngehlenborg opened #1479 "expression levels not mapped on pathway detail view"
Based on the BRCA case study data set.

![screen shot 2013-07-14 at 8 41 11 pm](https://f.cloud.github.com/assets/1216518/795192/914b9cbe-ece7-11e2-9aa4-cadf59520d86.png)

[2013-07-15 00:49] ngehlenborg opened #1480 "out of memory after querying for copy number stratifications"
Used the BRCA case study data set. This happened when I queried for copy number data the second time (I had queried and previewed some pathways earlier in the session).

[code]

[2013-07-15 00:53] ngehlenborg opened #1481 "changing filter on data domain (e.g. removing copy number "NORMAL") deselects data domain and resets LineUp"
This happens when I click on the filter icon next to the name of the data domain on the left of the results table.

This is not critical but quite annoying when I have put filters on other categorical variables that I use to trim down the selection (e.g. the oncogene/tumor suppressor gene classification), because those filters get reset.

[2013-07-15 06:27] sgratzl commented on #1479
wontix -> I'm currently rewriting the pathway shader because of #1457

[2013-07-15 06:31] sgratzl commented on #1478
part of 3a468f895a002774a56d0a3ef3714ab4320e736c

[2013-07-15 06:31] #1478 closed, assigned to sgratzl

[2013-07-15 06:33] sgratzl commented on #1480
I can't really do anything against Memory Errors except of: increasing your local maximum Heap space: `-Xmx4g`

or do a big refactoring that is about memory optimization: see #955, #1455,

[2013-07-15 07:24] sgratzl commented on #1435
develop_scaling is now merged into the develop branch

[2013-07-15 07:29] sgratzl commented on #1457
a first draft of the shader is part of e4c018d625f888f6b3ad587e35236f0c9690ef58. The problem is that due to map mapping and linear filtering you can't do a binary decision, whether to filter a color or not. I tried to implement a version based on HSV, which should give us more flexibility

[2013-07-15 07:30] #1448 closed, assigned to sgratzl

[2013-07-15 07:30] #1435 closed, assigned to sgratzl

[2013-07-15 07:31] #1480 closed, assigned to sgratzl

[2013-07-15 07:42] sgratzl opened #1482 "Disable and not hide invalid TourGuide Wizard options within StratomeX"
by @ngehlenborg: we should show all options in the tour guide wizard all the time, including the currently not possible ones. That would be easier for the user.

In addition, a tooltip should explain why that option is not available.

[2013-07-15 09:12] #1477 closed, assigned to sgratzl

[2013-07-15 09:12] #1481 closed, assigned to sgratzl

[2013-07-15 09:27] sgratzl commented on #1468
= no shared genes? or not a valid mappable dataset type (genetic data domains)?

[2013-07-15 09:34] sgratzl commented on #1465
This is on purpose, isn't it. The selection will be the intersection of the query and the current previewed stratification.

Or what do you mean?

[2013-07-15 10:27] cpartl commented on #1462
Where can I get this dataset? Do you know what went wrong?

[2013-07-15 10:36] cpartl commented on #1463
Can not reproduce this, for me the wizard closes after confirming the error message.

[2013-07-15 10:41] sgratzl opened #1483 "Create MiniMap for Zoomer"
a minimap would be useful for the zoomer on demand. e.g. in the lower right corner add a button that opens a mini map

[2013-07-15 11:05] mstreit commented on #1468
The latter, I assume.

[2013-07-15 11:16] #1457 closed, assigned to sgratzl

[2013-07-15 12:21] #1458 closed, assigned to cpartl

[2013-07-15 12:33] sgratzl commented on #1386
it seems to be that we are having a deadlock again. As far as I understand:
1. SWT-Thread: adding a glcanvas to the animator
2. SWT-Thread: try to pause the animator, wait for a valid waiting state

meanwhile:
1. Animator-Thread: display a swt based gl view
2. Animator-Thraed: before display, check using Display.syncExec, if we aren't disposed, yet

-> Deadlock, which is automatically solved by a