[2013-07-15 12:44] cpartl commented on #1460
-> TCGA_sample? For consistency, this should probably be applied to all id categories and id types (GENE, SAMPLE, REFSEQ_MRNA, ENTREZ_ID, DAVID, PATHWAY_VERTEX ...) thus also changing enums etc. Maybe the inverse solution would be easier (changing package creation to upper case)?

[2013-07-15 13:08] #1461 closed, assigned to cpartl

[2013-07-15 13:33] mstreit commented on #1472
won't fix. seems to be the low heap space again.

[2013-07-15 14:11] ngehlenborg commented on #1465
Ok, with the explanation this makes sense, but it is not obvious without it.

We need a better visual indicator for the query brick, the "hit" brick and the intersection of those. Could we use an alternative second selection color and use it for the outlines of the relevant bricks as well as for the selected bands?

[2013-07-15 14:16] ngehlenborg opened #1484 "default scaling factor for Mac needs to be increased"
Since users will typically not be aware of the scaling settings in the preferences we need to have a better default, the current one is too small.

I don't know what the correct setting would be, but the slider position in the second screenshot should give you an idea.

It might also be nice to have a text field to enter the exact scaling factor (or at least a numeric representation next to the sl

[2013-07-15 14:21] ngehlenborg commented on #1462
I don't know what went wrong. The data set that I tried to load is in now in the dropbox projects folder for 3.0/KIRC: `KIRC-TP.meth.by_mean.data.txt`. That might not happen with enough heapspace.

[2013-07-15 14:26] ngehlenborg commented on #1460
Ok, let's make this uppercase when building the packages. But we still need to enforce uppercase mapping when the user selects TCGA_SAMPLE. The other ID types are not affected by this.

[2013-07-15 14:28] ngehlenborg commented on #1468
This is a bit odd. I am trying to use (P)GSEA with copy number of methylation data. According to the DVI, there is a "GENE" mapping between those data domains and the pathways. However, (P)GSEA is deactivated.

[2013-07-15 14:29] ngehlenborg commented on #1482
The dashed line is great. Could you also make the text gray to make this perfect?

[2013-07-15 14:53] ngehlenborg opened #1485 "# genes mapped to pathway != # genes shown?"
Dataset: BRCA_incl_Nature_Subtypes.cal
Pathway: Ascorbate and aldarate metabolism

Only a single gene is mapped according to the pathway map, but LineUp says 8.

![screen shot 2013-07-15 at 10 50 13 am](https://f.cloud.github.com/assets/1216518/798291/2fa2ac92-ed5e-11e2-8fc9-b75d6a525e17.png)
![screen shot 2013-07-15 at 10 51 55 am](https://f.cloud.github.com/assets/1216518/798292/2fa30a34-ed5e-11

[2013-07-15 14:56] ngehlenborg opened #1486 "font sizes in LineUp"
I know that I could scale up the overall visualization, but I find some of the fonts in LineUp a bit too small in general. The mapping dialog is a particularly problematic.

Is anyone else having this issue?

![screen shot 2013-07-15 at 10 50 06 am](https://f.cloud.github.com/assets/1216518/798333/a990cbd8-ed5e-11e2-99e6-9af0c7d1a697.png)

[2013-07-15 15:04] alexsb commented on #1485
This is probably a multi-mapping. Can you click the node and check how many show up in the selection info view?

[2013-07-15 15:06] mstreit commented on #1482
..and maybe also add a solid frame for the activated ones.

[2013-07-15 15:07] alexsb commented on #1484
On Linux it's the other way around, it needs to be decreased.

![default_scaling](https://f.cloud.github.com/assets/2039375/798426/498e2c2e-ed60-11e2-822a-71cc42fd3363.png)

[2013-07-15 15:13] ngehlenborg commented on #1485
No, only one gene mapped to the pathway.

![screen shot 2013-07-15 at 11 13 16 am](https://f.cloud.github.com/assets/1216518/798473/228c64e6-ed61-11e2-8fdb-5aa5974ae905.png)

[2013-07-15 15:16] sgratzl commented on #1484
the reason for both observations is that the default scaling is depending on the reported DPI: `Display.getDPI()`

That means in @alexsb case it claims to have a too high DPI, this is also the reason why the splash screen looks so weird on this machine -> it should print in the console something with: `DPI: Point`

In @ngehlenborg case, as already pointed out in the previous ticket, the mac swt al

[2013-07-15 16:01] sgratzl commented on #1468
according to #920:

-> will just be enabled for datadomains containing mRNA

[2013-07-15 16:14] #1482 closed, assigned to sgratzl

[2013-07-15 16:14] sgratzl commented on #1484
on the mac I now assume a 96 dpi resolution (which is wrong btw. but will reproduce the old results)

[2013-07-15 16:14] #1484 closed, assigned to sgratzl

[2013-07-15 16:23] sgratzl commented on #1465
Do you remember the yellow bands..., which we already had

query brick = orange box
hit brick = preview gray box
selected band = selection

[2013-07-15 16:30] alexsb commented on #1465
I can imagine that an alternative selection color might help a little, but the underlying problem is that users have to understand that. We can either
- trust they read the (yet to write) documentation, or
- add annotation to the selection somehow,

IMO.

[2013-07-15 16:41] mstreit commented on #626
fixed with #1457

[2013-07-15 16:41] #626 closed, assigned to mstreit

[2013-07-15 16:56] ngehlenborg commented on #1468
We should enable it for everything that has as "GENE" mapping to pathways (at the risk of the user).

[2013-07-15 17:01] ngehlenborg commented on #1465
Could we use the "hatch" pattern in the background of the query brick, the hit brick and the intersection band?

PS. I doubt that people will read the documentation. But we still need to write it, because otherwise they will complain that there is no documentation ...

[2013-07-15 17:13] mstreit commented on #1472
Bubble sets are the problem.

[code]

@dkalkofen any ideas?

[2013-07-15 17:18] ngehlenborg commented on #1479
Reopening because #1457 is closed  and I am still experiencing the problem. See also #1417 (EnTourage).

[2013-07-15 18:32] ngehlenborg commented on #1467
To show the percentage as a bar is a great idea! But I would show the number of genes mapped (# Mapped Genes) just as a number, not as a bar.

[2013-07-15 19:53] ngehlenborg opened #1487 "heatmaps for full matrices are not informative"
We need to sample the most variable genes from those matrices and cluster those for the heatmaps.

[2013-07-16 06:03] sgratzl opened #1488 "Refactor BubbleSets to native OpenGL"
currently it uses AWT Graphics to draw, which will be afterwards painted to a Texture and then used for pathways

A native solution that directly renders to OpenGL would be useful

[2013-07-16 06:12] sgratzl opened #1489 "Refactor Data Management"
ideas:
1. [ ] _reduce caching_ use more views instead of storing the data, e.g. for normalized values, log values,... -> just apply a function on the raw data on the fly
   -> see `IFloatList`, where you can setup a mapping function and it will return another `IFloatList` instance
2. [ ] _otpimize datastructure_ optimize data for specific types, e.g. for numerical tables, you could store everythin

[2013-07-16 06:21] sgratzl opened #1490 "Discuss GL View Update Strategy"
currently every view runs within the same FPSAnimator, which runs with about 30fps.

However a lot of views wouldn't need to be updated all the time. e.g the histogram is rather static.

We could therefore rethink our view update strategy.

When do we need the full fps:
- view is in focus and a mouse event is triggered (moved, clicked,...)
- when it is requested (repaint calls), e.g. for animation

[2013-07-16 09:17] sgratzl commented on #1485
there is a bug within the pathway renderer as it doesn't take multi mapping into account. So LineUp is correct and I'm working on a fix for the Pathway. Then you will see another Node mapped, which is a multi-mapping

[2013-07-16 09:43] sgratzl commented on #1468
How were you able to select it, I'm just able to select those groups, who are having a genetic background. The other e.g. RPPA, Clinical, doesn't work.

[2013-07-16 09:46] sgratzl commented on #1465
"hatch" pattern isn't possible for the intersection band, at the moment.

[2013-07-16 09:49] sgratzl commented on #1465
so the goal is:
1. highlight query block
2. highlight hit block
3. highlight only the band between them (if there is one), but select the whole band -> = only the band between the two block in a special color/style = right bands in the screenshots

[2013-07-16 10:36] sgratzl opened #1491 "Implement GSA statistic"
paper:

http://www-stat.stanford.edu/~tibs/ftp/GSA.pdf

R package:

http://cran.r-project.org/web/packages/GSA/

[2013-07-16 11:13] #1485 closed, assigned to sgratzl

[2013-07-16 11:13] #1486 closed, assigned to sgratzl

[2013-07-16 11:17] #1467 closed, assigned to sgratzl

[2013-07-16 11:53] #1417 closed, assigned to cpartl

[2013-07-16 13:08] sgratzl commented on #1465
I implemented the three goals

if you don't like the colors for the hit block or the band between, take a look at `TourGuideRenderStyle.STRATOMEX_...`

[2013-07-16 13:15] ngehlenborg opened #1492 "perform comparison of Caleydo GSEA enrichment scores and Broad reference implementation"
Proposal for testing strategy:
- [ ] export list of samples in query subsets
- [ ] export full matrix
- [ ] import both into R and/or the GSEA desktop application
- [ ] compute GSEA on the KEGG pathways (only those also available in Caleydo)
- [ ] import ranked list of gene sets and scores (enrichment score, later also p-values) into TourGuide and compare with results of built-in GSEA

We should t

[2013-07-16 14:07] ngehlenborg commented on #1465
I like the yellow, I think that makes it much clearer what is going on. Can we also put a yellow box around the query and a dashed yellow box around the hit?

If the selected row in the lineup view would be yellow, too, then it would be perfect (only when it shows the results of a query, for normal browsing we should still be using orange).

@alexsb @mstreit: What do you think about this?

[2013-07-16 14:15] ngehlenborg opened #1493 "selection is messed up when re-ordering results"
To reproduce:
1.  Perform query into CNV based on overlap.
2.  Reorder based on CNV metrics (here: high level amplification)
3. Scroll to top and select first result based on new ranking.

![screen shot 2013-07-16 at 10 09 03 am](https://f.cloud.github.com/assets/1216518/805149/881649a6-ee21-11e2-9008-17c34dbc8d47.png)

Related to #1465.

[2013-07-16 14:25] ngehlenborg commented on #1465
Should we also be using yellow in pathway queries?

[2013-07-16 14:27] ngehlenborg opened #1494 "picking issues with histogram handles in header bricks"
When I use the header histograms to change the color mapping I often have issues grabbing the handles/lines. Does anyone else have this issue?

[2013-07-16 14:30] ngehlenborg opened #1495 "unable to chose selected row in LineUp when inserting stratification from list"
It is currently not possible to get a preview when clicking on the selected entry, I guess this is because LineUp is not firing an event when the user clicks on the currently selected item.

Work around: Selecting another item and then selecting the original item of interest works, but it a bit annoying, in particular when dealing with pathway (which take a long time to render).

[2013-07-16 14:39] ngehlenborg commented on #1443
This is an example where it really doesn't work. I know that this will be hard to fix, but maybe we could at least re-plot the label for the currently selected and/or hovered line on top of the others (precedence: hovered > selected > regular).

![screen shot 2013-07-16 at 10 37 48 am](https://f.cloud.github.com/assets/1216518/805377/5b2257ba-ee25-11e2-8e3b-1fc9e77761c8.png)

[2013-07-16 14:59] ngehlenborg opened #1496 "LineUp mapping dialog reset button"
The reset button is a bit too close to the "close" (i.e., "confirm") button. It is easy to hit one when trying to hit the other.

There also seems to be a pixel of transparent background between the outline and the background of the dialog on the left and right.

![screen shot 2013-07-16 at 10 56 53 am](https://f.cloud.github.com/assets/1216518/805512/22a870f6-ee28-11e2-903c-3f7e6da6ed8f.png)

[2013-07-16 15:06] ngehlenborg opened #1497 "investigate why RPPA data does not have a GENE mapping to pathways in BRCA use case data set"
Looks like it is using "protein" and still has the "|" in the protein name.

[2013-07-16 15:07] ngehlenborg opened #1498 "selection is messed up when selecting "unmapped" clusters for GSEA query"
I tried to perform a GSEA query using RPPA data (which does not have a gene mapping to the pathway - see #1497). The selection didn't get cleared when I changed the selection in the RPPA column (I successively selected the four clusters that have a selection in the screenshot) and I got the following output on the console:

[code]

![screen shot 2013-07-16 at 11 01 53 am](https://f.cloud.github.co

[2013-07-16 15:14] ngehlenborg commented on #1472
Fixed by @dkalkofen in c9c4b4451cbcceeccb6e32b0027ee15d42b0cfeb.

[2013-07-16 15:14] #1472 closed, assigned to alexsb

[2013-07-16 15:22] ngehlenborg opened #1499 "color assignment for categorical data seems to be broken for large number of categories"
The tumor stage categories (see BRCA use case data set, "Overall Stage" clinical variable) are all gray.

![screen shot 2013-07-16 at 11 20 31 am](https://f.cloud.github.com/assets/1216518/805689/757538b6-ee2b-11e2-9cc2-4ed434e6b9cf.png)

[2013-07-16 15:29] ngehlenborg opened #1500 "exception when trying to preview stratification returned by log-rank query that is already in StratomeX"
To reproduce:
1. Select stratification
2. Based on log-rank test
3. Select Days to death for query
4. Select stratification from results that **is not yet** in the StratomeX view (a new column will be created)
5. Select stratification that **is already** in StratomeX view (below exception will be thrown)

![screen shot 2013-07-16 at 11 26 13 am](https://f.cloud.github.com/assets/1216518/805723/165

[2013-07-16 15:35] ngehlenborg opened #1501 "Are query scores recomputed when the data domain filter (e.g. for categorical) is changed after query?"
I couldn't tell for sure, but given that I never observed changes at the top of the list, this might not be the case.

[2013-07-16 15:36] ngehlenborg commented on #1195
See also #1491.

[2013-07-16 16:19] sgratzl commented on #1499
I know that, but the largest qualitative color scheme is only 12.

So what colors should be used instead of, if the number of categories is larger than 12?

[2013-07-16 16:20] sgratzl commented on #1499
another problem is that the stages aren't the same over multiple tumor types. So if we want to specify them, we would need to do that on a per tumor type.

[2013-07-16 16:24] sgratzl commented on #1497
we defined RPPA as: protein x tcga_sample,

so there is no | parsing yet nor is protein a known gene mapping

[2013-07-16 16:28] ngehlenborg commented on #1499
For now a general solution for categorical variables with > 12 categories would be the easiest solution.

Should we just repeat colors? Or use equidistant hues in HSB? In the end there is no good solution to this, but we should use something that is reasonable. I tend towards HSB colors.

@alexsb @mstreit: What do you think?

[2013-07-16 16:29] ngehlenborg commented on #1497
Maybe better to parse as genes and to use only the part before "|".

[2013-07-16 18:11] alexsb commented on #1499
hmm, I actually think that we shouldn't try to use colors and this gray is OK. Color is only a redundant encoding anyways and adding more colors only could cause confusion.

[2013-07-16 18:13] ngehlenborg commented on #1499
Ok, but then we need to use another gray as default.

[2013-07-16 18:30] alexsb commented on #1499
Why?  A darker one?

[2013-07-16 18:32] sgratzl commented on #1499
`CategoricalClassDescription` line 215 if you want to change it.

[2013-07-16 18:34] ngehlenborg commented on #1499
Darker or lighter doesn't matter. If it is the same color as the brick background it looks like a rendering error. @sgratzl please use a slightly darker gray.

[2013-07-16 19:09] #1495 closed, assigned to sgratzl

[2013-07-16 19:11] sgratzl commented on #1493
the problem is how to compute the intersection between hit and query/ies.

the strategy that issued this ticket, just takes the current ranking criteria into account. If it refers to a stratification/group use that otherwise select all

the old/reimplemented strategy takes all columns before the first snapshot into account. The problem is that if you have multiple query columns, the selection may

[2013-07-16 19:27] #1500 closed, assigned to sgratzl

[2013-07-16 19:38] ngehlenborg commented on #1493
What about always using the (last) query column as triggered by the user through the TourGuide, independently of the ordering? That is what I would expect to see.

[2013-07-16 19:43] sgratzl commented on #1497
in a similar fashion: microRNA is also a special IDCategory and not a gene id type

[2013-07-16 19:49] ngehlenborg commented on #1497
Unlike proteins, microRNAs have no "direct" mapping to "genes". It is ok and expected for them to have a different ID type.

[2013-07-17 06:58] sgratzl opened #1502 "Recreate/hack TCGA projects"
because of #1497 we need to recreate the TCGA projects

[2013-07-17 07:32] mstreit commented on #1465
I am not really a fan of yet another color, but I guess it's ok to use yellow again.
Yes, to be consistent we should also use it for pathway queries.

[2013-07-17 07:45] #1493 closed, assigned to sgratzl

[2013-07-17 07:45] #1496 closed, assigned to sgratzl

[2013-07-17 07:45] #1501 closed, assigned to sgratzl

[2013-07-17 07:57] sgratzl opened #1503 "KEGG pathway parsing error"
pathway: hsa05205

[code]

could you please take a look at it and check if any side effect will appear (e.g. that we are skipping one or more pathways

[2013-07-17 08:09] mstreit commented on #1503
This is a bug in the pathway itself. The "＋mmu:18750" needs to be removed. I did this in the local version. As we load the pathways directly from KEGG, we need to handle this in the parser.

[2013-07-17 08:10] sgratzl commented on #1465
3 things:
1. do we have an alternative to color: blinking, dashing, texturing isn't possible
2. adjusted rand queries / log rank -> in this case there is no group intersection -> I think we don't should set a selection as it will be normally everything
3. pathway queries -> do you mean the selection of the query group?

[2013-07-17 08:13] sgratzl commented on #1320
new service by GitHub: http://choosealicense.com/

[2013-07-17 09:18] sgratzl commented on #940
after we have loaded the gene sets, want could we do with them?

[2013-07-17 10:09] #1503 closed, assigned to cpartl

[2013-07-17 11:31] mstreit commented on #1459
Works for me. Should be no problem when using 2GB heap space.

[2013-07-17 11:31] #1459 closed, assigned to cpartl

[2013-07-17 11:34] mstreit commented on #1443
Looks good. Closing issue.

![screenshot_20130717_133333](https://f.cloud.github.com/assets/4129755/811444/c0262c7c-eed4-11e2-847d-7e83ff143282.png)

[2013-07-17 11:34] #1443 closed, assigned to cpartl

[2013-07-17 12:37] mstreit commented on #1497
I've tested it with a newly generated BRCA cal package. The columns in the RPPA dataset are now mapped to gene symbols.

[2013-07-17 12:37] #1497 closed, assigned to sgratzl

[2013-07-17 13:14] cpartl commented on #1466
This currently only works for the overview mode of nodes, for matrix mode this will have to be fixed with tickets #868 and #869.

[2013-07-17 13:14] #1466 closed, assigned to cpartl

[2013-07-17 15:05] mstreit commented on #1465
why not just making the borderlines of the bands thicker and maybe a little darker? that should look nice and we do not need to introduce an additional color.

[2013-07-17 15:46] mstreit opened #1504 "Default brick height is too small for histograms"
It makes sense that the height of histogram bricks is static. However, this is too extreme now.

[2013-07-17 15:53] sgratzl commented on #1492
see `...tourguide project/test/testGSEA.R`

[2013-07-17 15:55] #1502 closed, assigned to sgratzl

[2013-07-17 15:58] sgratzl commented on #1499
done, if you still don't like it: `CategoricalClassDescription` line 215 is the place to change it

[2013-07-17 15:58] #1499 closed, assigned to sgratzl

[2013-07-18 07:26] sgratzl commented on #1475
@ALL I have implemented an own FPSAnimator. Can everyone please test if he encounters some problems with it?

[2013-07-18 09:31] sgratzl commented on #1498
you have a multi selection of the RPPA column (CTRL-Key hold), which was recently added.

However none of the clusters could be used a query to the GSEA, as only the one with a frame around the cluster are possible.

[2013-07-18 09:31] sgratzl commented on #1498
wontfix

[2013-07-18 09:31] #1498 closed, assigned to sgratzl

[2013-07-18 09:50] mstreit commented on #1475
Seems to work. However, when playing around I got the following exception. If it's unrelated to this issue, then it can be extracted to a new one

[code]

[2013-07-18 10:05] sgratzl commented on #1475
how did you get this error?

did you use some context menus?

[2013-07-18 10:19] sgratzl commented on #1465
I checked in some version where we can play around with the band borders. Just take a look a `TourGuideRenderStyle`

I tested to change the color of the selected row, but didn't like it as would only make in rare cases sense, which is more confusing than helpful

[2013-07-18 10:39] cagatayTurkay opened #1505 "Selection Info displays missing genes"
Also debugging shows that a selection delta with 1500 genes is fired.

![selectionissue](https://f.cloud.github.com/assets/4129319/818524/1bf6df26-ef96-11e2-96cd-186f4055e271.PNG)

[2013-07-18 10:43] mstreit commented on #1505
I assume that this is muli-mapping issue. If this is the case, there is no fix atm.

[2013-07-18 11:26] sgratzl commented on #1505
the following genes aren't mapable to DAVID:

[code]

which is our primary id type for genes

-> can't fix

[2013-07-18 11:26] #1505 closed, assigned to sgratzl

[2013-07-18 11:43] mstreit commented on #1505
will probably be fixed with #364

[2013-07-18 12:14] mstreit commented on #1465
Very nice. I like it a lot. Should we also add the line-stippling to the highlight in LineUp (and make the background a littler lighter)? It should basically look the very same as the highlight in StratomeX.

![screenshot_20130718_141235](https://f.cloud.github.com/assets/4129755/818889/79359422-efa3-11e2-9e3f-c1ec5b0fbc5a.png)

[2013-07-18 12:16] mstreit commented on #1465
I noticed that the line-stippling is currently only shown for JI queries. Maybe we should also highlight the source column for ARI queries using the line-stippling. Atm there is not source highlight at all.

[2013-07-18 12:29] mstreit commented on #1475
After closing some views, sometimes Caleydo crashes silently on my machine. I also can't reproduce the error from above. It could be some issue with my ATI graphics card again. If the new animator works for the rest of the team, we can close the ticket.
@alexsb Please test on your linux machine.

[2013-07-18 12:53] #1468 closed, assigned to sgratzl

[2013-07-18 15:51] #1504 closed, assigned to cpartl

[2013-07-19 06:54] mstreit commented on #1487
We can either calculate the most variable genes inside Caleydo or use the firehose gene list of the sampled matrices as white list for the sampling.

[2013-07-19 06:56] ngehlenborg commented on #1487
Let's compute them internally for now. This solution is more universally applicable.

[2013-07-19 09:09] mstreit commented on #1487
OK, the variation can be calculated with the existing FloatStatistics. The question is if we should sample during the column creation or if we should add the sampled stratification to the dataset and also make it accessible for other purposes. The latter is of course more general.

[2013-07-19 09:20] #1469 closed, assigned to cpartl

[2013-07-19 11:11] #1374 closed, assigned to sgratzl

[2013-07-19 12:40] #1474 closed, assigned to cpartl

[2013-07-19 12:46] sgratzl opened #1506 "Optimize MyTextRenderer to allocate less objects per frame"
currently most temporary objects are allocated by the text renderer for computing the bounds (at least one or two Rectangle2D.Float objects per frame per GLYPH)

[2013-07-19 13:04] alexsb commented on #1487
I think this should be done after parsing the dataset and should then be stored (serialized) with the dataset.

[2013-07-19 13:06] #1462 closed, assigned to cpartl

[2013-07-19 13:14] cpartl commented on #1463
As I still cannot reproduce it, I assume that this is a special condition when being out of memory. Therefore, I will close this issue. Reopen should it occurr again when not being out of memory.

[2013-07-19 13:14] #1463 closed, assigned to cpartl

[2013-07-19 13:23] mstreit commented on #1487
I agree. When the matrix gets too big (threshold?) we should calculate the sampled perspective, cluster it and store it. The user could then choose with our usual mechanism between the full matrix and the sampled one - like we do it for k-means and unclustered now.

[2013-07-19 14:00] mstreit opened #1507 "Decide which icon set we should use in the future"
Some options:
- http://p.yusukekamiyamane.com/icons/preview/fugue.png
- https://www.fatcow.com/free-icons
- http://openiconlibrary.sourceforge.net/
- http://xantorohara.110mb.com/core-icons/Eclipse-16x16.html

Icons with size 16x16 are probably fine for our purpose.

@ALL: Any favorites?

This should be decided before we can do #1420

[2013-07-19 14:17] mstreit opened #1508 "LineUp standalone with data import vs. web version vs. full Caleydo integration"
Web version:
- pro: could increase potential users and impact
- con: lots of work, already published

Standalone:
- pro: little effort
- con: neither fish nor fowl

Full Caleydo integration:
- pro: make lineup available for our bio users as well as all the others with the same application
- pro: no duplication of implementation (importer, etc.)
- con: maybe too complicated/overkill for ranking onl

[2013-07-19 14:23] alexsb commented on #1508
I'm voting for the full integration and a potential slim version for the demo standalone.

[2013-07-19 14:24] alexsb commented on #1507
So far we use 99% custom made icons. I don't think we'll get around that in the future, there are just not too many icons out there for "show portal stubs" etc.

[2013-07-19 14:34] mstreit commented on #1507
We can replace many of our current icons with standard icons. When I look at the general toolbar for instance, that would not be a problem. For more specialized icons we could just pick one that somehow fits (out of >4k that should be doable). Designing good 16x16 icons will be very hard.

[2013-07-19 14:41] alexsb commented on #1507
I don't see a point in replacing existing icons, with maybe some exceptions. I don't think that we'll find suitable icons even in a 4k icon set. Also I don't think we have to pick a single set - we just need to make sure that they fit somehow.

[2013-07-19 14:43] sgratzl commented on #1454
there is a new class: `GLContextLocal` that provides two features:
1. similar to ThreadLocal one can have a variable that is stored within the context. Therefore if the same class instance is used over multiple gl contexts, the context specific value will be returned
2. in addition a static method: `getOrCreateShared` is available that let you share one and the same GLContextLocal over multiple in

[2013-07-19 14:43] #1454 closed, assigned to sgratzl

[2013-07-19 14:44] mstreit commented on #1507
We should use the standard size of Eclipse icons (16x16). Our current icons are 24x24, which makes it hard to find new ones. If we use multiple icon sets, the icons will never fit together (see open icon). That just looks ugly.

[2013-07-19 14:45] sgratzl commented on #1506
the MyTextRenderer is optimized. On the one hand the bounds weren't cached and were computed every time, on the other hand the biggest memory eater was the `GL.glPushClientAttrib` as a profiler showed, that JOGL internally copied all the flags and stored them. Therefore per drawText call a quite big map was cloned.

[2013-07-19 14:45] #1506 closed, assigned to sgratzl

[2013-07-19 14:48] ngehlenborg commented on #1507
I agree with Marc, we should try to use standardized icons wherever possible. The current ones are hard to understand.

[2013-07-19 14:48] alexsb commented on #1507
Picking 16x16 icons is definitely not a good idea. Even if Eclipse currently does that it's not going to work in the near future with high DPI screens.

As I said I think we won't be able to use a lot of stock icons, but I'm happy to look in a specific library if I need one.

[2013-07-19 14:48] mstreit commented on #1508
Agree.
The Caleydo integrated LineUp view should allow users to pick any ID category as a row identifier.

[2013-07-19 14:51] sgratzl commented on #1507
the lineup icons are mainly based on fatcow

[2013-07-19 14:51] mstreit commented on #1507
We can pick a standard icon set that also offers the same icons bigger.

[2013-07-19 14:54] mstreit commented on #1454
Pathways are loaded in StratomeX much faster now. Good job.

[2013-07-19 14:55] cpartl commented on #1507
I vote for 24x24 icons from a set for standard operations. We will still have to design custom ones for specialized operations like "Show portal links" in the future and this will be easier with 24x24.

[2013-07-22 08:03] #1465 closed, assigned to sgratzl

[2013-07-22 10:05] sgratzl commented on #1508
LineUp view: https://github.com/sgratzl/org.caleydo.view.lineup

[2013-07-22 10:44] sgratzl commented on #1475
...

[2013-07-22 11:18] mstreit commented on #1494
I was able to reproduce the issue. After pulling it is gone. Closing issue.

[2013-07-22 11:18] #1494 closed, assigned to alexsb

[2013-07-22 11:35] mstreit opened #1509 "Reordering of bricks not possible when bricks are highlighted from a query (grey border)"
The drop target is not appearing in between bricks. Only the drop target before the top brick and after the bottom brick is appearing.

[2013-07-22 12:04] sgratzl opened #1510 "Unique IDs generation"
Persistent Unique IDs must not be based on incrementing an integer, as the this will only create unique ids within the same java vm.

However if you save and load projects collisions will occur.

e.g. Datadomain Ids.

solution: use e.g. time based ids, or by using [UUID](http://docs.oracle.com/javase/6/docs/api/java/util/UUID.html)

[2013-07-22 12:23] mstreit commented on #1510
I fully agree that we should switch.
However, is this relevant for release 3.0.1?

[2013-07-22 12:28] mstreit commented on #1487
I will add sampled default perspectives to the table class (which can be null if the dataset is small enough or no sampling has been requested). This way users can always decide if they want to see the full matrix or the sampled ones (in StratomeX for instance).
For TCGA dataset we would have then "Ungrouped full", "Ungrouped sampled", "K-Means full", "K-Means sampled".
For calculations like GSEA

[2013-07-22 12:29] ngehlenborg commented on #1487
Sounds good to me.

[2013-07-22 12:30] mstreit commented on #1492
@sgratzl Did you run a test already? If yes, what was the result of the comparison?

[2013-07-22 13:49] #1424 closed, assigned to alexsb

[2013-07-22 13:54] mstreit commented on #1492
according to @sgratzl the results are very similar. close.

[2013-07-22 13:54] #1492 closed, assigned to sgratzl

[2013-07-22 13:59] alexsb commented on #1487
- Use affinity instead of K-Means
- Ungrouped sampled is unnecessary

[2013-07-22 14:00] mstreit commented on #1476
@ngehlenborg Please confirm that issue is still open in the HEAD version.

[2013-07-22 15:21] #1460 closed, assigned to cpartl

[2013-07-22 15:26] cpartl commented on #1509
I think I need a more detailed description how to reproduce this, i can reorder bricks within a column while there is a gray border around the brick column.

[2013-07-22 15:37] alexsb commented on #1476
I can't reproduce.

[2013-07-22 15:39] alexsb commented on #1475
No problems observed.

[2013-07-22 15:39] #1475 closed, assigned to alexsb

[2013-07-22 15:47] alexsb commented on #1428
Here is the current state:

![grouping](https://f.cloud.github.com/assets/2039375/835933/81beee32-f2e5-11e2-9c59-3a18d1f158cf.png)

Right now I take the "Grouping Name" and add the number of clusters. This would be "cnmf.membership 3" in this case for the first column. We have a couple of options here:
- Keep it the way it is + add some explanation that the number of clusters is added to the name

[2013-07-22 15:54] #1362 closed, assigned to alexsb

[2013-07-22 15:56] alexsb commented on #1425
This is only temporary while the clustering is still ongoing.

[2013-07-22 15:58] alexsb commented on #1425
Here is the result after clustering is complete:

![strat_names](https://f.cloud.github.com/assets/2039375/836038/9748fca0-f2e7-11e2-95a7-f6d563fe31f4.png)

[2013-07-22 16:03] alexsb commented on #1425
Set temporary name:

![strat_names1](https://f.cloud.github.com/assets/2039375/836065/34a2e9b6-f2e8-11e2-99ed-546410976e51.png)

[2013-07-22 16:03] #1425 closed, assigned to alexsb

[2013-07-22 16:36] ngehlenborg commented on #1476
The bricks are no longer messed up but I get a flicker on the righthand side of the view after scaling down with the second double-click. It looks like the size of the view is not determined correctly since changing the window size fixes the issue.

![screen shot 2013-07-22 at 6 36 13 pm](https://f.cloud.github.com/assets/1216518/836297/de15a3d6-f2ec-11e2-9116-c83bcd2e39d4.png)

[2013-07-22 16:48] alexsb opened #1511 "Use CompositeTextRenderer instead of using CaleydoTextRenderer Directly"
Not doing so can cause the text quality to be bad. E.g.:

![text_quality](https://f.cloud.github.com/assets/2039375/836344/2f035b02-f2ee-11e2-8c00-fa8e236d11aa.png)

Currently occurs in all views that don't use GLElements

[2013-07-22 16:49] alexsb opened #1512 "Enroute fails to start."
Due to assertion error in SafeCallables.newInstance

[code]

[2013-07-22 16:50] alexsb commented on #1512
Same for pathway.

[2013-07-22 17:09] sgratzl commented on #1512
just remove the check/assertion and it should be fine. The goal was to check if it is possible to create a new instance without parameters but somehow the code is not fully correct

[2013-07-22 17:19] #1512 closed, assigned to sgratzl

[2013-07-22 19:22] sgratzl commented on #1508
LineUp data importer: https://github.com/Caleydo/org.caleydo.vis.lineup.demos

[2013-07-22 20:32] mstreit commented on #1487
This is the result when we take the 1500 most variable genes (by calculating the variance). We load the full matrices but the heatmaps only show the sampled dataset. The cluster heatmaps definitely look better than before, but still not very good. The overall variance is rather low. (Affinity clustering (input parameter 9) is applied instead of K-Means).

![screenshot_20130722_222834](https://f.cl

[2013-07-22 21:19] alexsb commented on #1470
I've implemented PerspeciveInfos:

![perspective_info](https://f.cloud.github.com/assets/2039375/837988/b3db42e8-f313-11e2-8fe3-03c95b5ad934.png)

Right now they are updated for every brick you select, i.e., they show the info for the overall stratification if you click the header, else they show the data about the brick. It also shows the percentage relative to the dataset size.

I can change thi

[2013-07-22 21:59] alexsb commented on #1470
Added unmapped data to info view:
![unmapped](https://f.cloud.github.com/assets/2039375/838236/b70f0f98-f319-11e2-983c-48aebe4dc166.png)

This shows how many elements were lost due to a conversion of stratification. I'm not thrilled by this information taking up two rows though. Maybe we could show it as a tooltip for the counts if unmapped is not 0. Currently tooltip provides info on this as it's

[2013-07-22 22:58] alexsb commented on #1479
Occurs in 3.0.1 beta builds.

[2013-07-22 22:59] ngehlenborg commented on #1479
Only in the build, not when I launch from Eclipse.

[2013-07-23 04:55] ngehlenborg commented on #1487
Do you know why they look so different from the ones we get when using the Firehose filtered data? (or do they look the same with affinity clustering?)

Btw, why affinity clustering over k-means?

[2013-07-23 06:41] ngehlenborg opened #1513 "closing tool bar tab with "X" button causes exception"
[code]

[2013-07-23 08:35] mstreit commented on #1487
We use affinity because it is supposed to give us better results (non-fixed number of clusters).

It seems that the Firehose 1500 gene subset is calculated differently. Atm we use variance.

[2013-07-23 09:51] sgratzl commented on #1489
btw. I already optimized the categorical data column, such that the normalized value will be computed on the fly. This saves around 30MB of main memory for 10 lines of code

[2013-07-23 10:41] mstreit commented on #1509
Add a column, add another column using Jaccard index ("Based on overlap with existing cluster". While the grey highlight is drawn around the bricks in the previously added column, no reordering is possible.

[2013-07-23 10:42] mstreit opened #1514 "Switching to detail mode when template column is active messes up StratomeX"
![screenshot_20130723_124156](https://f.cloud.github.com/assets/4129755/841000/96e9ea74-f384-11e2-8d07-b3d81d88b3e8.png)

[2013-07-23 10:43] mstreit commented on #1514
We could disable detail brick switches during the wizard mode.

[2013-07-23 11:22] #1514 closed, assigned to sgratzl

[2013-07-23 11:39] sgratzl commented on #1508
a draft of the full integration view is already functional, a simple demo imported is implemented

[2013-07-23 11:39] #1508 closed, assigned to sgratzl

[2013-07-23 12:22] cpartl commented on #1509
Hm, the drop target is a little covered by the gray borders, but other than that reordering works for me.

[2013-07-23 18:28] sgratzl commented on #1428
+1

Single column selected -> by default the data set name
multiple ones -> by default the column header

[2013-07-23 18:32] sgratzl commented on #1470
the unmapped field is really hard to interpret without knowing the details. I'm not sure whether this is really useful. In the same sense, we would have to highlight multi mappings.

[2013-07-24 06:33] #1510 closed, assigned to sgratzl

[2013-07-24 06:39] mstreit commented on #1513
Works for me
Is there a special way to reproduce it?

[2013-07-24 07:05] sgratzl opened #1515 "Create a Combined Score that is the rank delta between the two nested ones"
see LineUp paper future work.

a combined column consisting of two rankable elements, where the rank delta is mapped to float range. i.e. using a mapping editor with borders: NaN...NaN by default.

[2013-07-24 07:07] sgratzl commented on #1515
add a shortcut action, similar to the show rank delta button, that creates the combined column

[2013-07-24 08:48] sgratzl commented on #1126
see also Maven + Tycho

http://www.vogella.com/articles/EclipseTycho/article.html

https://github.com/tesla/book-tycho/blob/master/en/01-introduction/01-chapter1.md

archetype: https://github.com/open-archetypes/tycho-eclipse-plugin-archetype

m2e connector is available

[2013-07-24 09:37] sgratzl commented on #1479
can anyone test it again?

[2013-07-24 09:42] mstreit commented on #1487
@ngehlenborg Do you know how Firehose finds the most variable genes? I didn't find documentation on that.

[2013-07-24 10:02] #1509 closed, assigned to cpartl

[2013-07-24 10:41] mstreit commented on #1479
Works for me.

[2013-07-24 10:41] #1479 closed, assigned to alexsb

[2013-07-24 10:43] mstreit opened #1516 "Dependent column in export version not showing up"
No exception in log. After clicking the plus, nothing happens:

OK: org.caleydo.view.stratomex.tourguide.TourguideAdapter: add new dependent column
OK: org.caleydo.view.stratomex.tourguide.TourguideAdapter: add new dependent column
OK: org.caleydo.view.stratomex.tourguide.TourguideAdapter: add new dependent column
OK: org.caleydo.view.stratomex.tourguide.TourguideAdapter: add new dependent column

[2013-07-24 10:46] mstreit commented on #1428
agree with @sgratzl + brief description

[2013-07-24 11:24] #1516 closed, assigned to sgratzl

[2013-07-24 14:06] alexsb commented on #1428
ok, @cpartl  - please implement the GUI, I'll take care of the back-end.

[2013-07-24 14:21] cpartl commented on #1428
ok, just to be sure what we need here:
- we need to specify, which row contains the grouping titles
- the user should be able to modify the text in this row
- upon confirmation the titles should be added to the grouping description (does not exist yet)

[2013-07-24 14:29] alexsb commented on #1428
Yes. We could also think about adding a row that's not yet there for the labels?

Also, I'm not so sure if we do want

This seems rather inconsistent. Maybe we should drop the dataset name altogether.

[2013-07-24 14:35] cpartl commented on #1428
Yes, we could add a dedicated row for that. But it could be inconvenient, if the information is already present in one of the rows.
What about making this dedicated title row "moveable" , so that it is at the top with empty cells by default and when moving down, it is filled with the cell content of the underlying rows (just like a mask)?

I agree with dropping the dataset name.

[2013-07-24 14:39] alexsb commented on #1428
Maybe we can do an "add header row" instead?

[2013-07-24 14:41] cpartl commented on #1428
How should that work?

[2013-07-24 14:46] alexsb commented on #1428
A button labeled "add header row". If you press it a new row is added to the table with "Grouping 1" "Grouping 2"... in the cells.

[2013-07-24 14:50] cpartl commented on #1428
Yes, but this does not solve the problem of reusing the text already present in the dataset.
What about this:
You always see the dedicated header row, filled with "Grouping 1" etc by default.
To fill this row with the text of an existing row, we add a button "use as titles" to the headers of all rows, which copies their text. (or marks this row as header row)

[2013-07-24 14:52] cpartl commented on #1428
Of course this would be many buttons, maybe move that to the context menu, but this might be too subtle?

[2013-07-24 15:26] mstreit commented on #1487
IQR is more robust regarding outliers than the variance. I will test it.

[2013-07-24 15:40] alexsb commented on #1470
I'm adding the unmapped as tool-tip on the number of samples/genes

[2013-07-24 15:45] mstreit commented on #1470
OK

[2013-07-24 15:50] alexsb commented on #1470
A little hidden, but here it is:

![unmapped](https://f.cloud.github.com/assets/2039375/849713/bbb876dc-f478-11e2-91e6-c5c855cd0936.png)

[2013-07-24 15:52] #1470 closed, assigned to alexsb

[2013-07-24 16:02] mstreit commented on #1487
Still looking quite different

IQR filtered genes:
![screenshot_20130724_175758](https://f.cloud.github.com/assets/4129755/849785/0ff71414-f47a-11e2-97e4-ba486af24d10.png)

Firehose filtered genes:
![screenshot_20130724_180526](https://f.cloud.github.com/assets/4129755/849819/e2a94f8a-f47a-11e2-8cdd-d8b61f22b04e.png)

[2013-07-24 16:13] alexsb commented on #1487
Do you use k-means for the firehose and affinity for the IQR filtered?

[2013-07-24 18:21] mstreit commented on #1487
Yes. But it looks like different genes. I will try it with both Affinity.

[2013-07-24 18:23] alexsb commented on #1487
My guess: you can't tell without using the identical clustering algorithm. But you're right: also the histograms look a little different.

[2013-07-24 18:32] mstreit commented on #1487
This is Sampled Firehose with Affinity Clustering. Still the same.
![screenshot_20130724_203128](https://f.cloud.github.com/assets/4129755/850747/4caeed36-f48f-11e2-81e1-ed0a5f3c4ab7.png)

[2013-07-25 07:18] sgratzl commented on #1507
I vote for some icon sets that has multiple icons sizes. In addition I would suggest to have: SWT view toolbar icons 16x16, main toolbar : 24x24 and OpenGL icons 32x32 (better zooming) as I prefer power of 2 images in OpenGL

[2013-07-25 07:22] mstreit commented on #1507
Agree. Do you also have a suggestion which icon set to use?

[2013-07-25 07:36] sgratzl commented on #1507
http://p.yusukekamiyamane.com/icons/preview/fugue.png
-> 16x16 png
-> credit link

https://www.fatcow.com/free-icons
-> 16x16 & 32x32 png
-> credit link

openiconlibrary:
-> really large + ico&png + various sizes: 8-128
-> big collection with duplicates: e.g. 7 zoom in icons -> difficult to get a common style
-> credit link

Eclipse Icons
-> mainly 16x16 png
-> "boring"

either fatcow or openiconl

[2013-07-25 07:39] #1367 closed, assigned to sgratzl

[2013-07-25 07:52] sgratzl commented on #1386
by a custom animator implementation: #1475 this issue is fixed

[2013-07-25 07:52] #1386 closed, assigned to cpartl

[2013-07-25 07:53] sgratzl commented on #955
in line with #1455

[2013-07-25 07:54] mstreit commented on #1507
I vote for fatcow too.
the very different styles mixed in openiconlibrary is not optimal.

[2013-07-25 07:59] sgratzl commented on #945
see also #1448 in this case groupings of categorical data are automatically added as metrics to LineUp

[2013-07-25 08:04] sgratzl commented on #941
isn't this already done?

[2013-07-25 08:05] mstreit commented on #945
@ngehlenborg Should we add them by default to our TCGA packages?

[2013-07-25 08:06] sgratzl commented on #365
see also #1385 export to clipboard - can be part of the same dialog

[2013-07-25 08:47] mstreit commented on #941
realized in #1487

[2013-07-25 08:47] #941 closed, assigned to mstreit

[2013-07-25 08:53] mstreit commented on #1513
@sgratzl Do we have the same problem on our Mac?

[2013-07-25 08:54] mstreit commented on #1487
@sgratzl Do you know an R package that we could use for testing?

[2013-07-25 08:55] mstreit commented on #1476
@sgratzl Can you reproduce it on our Mac?

[2013-07-25 09:00] mstreit commented on #1473
As we now show the #mapped genes, it should be obvious to users what happens. Pathways with 0 mapped genes don't have a score. By default, all of them appear at the very end of the list. Closing issue.

![screenshot_20130725_105759](https://f.cloud.github.com/assets/4129755/854566/95a662ca-f508-11e2-958c-fb22b5756b97.png)

[2013-07-25 09:00] #1473 closed, assigned to sgratzl

[2013-07-25 09:07] sgratzl commented on #1487
within the java library: commons-math there are statistical implementions of Median, percentile, Variance, ...

just add this package as a dependency and you can reuse most of your code to determine the data

[2013-07-25 09:08] sgratzl commented on #1487
just use the `quantile` and `var` commands

[2013-07-25 09:10] mstreit commented on #1487
I actually meant an R package that calculates the most variable genes.

The results of variance and IQR look plausible. So they must use a different way to find the "most variable" ones.

[2013-07-25 09:14] mstreit commented on #1216
When the sampling in #1487 works, we can completely switch to the full matrices.
@ngehlenborg Do you agree?

[2013-07-25 10:45] mstreit commented on #920
@sgratzl Can this issue be closed?

[2013-07-25 10:48] mstreit commented on #1397
@sgratzl Should we do that now?

[2013-07-25 10:51] mstreit commented on #778
LineUp covers this pretty well. Won't implement.

[2013-07-25 10:51] #778 closed, assigned to alexsb

[2013-07-25 10:52] mstreit commented on #819
@ngehlenborg Is that still relevant or can we close the issue (and milestone)?

[2013-07-25 11:02] sgratzl commented on #1397
we could rename the vis plugin to lineup but I will wait till we decide on a repository structure

[2013-07-25 11:26] sgratzl commented on #1476
I can reproduce it, somehow the viewport magically shrinks. If I dump the viewport: before 1698 afterwards 1641.

[2013-07-25 11:33] sgratzl commented on #920
p values are still missing, so not yet

btw. I think the correct abbrevation is PAGE and not PGSEA

[2013-07-25 11:36] mstreit opened #1517 "Realize rank optimization analysis (R IX in paper)"
R IX: Rank-driven attribute optimization Optimizing the ranking of an item is an important task. Instead of analyzing how the ranking changes upon modifications of the attribute values or the weights, it should be possible, for example, to optimize the settings (i.e., values and/or weights) to find the best possible ranking of a particular item. Identifying the sensitivity of attributes, i.e., how

[2013-07-25 11:39] sgratzl commented on #1517
alternative: simulated annealing solver - not as greedy as a simple gradient decline

[2013-07-25 14:50] sgratzl commented on #1513
can't reproduce this error

[2013-07-26 06:28] sgratzl commented on #1513
wont fix

[2013-07-26 06:28] #1513 closed, assigned to sgratzl

[2013-07-26 06:58] sgratzl opened #1518 "Compare PAGE GSEA alternative with reference implementation"
As I know have the original code for the PAGE algorithm, I can check and compare the results

[2013-07-26 07:15] sgratzl commented on #1056
works for me with latest jogl

[2013-07-26 07:15] #1056 closed, assigned to sgratzl

[2013-07-26 07:37] sgratzl opened #1519 "Create Dummy Data for Prototyping"
for prototyping, e.g. using the GLSandbox, it would be useful if there is a standard method to create some dummy data:
- table based data domain with "random" data - or given a distribution
- tableperspectives including groupings
- id mappings

[2013-07-26 07:52] sgratzl opened #1520 "Convert And Update Porting of standard plots to GLElements"
- [x] heatmap element -> needs update with full tiling + latest picking techniques
- [x] histogram -> should be done, needs to be tested
- [ ] scatterplot -> catagay version -> merge?
- [x] KaplanMaier Plot
- [x] Enroute horizontal heatmap thing
- [ ] parallel coordinates plot -> #1720
- [x] box-and-wisker plot
- ...

[2013-07-26 10:50] cpartl commented on #1428
gui is rfc, waiting for back-end

[2013-07-26 12:54] #1519 closed, assigned to nobody

[2013-07-26 13:01] sgratzl commented on #1519
I added a new data domain type: mock

The purpose is quite simple. If you want to quickly test your GLElement and you need a DataDomain, just:
1. add `org.caleydo.datadomain.mock` as an **OPTIONAL** dependency
2. create a new class where you just put the mock object, you may not want to push this class
3. just call `MockDataDomain.createNumerical(numRows, numCols, new Random())` to create a random

[2013-07-26 16:09] alexsb commented on #1428
Looks good, a couple of comments:
- clicking on "use Custom Grouping Names" does add a new line every time
- maybe we don't even need this distinction? We could just have one "add header button" that does something similar to the "use custom grouping names" radio. Ideally you should be able to also directly edit the existing header line (i.e., make the green line editable).
- Then the spinner coul

[2013-07-26 17:49] alexsb commented on #1428
OK, i've implemented a version of the back-end. Didn't test it though, since I didn't immediately see how to set the grouping names in save() of ImportGroupingDialog.

GroupingParseSpecification now has a list of groupingNames. Right now I use the groupingNames or an automatically generated string. It would be possible to use a row of the file too, but this seems unnecessary given the way you'd ha

[2013-07-29 08:20] cpartl commented on #1428
I chose to implement it that way for a couple of reasons:
- A simple push button suggests that you could add such a line more than one time
- You can not remove the added line again without another widget (you could use a checkbox of course, but radio is better, see below)
- You generally either want to use existing grouping names from a header line, or a custom one (being because there is no head

[2013-07-29 11:04] sgratzl commented on #1520
in addition I started to adapt and extend the MultiFormRenderer concept to be used using GLElements. See GLElementFactories

[2013-07-31 13:04] sgratzl opened #1521 "Create GLTextField / GLTextArea elements"
basic features:
- insert text + back space handling
- move cursor + insert there

requirements:
- focus of elements
- key listener support

advanced features:
- selection support
- copy paste support

[2013-07-31 15:19] alexsb commented on #1428
When I increase the "row with grouping names" and decrease it again, the GUI doesn't update correctly:

![grouping](https://f.cloud.github.com/assets/2039375/887011/98e74792-f9f4-11e2-890b-b147664aa61e.png)

[2013-07-31 15:23] alexsb commented on #1428
This is caused by the side-effect change of the number of header rows - which I didn't see. A non-issue.

[2013-07-31 15:23] #1428 closed, assigned to cpartl

[2013-07-31 15:24] sgratzl commented on #1452
wontfix till it is requested

[2013-07-31 15:24] #1452 closed, assigned to sgratzl

[2013-08-01 10:48] sgratzl commented on #1520
heatmap notes:

I optimized the heatmap element implementation, such that the picking is not based on rendered rects but the exact item will be computed. Big pro: just a single rect to render and no waste of time especially if the mouse isn't over the element.

Therefore the texture based heatmap can be combined with picking without any problems. That means in the best case just two rects (heatmap

[2013-08-01 13:18] #868 closed, assigned to cpartl

[2013-08-01 13:18] #869 closed, assigned to cpartl

[2013-08-02 08:33] sgratzl opened #1522 "Generalize LineUp StratomeX adapter work to work with Crossword"
most of the stuff is already encapsulated in a special StratomeXAdapter class. This needs to be generalized, e.g. using a extension point or adapter pattern.

[2013-08-02 14:46] sgratzl commented on #1520
kaplan maier plot notes:

I optimized the rendering such that it creates the curve points that are needed (so no sampling) + use tesselation for filling up the curve instead of a bunch of rects.

[2013-08-02 15:09] sgratzl opened #1523 "SelectAble HistogramElement"
see also #1520

currently the histogram element is stupid. It could:
1. listen to selections and visualize the selected items in the bins using some kind of stacked bars
2. have selectable bins (e.g. only in the single column case, like gender)
3. hover + tooltips (percentages) for bins
4. in a high detail mode include axis

[2013-08-05 08:54] cpartl commented on #1370
I am not sure what to do here, or if it is even necessary with the latest changes to the dvi.

[2013-08-05 09:13] cpartl commented on #1430
I guess it will require a little more than just adding this page, as it is specific to categorical data with color assignments etc. Additionally, a grouping file can contain multiple individual groupings (columns). Therefore, we would probably need something similar to inhomogeneous datasets, where we can specify the properties for individual columns. Adding and removing groups on a column basis w

[2013-08-05 09:32] cpartl commented on #1257
There are also some other things to consider, e.g. color mapping (#1279) and dataset color (#1345) and how to unify changing these properties

[2013-08-05 09:35] cpartl commented on #1279
This is also closely related to #1257. We currently only allow to select diverging/sequential/nominal color schemes depending on the data. For numerical data we do not have such a restriction. Additionally: What about the traditional color scheme green-black-red, which is only available through the histogram dialog?

[2013-08-05 09:39] cpartl commented on #1345
Also related to #1257.
Which, if not all of the following ways to change colors of a dataset are interesting?
- Apply a custom color using a color picker
- Apply a different color from the color scheme used for datasets
- Apply a different color scheme to all datasets
  ...

[2013-08-05 09:47] sgratzl commented on #1279
we don't have to stick to ColorBrewer, if we create an interface, like `IColorPalette` we can mix different color palette sources

[2013-08-05 16:34] alexsb commented on #1345
I'd suggest we present the data sets in a list with the current color scheme. The interface should be the same as for picking categorical colors. The user should be allowed to pick any ordinal color scheme, including the default dataset colors and the color brewer colors.

When double-clicking the color in the categorical import right now you get a color chooser. Instead it would be great to show

[2013-08-05 18:05] alexsb opened #1524 "Enable selecting individual genes in pathway for enRoute"
There is currently an undocumented "force mode" written by @dkalkofen that allows you to select genes as a path that are not connected by an edge. This is important to deal with bugs in pathway databases.

However, we should provide an option where we can actually collect a set of genes independent of their connections. We could have something like

a, b-c-d, e, f

where only b-c-d is connected. T

[2013-08-05 18:38] sgratzl opened #1525 "Update to JOGL 2.0.2"

[2013-08-06 10:28] cpartl commented on #1524
I could not find any way to enable the force mode, not even sure if it's in the code at all...

[2013-08-06 18:15] alexsb commented on #1524
Probably @dkalkofen  forgot to commit it?

[2013-08-06 18:21] alexsb commented on #1523
Yes, but most of this makes sense only for histograms that summarize either one row or one column in a dataset and are useless for histograms that aggregate a whole table.

The problem there is the question on what you select: the row, the column or the cell. I assume that in a reasonable large dataset there will be a value in a bin in every row  and in every column, so selecting rows or columns (

[2013-08-06 18:29] alexsb opened #1526 "Improve Brushing in new Heat Map"
Love the new heatmap, Selecting works nice.

We could add a brush that lets you select an area similar to this:

![selection](https://f.cloud.github.com/assets/2039375/919282/2661194c-fec6-11e2-8c70-fe1c7a2376fa.png)

Instead of using solid areas (which obscure the color coding) I'd stick with frames though.

[2013-08-06 18:45] alexsb commented on #1489
Interesting points. Will take a look at them. Here some comments:
- _optimize datastructure_ What would be the immediate benefit here? Is this only about memory? This would mean that we use different table implementations for different data types - which is maybe a good idea, especially since mixing categorical and numerical doesn't make too much sense, but I'm not sure what it would buy us at thi

[2013-08-06 18:50] alexsb opened #1527 "Clicked-Feedback for Perspectives in DVI"
Like the new auto-activate feature for DVI #868. Ideally the Table-Perspectives would be color-highlighted (or if we don't want to do that - #869 - otherwise emphasized, e.g., by adding a darker border) when clicked and while dragged, not only when dropped on a view.

[2013-08-06 19:05] alexsb commented on #1120
This was not intentionally closed but was an artifact of the merge.

[2013-08-06 19:13] alexsb commented on #1083
See also #1524.

Also, this is already described in a paper -

And is shown in a figure:
![forcemode](https://f.cloud.github.com/assets/2039375/919586/758276e6-fecc-11e2-9f10-8895e96e8b11.png)

So that really should be in the code ;).

[2013-08-06 19:18] alexsb opened #1528 "Fix ccle-specific hacks in Entourage"
Currently Entourage doesn't even start using the TCGA data.

Related to #1239

[2013-08-06 19:19] alexsb commented on #997
@cpartl - still an issue?

[2013-08-07 06:47] sgratzl commented on #1489
simpler access (in a loop we always want e.g. the normalized value) + less casts (e.g. instead of getRAW with generic I would implement some specialized functions) + more typesafe + faster usage + less memory consumption (internally):

as we don't have that many different types, we could implement something like:

[code]

that true, that should be possible, too. But if we support slicing, a single

[2013-08-07 12:21] sgratzl commented on #1526
I implemented some brushing:
- drag -> select range
- CTRL-click -> add to selection
- normal click -> set selection

however, we may really need to switch to solid areas as both options (frame around every item, or frame around block (enable just the one if in SelectionManager line 57)) doesn't really work

[2013-08-07 12:43] sgratzl commented on #1523
I implemented for the categorical case a distribution element that shows the distributions of the categorical element in various forms: pie, stacked bar, histogram.

all of them support simple tooltips (name, count and percentage) and a hover effect.

[2013-08-07 13:29] cpartl commented on #607
This is actually a non-issue.

[2013-08-07 13:29] #607 closed, assigned to alexsb

[2013-08-07 16:29] alexsb commented on #1526
Cool!

I think we can make the outline work. I really do want to avoid coloring the area, since this ruins the data representation. I disabled the stippling for dimensions, which definitely improves things, but I agree it's still not very nice.

A couple of ideas (not curated for sanity):
- make intersection of dimension and record selection stand out more (shadow around the frame, thicker frame,

[2013-08-07 16:34] alexsb commented on #1526
Other ideas for the heat map:
- we maybe want to enable selecting just rows or just columns. I think it would be best to add a space at all sides (or only at the right and at the  bottom) where we can brush just the columns or just the rows. This space could also be used for continuous highlighting and could be used for labels at a higher resolution.
- Would be interesting to be able to say "show

[2013-08-07 19:22] sgratzl commented on #1526
just set setShowLabels(...) to enable rendering of labels, similar to the original heat map

up to now the labels aren't selectable but I will implement it soon.

that will be difficult to communicate as the color mapping can be changed, and the color mapping strategy itself is extracted to a IBlockColorer interface.

[2013-08-07 19:25] sgratzl commented on #1526
another problem with the current selection visualization is that is doesn't work when the heatmap is overplotted.

[2013-08-09 12:45] sgratzl opened #1529 "Test Self Updating RCP"
see:

http://wiki.eclipse.org/Equinox/p2/Adding_Self-Update_to_an_RCP_Application

[2013-08-09 15:26] sgratzl commented on #1525
part of #1126

[2013-08-09 15:26] #1525 closed, assigned to sgratzl

[2013-08-11 18:32] sgratzl commented on #1126
done
- create pom files
- regression job -> daily builds of product zips: http://dev.caleydo.org/jenkins/job/caleydo

todo:
- [x] create extra packages: windows installers, deb packages
- [x] create release script (similar to https://docs.sonatype.org/display/M2ECLIPSE/Staging+and+releasing+new+M2Eclipse+release)
- [x] create super project (project with product + feature + as submodules caleydo re

[2013-08-12 12:47] sgratzl commented on #1126
done

[2013-08-12 13:02] sgratzl commented on #726
see also http://forum.lazarus.freepascal.org/index.php?topic=15429.0

-> If I understood it right, we would just need to hack the Info.plist within the app folder

[2013-08-12 13:33] sgratzl commented on #726
or to be more precise:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=201154

and http://help.eclipse.org/juno/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fproduct_open_file.htm

[2013-08-12 14:29] ngehlenborg opened #1530 "double-click in DVI no longer activates stratification"
Nothing happens when I double-click a box in the matrix.

[2013-08-12 14:33] sgratzl commented on #1530
thats a feature not a bug: #868

just drag the item, you don't need to activate it anymore

[2013-08-12 16:56] #1530 closed, assigned to cpartl

[2013-08-12 16:57] ngehlenborg opened #1531 "selecting "self-sampled" matrices cause exception in histogram view"
[code]

[2013-08-12 18:40] ngehlenborg commented on #1531
Kaputt repariert. Now there is a different but related bug:

[code]

[2013-08-12 18:46] #1531 closed, assigned to alexsb

[2013-08-13 00:19] alexsb opened #1532 "Loading in BRCA is extremely slow if projects are build to use full matrices."
Seems to hang at microRNA seq for minutes.

Need to investigate, maybe profile using this:

http://visualvm.java.net/

[2013-08-13 02:19] ngehlenborg commented on #1487
The problem is that the gene profiles are not properly normalized before computing of the variance/median absolute deviation (used by Firehose) and before visualization. We need to subtract the mean of each gene profile from each value in the gene profile.

The normalization is not performed in Firehose (however, after subtracting the mean, at least the Firehose mRNA gene profiles will have a vari

[2013-08-13 02:24] ngehlenborg opened #1533 "add support for matrix normalization to TCGA project builder"
We should perform normalization of the matrices by default using the "z-score" normalization apprach (first formula in http://en.wikipedia.org/wiki/Standard_score). However, it should also be possible to turn this off, e.g. using --center-matrices false  and --scale-matrices false. See http://stat.ethz.ch/R-manual/R-devel/library/base/html/scale.html for inspiration.

I haven't check all matrices,

[2013-08-13 03:08] #1532 closed, assigned to nobody

[2013-08-13 06:40] sgratzl commented on #1533
the problem with these normalization approaches is that they don't have defined limits.

What we are currently understood as normalization is a simple linear scaling in the range 0..1 and we need this range for almost everything, e.g. heatmaps, plots,...

[2013-08-13 11:30] sgratzl commented on #726
@ngehlenborg could you please test the latest build, it worked on my mac.

see http://dev.caleydo.org/jenkins/job/caleydo.super/

[2013-08-13 11:30] #726 closed, assigned to ngehlenborg

[2013-08-13 13:22] sgratzl commented on #1533
see also #1489 for other ideas, this transformation could be applied on the fly, too. Since the FloatStatistics can be computed during loading

[2013-08-13 14:09] ngehlenborg commented on #1533
What do you mean by "defined limits"?

All we need to support is subtraction of the mean and division by the standard deviation. This normalization/scaling of the data is generally independent of the visualization.

[2013-08-13 14:15] ngehlenborg commented on #726
This works for me, too. Very nice, thank you!

[2013-08-13 14:33] sgratzl commented on #1533
by our 0..1 scaling we know that the getNormalizedValue will return a value between 0 and 1, regardless of the raw data. This will be heavily used e.g. for the heatmap to compute the color.

What should with we with the z-score values? or for what should we use them?

[2013-08-13 14:35] sgratzl commented on #1143
wontfix

[2013-08-13 14:35] #1143 closed, assigned to sgratzl

[2013-08-13 14:46] ngehlenborg commented on #1533
This scaling for visualization will/can still be applied to the normalized data.

z-score scaling (subtract mean, divide by sd) is different from linear scaling to fit the data into [0,1] (subtract min, divide by range).

We want to use the z-score normalized data for instance to select the genes with the highest MAD scores (see #1487) and for correct visualization of the gene expression profiles.

[2013-08-13 15:09] ngehlenborg commented on #1532
Btw, I used Java Monitor for the profiling: http://www.jvmmonitor.org

[2013-08-13 19:42] sgratzl commented on #1126
a first version of the release script is /src/main/scripts/scripts.sh -> prepare and finish function

see also caledyo.super Release project

[2013-08-14 06:51] sgratzl commented on #1
fix: missing exported icons in enroute build.properties

[2013-08-14 06:57] sgratzl commented on #755
version convention:
 bundles: <major>.<minor>.<patch>.<qualifier>
 maven: <major>.<minor>.<patch>-<qualifier>

qualifier: locally .qualifier / -SNAPSHOT but the build automatically converts in the the build timestamp, e.g. 20130814-2348

[2013-08-14 06:57] #755 closed, assigned to sgratzl

[2013-08-14 07:18] sgratzl commented on #1126
deb / rpm package generator plugins, e.g. using http://mojo.codehaus.org/unix/unix-maven-plugin/plugin-info.html or http://debian-maven.sourceforge.net/

nsis : http://mojo.codehaus.org/nsis-maven-plugin/

[2013-08-14 07:18] sgratzl opened #1534 "Create TCGA Project builder Jenkins Job"
comming from #1126 :

tcga project builder (using http://wiki.eclipse.org/Tycho/Additional_Tools#tycho-eclipserun-plugin)

[2013-08-15 21:20] alexsb commented on #1489
Moving discussion to https://docs.google.com/document/d/1Xaf2ucDqm5lVqhv-aWu6B41NaRV1RAlV4RY98oCxyw4/

[2013-08-15 22:59] #1487 closed, assigned to mstreit

[2013-08-15 22:59] #1533 closed, assigned to alexsb

[2013-08-15 23:01] alexsb commented on #637
Occurs again in my latest version.

[2013-08-15 23:02] alexsb opened #1535 "Provide information on data processing in dataset info view"
We need to provide information on which scales and/or clipping we use, and what post-processing we ran.

[2013-08-16 07:52] sgratzl opened #1536 "Introduce colors for Groups in VirtualArrays"
current the groups can't have colors.

But for example if we create a grouping based on a categorical variable, it might be useful to have that information still available within the virtual array.

Even more generalized, store the categorical property within the group

issues: how about serialization?

[2013-08-19 13:54] alexsb commented on #637
Example:

![on-node](https://f.cloud.github.com/assets/2039375/986333/d9236494-08d6-11e3-8518-81c1ad8aabd4.png)

[2013-08-19 14:42] alexsb opened #1537 "Investigate Seriation for Heat Maps"
I.e., good ordering to uncover patterns. Example:

 http://lyle.smu.edu/IDA/seriation/

[2013-08-19 14:42] alexsb opened #1538 "Implement tree-cluster option for package builder"

[2013-08-19 16:08] sgratzl commented on #637
I think it is because of GLPathwayAugmentationRenderer line 555 ->

[code]

which abort the rect rendering as the size is about 128x120

[2013-08-19 16:18] ngehlenborg opened #1539 "(Pathway) detail view overlaps column"
Observed in [#637](https://github.com/Caleydo/caleydo/issues/637#issuecomment-22873211):

![](https://f.cloud.github.com/assets/2039375/986333/d9236494-08d6-11e3-8518-81c1ad8aabd4.png)

[2013-08-19 16:19] alexsb commented on #1539
Happens when you resize the window while detail is open.

[2013-08-19 16:25] ngehlenborg commented on #1539
Ok, we can live with that.

[2013-08-19 16:25] #1539 closed, assigned to alexsb

[2013-08-19 17:04] #1538 closed, assigned to alexsb

[2013-08-19 23:42] #1535 closed, assigned to alexsb

[2013-08-20 07:14] mstreit commented on #637
The if statement was introduced to turn off the on-node mapping for small pathways (<300px) in entourage. However, this also turns it off in StratomeX.
@cpartl Is there a general way to handle this?

[2013-08-20 12:13] ngehlenborg opened #1540 "investigate problem with microRNA-seq heatmaps"
Screenshot from latest KIRC full data set. Looks like the data matrix doesn't contains any negative values (but a lot of NAs?).

![screen shot 2013-08-20 at 8 08 36 am](https://f.cloud.github.com/assets/1216518/993106/5a0f94b4-0991-11e3-9cdd-55e3e468cb00.png)

Compare to Firehose report: http://gdac.broadinstitute.org/runs/analyses__2013_05_23/reports/cancer/KIRC/miRseq_Mature_Clustering_Consensus

[2013-08-20 12:20] ngehlenborg opened #1541 "remove columns (genes) with more than X% missing values before selecting most variable genes"
See #1540 for an example where some microRNAs seem to have missing values in almost every sample.

I will investigate what Firehose is doing about this.

[2013-08-20 12:23] ngehlenborg opened #1542 "set histogram color map cutoffs at 2 or 3 sd by default?"
That would leave to prettier heatmaps by default but could easily be changed by the user if they don't like it. Maybe this could also be handled through a setting.

Should only be applied if matrix has both negative and positive values, if only negative or only positive this should only be applied to the negative or positive end, respectively.

[2013-08-20 13:27] sgratzl commented on #1126
deb versioning, see http://www.debian.org/doc/debian-policy/footnotes.html#f37
-> 3.0.2~pre1 should work

[2013-08-20 13:30] sgratzl commented on #1126
windows installers are now build, too part of : Caleydo/caleydo.super@73a1388ab61055e7664eee43f170b0277e680ab2

based on nsis including nice installer, startup menu + file association

[2013-08-20 14:43] ngehlenborg opened #1543 "most-variable matrix used for pathway mapping?"
It appears that the full matrix is no longer used for pathway mapping in the latest GitHub version:

![screen shot 2013-08-20 at 10 41 23 am](https://f.cloud.github.com/assets/1216518/994082/c362118e-09a6-11e3-9d17-2ec318e7645f.png)

This is the full KIRC data set.

[2013-08-20 14:55] ngehlenborg commented on #1476
Appears to be fixed for StratomeX view but not for LineUp view. I get a lot of flickering in the LineUp view that persists in the tab that was open, even after switching to other tabs. View resize fixes the flickering.

![screen shot 2013-08-20 at 10 54 32 am](https://f.cloud.github.com/assets/1216518/994169/7ac74fd2-09a8-11e3-9329-51bd3c695d44.png)

[2013-08-20 15:02] alexsb commented on #1543
Did that work at some point? If so, who implemented it?

[2013-08-20 15:17] ngehlenborg commented on #1543
I am not 100% positive if it worked, but I was under the impression that it did when Marc and I were experimenting with the full matrix data sets.

[2013-08-20 15:19] sgratzl commented on #1476
why is that important and a must for 3.0.2?

[2013-08-20 15:25] alexsb commented on #1543
It certainly worked when you used just the full dataset. If @mstreit  can confirm that that didn't work I'll implement it. If it did work I'd appreciate if the original developer fixes the bug ;).

[2013-08-20 15:25] mstreit commented on #1543
Full matrix mapping definitely worked. However, I am not sure if we tested the mapping after our own sampling integration.

[2013-08-20 15:29] ngehlenborg commented on #1476
Because I am demoing the software frequently and would also like to create some videos for talks and in both cases it is a serious problem.

[2013-08-20 15:32] alexsb commented on #1543
You mean using Firehose sampled worked in combination with full matrix in StratomeX?

[2013-08-20 15:34] mstreit commented on #1543
I have not implemented it. I think we assign the wrong (sampled) table perspective in the pathway brick configurer.

[2013-08-20 17:50] alexsb commented on #1542
We will use this for both centered and not-centered data equally. Most datasets have a tail at both ends.

[2013-08-20 19:50] sgratzl commented on #1126
first deb packages are built: http://dev.caleydo.org/jenkins/job/caleydo.super/lastSuccessfulBuild/artifact/org.caleydo.rcp/target/products/caleydo-linux.gtk.x86_64.deb

can anyone with a debian system can test it?

[2013-08-20 19:57] alexsb commented on #1126
Works!

[2013-08-20 20:07] #1126 closed, assigned to sgratzl

[2013-08-20 20:52] alexsb commented on #1542
Fixed, but a bug in the color mapper remains. Color map is not correctly updated. Temp fix by calling colorMapper.update() everytime a color map is retreived from Table.

[2013-08-20 20:55] alexsb commented on #1541
What would be a sensible X? 40%? I guess if there are many missing values the trust in the rest is also low?

[2013-08-20 21:01] alexsb commented on #1540
Cannot reproduce:

![micrornaseq](https://f.cloud.github.com/assets/2039375/997086/a1b1033a-09db-11e3-9f29-a2cd1b985a41.png)

[2013-08-20 21:01] ngehlenborg commented on #1541
I have just had another look at the Firehose code used to do the scaling, and if I am interpreting this correctly, they are removing the gene if there are more than 80% NAs.

[code]

[2013-08-20 21:01] alexsb commented on #1540
I have plenty of NANs too, but I have positive and negative values

[2013-08-20 21:07] ngehlenborg commented on #1540
I was using the data set that you generated yesterday with the code that was current this morning. Why does your matrix look so differently?

[2013-08-20 21:11] alexsb commented on #1540
Colors look a little different, but look at your histogram! I used the DS in the dropbox.

[2013-08-20 21:38] ngehlenborg commented on #1540
Whatever code has changed since this morning removed the problem. I don't know what changed, but it would be good to understand how this suddenly disappeared.

[2013-08-21 06:38] #1 closed, assigned to sgratzl

[2013-08-21 06:38] #1397 closed, assigned to sgratzl

[2013-08-21 09:33] sgratzl commented on #1476
the problem with this bug is that I don't really know how to solve it. I implemented another workaround, which fakes a resize of one pixel. As resizing seem to fix the issue.

The underlying problem is - as far as I understand - that min/maximizing a view is implemented such that the children (our opengl canvas) won't notice it. So from the canvas point of view it won't need a resize but the under

[2013-08-21 13:38] mstreit commented on #637
@alexsb and @cpartl: Maybe we can add a switch to the pathway bricks so that the layout mechanism in Entourage can turn the mapping off if the pathways are smaller than a certain threshold. Would there be any side effects?

[2013-08-21 13:47] sgratzl commented on #637
the problem is how to transport that information from Entourage to the GLPathway view as in between is the multi form renderer abstraction

you could do some hacks of course

[2013-08-21 14:53] sgratzl opened #1544 "heatmapElement Fisheye fix multi selection error"
if multiple elements are selected the fisheye spacer may produce errors due to the `minsize* num selected > total``

[2013-08-21 16:07] alexsb commented on #1543
This is implemented. The problem appears to be an issue with mrna-seq. Possibly mapping. I can reproduce with mrNA seq, but here is what I get with mrna:

![all_nodes](https://f.cloud.github.com/assets/2039375/1002371/c7f43e5e-0a7b-11e3-80a2-3bdb1e9081a5.png)

[2013-08-21 16:16] alexsb commented on #1543
Cause: We don't have full matrices loaded for mRNA-seq.

[2013-08-21 16:32] alexsb commented on #1540
Let's reopen this if it reappears.

[2013-08-21 16:32] #1540 closed, assigned to alexsb

[2013-08-21 17:28] #1541 closed, assigned to alexsb

[2013-08-21 17:29] alexsb commented on #1541
While this is implemented, this does not fix or address situations in #1540. In this case, no sampling is done at all, as it's only 450 or so dimensions in total.

For the full matrices we currently consider there seems to be not a single case where this plays a role.

[2013-08-21 18:13] #1542 closed, assigned to alexsb

[2013-08-21 18:19] alexsb commented on #637
A clean solution would be to use a detail mode flag. StartomeX could use medium detail mode for the small multiples, Entourage low.

[2013-08-21 18:38] alexsb opened #1545 "RFC: dynamic size scaling of nodes in thumbnails"
![dynamic_sizes](https://f.cloud.github.com/assets/2039375/1003605/b7fc4342-0a90-11e3-8d0f-a48d6431a8a2.png)

This is an example of nodes that are scaled the more they deviate from the average. I like it. Keep it?

[2013-08-21 19:13] #637 closed, assigned to mstreit

[2013-08-21 19:29] alexsb opened #1546 "Integrate TablePerspectiveStatistics with FloatStatistics."
TablePerspecitveStatistics (TPS) should use the FloatStatistics implementation.

Currently TPS works on normalized data. This makes it compatible with all data types, including categorical ones. We should consider whether we want to keep that.

Also, we should probably re-integrate @cagatayTurkay's changes from his branch, as there are probably several improvements on TPS.

[2013-08-21 21:40] alexsb commented on #1545
Here an improved version:

![dynamic_sizes1](https://f.cloud.github.com/assets/2039375/1004818/4276ae04-0aaa-11e3-8f8f-eddaa8152d23.png)

[2013-08-22 13:26] #1544 closed, assigned to sgratzl

[2013-08-22 13:38] sgratzl commented on #1476
@ngehlenborg can you test it again, please?

[2013-08-22 13:52] alexsb opened #1547 "Improve reporting & error handling of project builder."
Right now projects are build even if exceptions occur. Looking at the standard logs might help, but we've overlooked problems in the past. To avoid this I suggest the following strategy:

Graceful Fail: if an exception occurs simply don't build the project. We then will notice.
Extra Log: Write which datasets have been parsed for which data type (including info on complete or sampleld) into a file

[2013-08-22 14:04] mstreit commented on #1545
I like it too!

[2013-08-22 14:23] mstreit commented on #1543
In general, we are loading the mRNA-seq full matrices from the preprocess package in the data run (which works fine for BRCA for instance). However, for KIRC the file inside the package has a different, unexpected name: "KIRC.uncv2.mRNAseq_RSEM_normalized_log2.txt"
Our importer is looking for these files: "<tumorname>.mRNAseq_RPKM_log2.txt"
@ngehlenborg Do you know of any rule for which tumor type

[2013-08-22 14:31] sgratzl commented on #1547
see also #1422

[2013-08-23 07:10] sgratzl opened #1548 "Globally registered key binding for Clear Selections"
I would suggest to introduce a globally recognized key binding for triggering the "Clear Selection" action.

As due to the #1526 #1523 more and more elements are quickly selectable. So a common way to deselect everything would be useful

[2013-08-23 07:33] mstreit commented on #1548
Good point. How about "Ctrl+R" (for reset)?

[2013-08-23 09:12] #1548 closed, assigned to nobody

[2013-08-23 09:13] sgratzl commented on #1548
I introduced key bindings for save project (S) + open project (O), too

[2013-08-23 09:14] sgratzl opened #1549 "Convert RCP main toolbar to use extension instead of custom actions"
- simpler extensions

[2013-08-23 09:14] sgratzl commented on #1549
part of 01371b656425265e88d288cd13fdcb2fe05b87b4

[2013-08-23 09:14] #1549 closed, assigned to sgratzl

[2013-08-23 12:08] mstreit opened #1550 "General toolbar items only available via dropdown"
Could be a Linux specific SWT problem.

![image](https://f.cloud.github.com/assets/4129755/1015981/914f7c84-0bec-11e3-99d4-366b1cdc0faa.png)

[2013-08-23 12:28] sgratzl commented on #1550
can't fix it on my system as it looks ok on windows ->

[2013-08-23 13:20] mstreit commented on #1543
For now, we are first looking for the RPKM file and if this has not been found, we try to load the RSEM file. This should work, however, it would be nicer to know what the actual pattern is.

[2013-08-23 15:13] mstreit opened #1551 "Add version number to about info"

[2013-08-23 15:46] mstreit commented on #1543
We decided to use the RSEM file and if we can't find it we take the RPKM file.

[2013-08-23 15:48] #1476 closed, assigned to sgratzl

[2013-08-23 16:00] mstreit commented on #1543
mRNAseq works now for KIRC:
![image](https://f.cloud.github.com/assets/4129755/1017286/2fc294da-0c0d-11e3-9772-4372cf83c15b.png)

[2013-08-23 16:01] mstreit commented on #1543
What are we going to do about the many NaN?

[2013-08-23 16:05] alexsb commented on #1543
They should be sampled at 80%. You can try to tune that to exclude stricter, say at 40% in line 668 of Table:

[code]

[2013-08-23 16:07] sgratzl commented on #1543
so another magic value constant within Caleydo...

[2013-08-23 16:19] mstreit commented on #1543
That's the result with 40%:
![image](https://f.cloud.github.com/assets/4129755/1017405/b9ce5c84-0c0f-11e3-8151-68c9e38db202.png)

[2013-08-23 16:20] #1550 closed, assigned to mstreit

[2013-08-23 16:25] #1543 closed, assigned to mstreit

[2013-08-23 16:26] alexsb commented on #1543
@sgratzl firehose does it too!

[2013-08-23 16:31] mstreit commented on #1543
That's the sampled firehose version:
![image](https://f.cloud.github.com/assets/4129755/1017470/8290dcfe-0c11-11e3-9339-85beb326c52d.png)

[2013-08-23 18:34] alexsb opened #1552 "Allow to trigger sampling manually"
Currently sampling is only done for TCGA projects. We should make it possible to sample perspectives manually.

[2013-08-23 18:35] alexsb opened #1553 "Add Z-standardization, std-dev clipping and imputation to import dialog."
- [x] z-score normalization
- [x] std dev clipping (???)
- [x] imputation

[2013-08-23 18:43] alexsb opened #1554 "Update GBM sample project to include complete matrices."

[2013-08-23 19:00] mstreit opened #1555 "NA values in TCGA matrices need to be imputed in project builder"
Use k-nearest neighbor to compute missing values.

@ngehlenborg Do you know which k they use in Firehose?

[2013-08-23 19:32] ngehlenborg commented on #1555
They are using the R impute package, version 1.20.0 with default parameters:

[code]

Details can be found here: http://rss.acs.unt.edu/Rdoc/library/impute/html/impute.knn.html

[2013-08-23 21:18] alexsb opened #1556 "Show column and/or group ID name in grouping dialog."
Right now it says only "Column" and "Rows", which can be confusing given the two possible transposition options.

[2013-08-24 17:50] alexsb opened #1557 "GUI problems with Search View"
The results in the search dialog are clipped and can not be revealed unless I resize the window. On KDE/Linux:

![search](https://f.cloud.github.com/assets/2039375/1021164/6c7ff31c-0ce5-11e3-9c96-90fdc2df337a.png)

[2013-08-24 21:31] ngehlenborg opened #1558 "pathway box in DVI is growing but empty when adding pathways to StratomeX"
The box should have constant size.

![screen shot 2013-08-24 at 5 30 01 pm](https://f.cloud.github.com/assets/1216518/1021467/8acf17ca-0d04-11e3-8336-680d7259517e.png)

[2013-08-24 21:34] ngehlenborg opened #1559 "Kaplan-Meier plot axis labels in detail view plotted outside view and into frame"
![screen shot 2013-08-24 at 5 34 39 pm](https://f.cloud.github.com/assets/1216518/1021471/059be190-0d05-11e3-890f-d2ee8ee5505a.png)

[2013-08-25 13:40] ngehlenborg opened #1560 "How are missing values handled?"
In matrices by:
- clustering algorithms
- by (P)GSEA
- by computation of most variable genes

In clinical data by:
- by log-rank test

[2013-08-25 14:13] ngehlenborg opened #1561 "apparent discrepancy between %mapped genes in (P)GSEA and mapped genes shown in pathway map"
KIRC 2013-05-23 mRNA-seq and PI3K-Akt pathway

**%mapped genes approximately 0.05** (compare to screenshot below)
![screen shot 2013-08-25 at 10 10 18 am](https://f.cloud.github.com/assets/1216518/1022471/523cc362-0d90-11e3-806f-455501e20c0c.png)

**looks like almost 100% genes are mapped**
![screen shot 2013-08-25 at 10 10 46 am](https://f.cloud.github.com/assets/1216518/1022472/6eb7c2bc-0d90-11e

[2013-08-25 14:19] mstreit commented on #1561
Note that some genes appear multiple times in the pathway. See screenshot above.

[2013-08-25 14:29] alexsb commented on #1561
Likely cause: sampled perspective is used instead of complete one for calculating the %

[2013-08-25 14:30] ngehlenborg commented on #1561
The high number of genes shown in the LineUp metrics is due to the mapping of multiple genes to nodes in the pathway, e.g. PIK3CA, PIK3CB, PIK3CD, PIK3R1, PIK3R2, and PIK3R3 all map to the PI3K node.

[2013-08-25 14:39] mstreit commented on #1560
Missing values are skipped.

[2013-08-25 14:39] ngehlenborg opened #1562 "add NA column to histogram?"
We should be showing NAs in the histograms, either as an additional column or as a label with the % NA of the total values shown in the histogram.

[2013-08-25 14:41] ngehlenborg commented on #1560
According to @sgratzl kmeans uses the column/row mean to replace NAs.

[2013-08-25 15:00] ngehlenborg opened #1563 "create pathway node overlay showing details of multi-mappings"
- show statistics such as #genes mapped to node and %genes mapped
- show color mapping for each mapped gene

[2013-08-25 15:07] ngehlenborg commented on #1561
Another example where the numbers are even more off (same data set as above):

![screen shot 2013-08-25 at 11 05 20 am](https://f.cloud.github.com/assets/1216518/1022561/fd73ac08-0d97-11e3-9df5-313f6ef4d032.png)

![screen shot 2013-08-25 at 11 05 41 am](https://f.cloud.github.com/assets/1216518/1022562/094a9708-0d98-11e3-8cde-bf083575535d.png)

[2013-08-25 15:20] ngehlenborg opened #1564 "create id mapping diagram to explain multimapping in help"
motivation: DAVID might be assigning the same DAVID gene id to two different gene symbols or other ids.

[2013-08-25 15:35] #1560 closed, assigned to nobody

[2013-08-25 15:38] ngehlenborg commented on #1564
Moved to caleydo/caleydo-doc#1.

[2013-08-25 15:38] #1564 closed, assigned to nobody

[2013-08-25 16:44] mstreit commented on #1561
Identified and fixed the problem. We only took the sampled matrices for GSEA calculation instead of the full ones.
The result of the example from above is now the following:
![image](https://f.cloud.github.com/assets/4129755/1022688/9fc71064-0da5-11e3-836d-df5401d14b12.png)

[2013-08-25 16:48] #1561 closed, assigned to sgratzl

[2013-08-25 18:26] alexsb commented on #1559
This should be possible to do correctly with the LineLabelRenderer, but I guess it gets the wrong parameters.

Note the new align parameter in TextRenderer renderTextInBounds, which the LineLabelRendere should use instead of calculating the width by itself.

[2013-08-25 18:28] alexsb commented on #1563
alternatively we could just encode that there is a multi mapping. The details should be done in enRoute

[2013-08-25 18:29] ngehlenborg commented on #1563
That would be ok with me.

[2013-08-26 06:21] mstreit opened #1565 "Generate TCGA cal files for release"
We should probably wait for Nils to confirm the 40% threshold in the sampling. Other than that we are ready to go.

[2013-08-26 11:11] sgratzl commented on #1086
generalized to #1517

[2013-08-26 11:11] #1086 closed, assigned to sgratzl

[2013-08-26 11:12] #1330 closed, assigned to sgratzl

[2013-08-26 11:12] #1515 closed, assigned to sgratzl

[2013-08-26 11:23] ngehlenborg opened #1566 "left outline of TourGuide wizard is missing"
![screen shot 2013-08-26 at 7 21 57 am](https://f.cloud.github.com/assets/1216518/1025366/d57fb4a8-0e41-11e3-9198-4eba84090d61.png)

[2013-08-26 11:28] mstreit commented on #1565
@ngehlenborg RFC

[2013-08-26 11:29] #1216 closed, assigned to nobody

[2013-08-26 11:32] ngehlenborg commented on #1565
Firehose uses 80% (at least in the code that I have seen) plus imputation of missing values (#1555). Should we stick to this for now to make sure that we get similar gene lists when sampling?

The look of the matrices with missing values, however, is concerning me a bit. I think imputation of missing values should have a higher priority than I originally thought.

[2013-08-26 11:41] mstreit opened #1567 "Log output of missing values costs considerable time during cal file loading"
On my machine KIRC containing the full matrices takes about 50 seconds to load. When removing the log output "Cell content was: NA" in the TabularDataParser the time goes down to 35 seconds.
We could only count the NA and write a summary to the log after parsing.
Any other suggestions how to fix this?

[2013-08-26 12:06] mstreit commented on #1567
related to https://github.com/Caleydo/caleydo/commit/2faaf3aff28973314af48475cbf59d07751a736a

[2013-08-26 12:27] #1567 closed, assigned to sgratzl

[2013-08-26 12:40] mstreit commented on #1565
Related to #1534

[2013-08-26 12:50] sgratzl commented on #1517
**formally optimizing values**:

_input_:
  `$row`, `$ranking-criteria`
_cost function_:
  `rankOf($row, $ranking-criteria) -> MIN`, i.e `count({$x | $ranking-criteria.compare($x,$row) < 0}) -> min`
_parameters_:
  all setable float parameters in `$ranking-criteria`, i.e. `filter(flatten($ranking-criteria),ISetableColumnMixin&IFloatRankableColumnMixin)`
_constraints_:
  user dependent -> ui dialog

[2013-08-26 12:51] mstreit commented on #1565
@ngehlenborg OK, the version in the repository uses 80%.

[2013-08-26 12:53] mstreit commented on #1517
Nice summary @sgratzl!
For the realization we should investigate existing multi-objective optimation (MOO) techniques, see http://en.wikipedia.org/wiki/Multi-objective_optimization.

[2013-08-26 13:11] sgratzl commented on #1517
I don't think that we have a Multi-Objective problem, as we always have a single cost function with some constraints.

[2013-08-26 13:18] mstreit commented on #1517
Atm yes, as the single objective is to optimize the rank. But what if we would include other objectives? Such as that the weighted sum of an attribute should be minimized at the same time. If we could also address these MOO problems, then our solution could be interesting for a much wider audience.

[2013-08-26 14:27] ngehlenborg opened #1568 "fix computation of p-values for log rank test"
Increasing log rank scores should lead to decreasing p-values.

[2013-08-26 14:29] ngehlenborg opened #1569 "come up with better labels for mutation score columns"
Maybe "mutual exclusivity score" and "similarity score" and "best score". Just some suggestions. The tool tips should be updated, too.

[2013-08-26 14:30] ngehlenborg opened #1570 "brick menu in KM plot column is often not appearing"
It seems that it depends on how the brick is entered. Maybe the interactive KM plots are eating the mouse event?

[2013-08-26 14:55] sgratzl commented on #1517
you know, that the complexity increases dramatically between single object optimizations and MOO.

[2013-08-26 15:02] sgratzl commented on #1568
before:
![before](https://f.cloud.github.com/assets/4129778/1026573/833e1058-0e60-11e3-8988-717861c70800.png)

after:
![after](https://f.cloud.github.com/assets/4129778/1026574/855d6ab4-0e60-11e3-8b6d-4791bed10972.png)

[2013-08-26 15:02] mstreit commented on #1517
Yes, that is more a direction for future research than a quick thing to do. However, providing a visualization that allows research to easily access complex MOO techniques could have a nice impact.
Let's stick to the rank optimization for now.

[2013-08-26 15:14] #1558 closed, assigned to cpartl

[2013-08-26 15:25] sgratzl commented on #1557
os specific problem,

on windows:
![2013-08-26 17_24_26-](https://f.cloud.github.com/assets/4129778/1026760/9f37b22a-0e63-11e3-8f30-27d845ffd51d.png)

don't have that OS -> I can't fix it

[2013-08-26 15:25] #1568 closed, assigned to sgratzl

[2013-08-26 15:32] mstreit commented on #1557
OK, I will give it a shot.

[2013-08-26 16:52] ngehlenborg opened #1571 "do we need these messages in the log: "!MESSAGE No david mapping for Entrez ID: 100509457""
This is just adding a lot of lines to the log file.

[2013-08-26 17:12] ngehlenborg opened #1572 "sampling and gene clustering has disappeared in Jenkins Build 70"
**b70**, no more clustering or sampling shown in StratomeX but exists according to Data Set Info and DVI (KIRC 2013-05-23 built by Marc, see 3.0 projects in Dropbox), :
![screen shot 2013-08-26 at 1 05 09 pm](https://f.cloud.github.com/assets/1216518/1027477/d7d1ebd8-0e71-11e3-83c1-e52c2de64467.png)

This is what the same data set looks like in **b69**:
![screen shot 2013-08-26 at 1 10 52 pm](http

[2013-08-26 17:30] #1572 closed, assigned to sgratzl

[2013-08-26 19:21] ngehlenborg opened #1573 "rendering freeze in LineUp"
The stratification LineUp view freezes and stops rendering. I have not been able to reproduce reliably yet, but it has happened twice already today. More to follow.

[code]

[2013-08-26 19:22] ngehlenborg commented on #1573
Closing and re-openign the view helps.

[2013-08-26 19:27] ngehlenborg commented on #1573
This is somehow connected to inserting new columns using double-click in the LineUp view. I have tried this only with clinical data columns so far. After double-clicking one or two columns the view stops reacting to user input and after switching to another LineUp tab and back to the stratification tab, above error is throw over and over until I close the stratification tab.

[2013-08-26 19:58] ngehlenborg opened #1574 "test new buttons for "new independent" and "new dependent" column"
independent:
![new_independent_column_01](https://f.cloud.github.com/assets/1216518/1028604/d73dfc4e-0e89-11e3-9738-9fc22d2ab79b.png)

dependent:
![new_dependent_column_01](https://f.cloud.github.com/assets/1216518/1028605/d91df5c8-0e89-11e3-9d25-dfc4cf5f8453.png)

new (in same style):
![new_01](https://f.cloud.github.com/assets/1216518/1028607/e2af1176-0e89-11e3-896f-6a12aea42069.png)

[2013-08-27 06:11] #1574 closed, assigned to sgratzl

[2013-08-27 07:03] #1573 closed, assigned to sgratzl

[2013-08-27 08:43] #1559 closed, assigned to cpartl

[2013-08-27 11:24] sgratzl commented on #1517
just to remember the links:
 http://sourceforge.net/projects/optalgtoolkit/
 http://www5.cs.fau.de/research/software/java-parallel-optimization-package/
 http://sourceforge.net/projects/joptima

[2013-08-27 14:45] ngehlenborg commented on #1570
A similar issue exists for the pathway bricks.

[2013-08-27 19:14] ngehlenborg opened #1575 "are we computing the log rank scores correctly?"
Testing for mutations: 1 mutated, 296 not mutated. Mutated dies immediately. log rank score is 291 and P value is 0, but I highly doubt that this is correct. This can't be significant, the mutated group is too small.

![screen shot 2013-08-27 at 3 09 48 pm](https://f.cloud.github.com/assets/1216518/1037280/6ff87d8e-0f4c-11e3-9f5c-3686c008250b.png)

[2013-08-27 19:19] ngehlenborg opened #1576 "investigate why tour guide buttons get a dark outline + other"
left: created in image editor / right: screenshot
![screen shot 2013-08-27 at 12 28 15 pm](https://f.cloud.github.com/assets/1216518/1037326/3841257a-0f4d-11e3-9956-479f69caf54b.png)
- [ ] remove dark outline
- [ ] change size to 32x32 for all tour guide buttons
- [ ] used add_independent instead of new?

[2013-08-27 19:27] ngehlenborg opened #1577 "when exporting survival column split based on mutation, entries in mutated group also appear in non-mutated group"
To reproduce:
- KIRC 2013-05-23 data set
- split survival based on ARG2 mutation status
- export survival data based by right-clicking header brick

B2-4098 is the patient with the mutation, the corresponding entry appears at the very end of the file (for the "mutated" group, I assume) but also higher up between the others.

[2013-08-27 19:39] ngehlenborg commented on #1577
In fact, there are further duplicates, for a total of 4:

B2-3924, B2-4099, B8-4620

[2013-08-27 20:42] ngehlenborg commented on #1577
I have analyzed the MAF file that we are using to extract mutation calls:

B2-4098 - only mutations in TCGA-B2-4098-01A
B2-3924 - only mutations in TCGA-B2-3924-01A
B2-4099 - only mutations in TCGA-B2-4099-01A
B8-4620 - no mutations at all

However, it seems that for these four patients, the tumor was split up into 2 portions, e.g.

TCGA-B2-4098-01A-01D-1458-08
TCGA-B2-4098-01A-02D-1386-10

(porti

[2013-08-27 21:40] ngehlenborg commented on #1575
1. **We need to prevent computation of query statistics if the groups are too small.**
2. How does Caleydo deal with the patients for which we don't have any confirmed information about their status, i.e. NA? Does Caleydo assume that they are still alive at the time of the last patient death (i.e. NA = max(days.to.death)) or are they excluded from the computation of the log rank test?

**My observ

[2013-08-27 22:17] alexsb commented on #1577
So how do you suggest we should handle this? It's clearly no issue of the exporter. It may be considered as an issue of the importer, or it may be considered as correct behavior.

[2013-08-27 23:05] alexsb commented on #1577
Closing, this is a symptom of duplicate ids as referenced in the other tickets.

[2013-08-27 23:05] #1577 closed, assigned to cpartl

[2013-08-27 23:06] alexsb commented on #1363
One solution would be to implement #949

[2013-08-27 23:11] ngehlenborg commented on #1363
For the time being, we should only keep one entry per patient per data type active to prevent effects as described in the comments of #1577. I would prefer losing some data over losing my sanity.

Additional entries for a given patient could be removed in a post-processing step after loading.

[2013-08-28 01:28] ngehlenborg opened #1578 "highlight band for which statistics tool tip is being shown"
Currently this is not clear and in particular near band crossing the current approach is prone to mislead.

[2013-08-28 03:00] ngehlenborg opened #1579 "use absolute mapping for PGSEA score by default"
- [ ] fix spelling of PGSEAP-value -> PGSEA P-value
- [ ] fix mapping, see below

**with current default mapping:**
![screen shot 2013-08-27 at 10 57 39 pm](https://f.cloud.github.com/assets/1216518/1039568/c4ac4496-0f8d-11e3-87de-db64da4529c1.png)

**with absolute mapping:**
![screen shot 2013-08-27 at 10 57 50 pm](https://f.cloud.github.com/assets/1216518/1039569/d0a90bda-0f8d-11e3-8688-c830ce61

[2013-08-28 03:04] ngehlenborg opened #1580 "clicking pathway entry in LineUp twice after PAGE query removes template column"
Clicking the currently selected and previewed pathway entry again, causes the template to disappear. LineUp is not reset.

[2013-08-28 08:21] sgratzl commented on #1576
dark outline:

the solution is: alpha premultiplication.

see http://download.java.net/media/jogl/jogl-2.x-docs/com/sun/opengl/util/texture/Texture.html

see also: http://home.comcast.net/~tom_forsyth/blog.wiki.html#[[Premultiplied%20alpha]]

we are using: `gl.glBlendFunc(GL.GL_SRC_ALPHA, GL.GL_ONE_MINUS_SRC_ALPHA);`
but should use: `gl.glBlendFunc(GL.GL_ONE, GL.GL_ONE_MINUS_SRC_ALPHA);` for textu

[2013-08-28 08:55] #1570 closed, assigned to cpartl

[2013-08-28 09:42] sgratzl commented on #1579
now used mapping function: `linear(0, max(abs(value_min),abs(value_max)), abs(value) , 0, 1)`

linear interpolation between 0->0 and the max absolute value of the range -> 1

[2013-08-28 10:05] ngehlenborg opened #1581 "browsing stratifications with keyboard up/down arrow closes template under certain conditions"
To reproduce:
- insert stratification, e.g., "from list"
- select entry for preview
- use up arrow until the first entry is selected (orange background)
- use up arrow one more time (top entry will have gray background)
- use down arrow

=> template disappears

[2013-08-28 10:08] #1579 closed, assigned to sgratzl

[2013-08-28 10:08] sgratzl commented on #1575
current implementation:

GLKaplanMaier line 391 -> if the value is unknown -> assume alive -> BUG -> now the graphs looks similar to the 1. R plot
LogRank.java line 98 -> if the value is unknown -> it will be assumed that the person is still alive

[2013-08-28 10:10] ngehlenborg opened #1582 "excessive log messages of little value"
Related to #1571, do we need log messages such as the following, which often get written hundreds of times? My session log files are easily in the range of 5 - 10 MB.

Maybe we should introduce a "debug" mode (via preferences) in case someone really needs all INFO level messages. By default I would only write errors and maybe warnings.

[code]

[code]

[2013-08-28 10:42] sgratzl commented on #1582
In not happy with the logging in general. The eclipse logging toolkit is too inflexible, compared to slf4j, logback...

but if you just want to remove all the INFO & OK messages, you can set `-Declipse.log.level=WARNING` within your launch configuration

[2013-08-28 10:45] sgratzl commented on #1582
the normal way is to use the proper log category:
 eclipse: OK, INFO, WARNING, ERROR, CANCEL
 slf4j: VERBOSE, INFO, WARN, ERROR, FATAL

and filter out the non interesting  - including package specific filters

[2013-08-28 11:19] ngehlenborg opened #1583 "changing filters on data domain does not update metrics bar colors (gray vs colored)"
To reproduce:
- select CNV
- set filter to only allow amps to pass
- query
- change filter to only allow dels to pass

=> del bars still gray (see screenshot below)

![screen shot 2013-08-28 at 7 08 05 am](https://f.cloud.github.com/assets/1216518/1041516/587d0d0a-0fd3-11e3-9602-b0c88d6e796c.png)

[2013-08-28 12:18] mstreit opened #1584 "Mean sorting of rows in StratomeX heatmaps"

[2013-08-28 12:19] mstreit opened #1585 "Replace salmon color in CNV categorical data in TCGA projects"
Salmon is too close to the orange selections.

[2013-08-28 12:21] mstreit opened #1586 "Allow to transfer gene perspectives between data domains"
For sample stratifications this is already possible in DVI using drag and drop.

[2013-08-28 12:36] #1586 closed, assigned to cpartl

[2013-08-28 12:51] cpartl commented on #1585
The reason for the salmon color is this diverging color scheme (RdBu) from colorbrewer for 5 categories that we currently use.
What we can do:
- Choose a different color scheme
- Change the salmon color in that color scheme for 5 categories by hand (I don't recommend this)
- Do not try to use the optimal number of colors from the color schemes for the given number of categories (e.g.. use the 5 de

[2013-08-28 14:53] mstreit commented on #1565
Also waiting for #1585

[2013-08-28 15:27] mstreit commented on #1585
I think option 1 is most reasonable. I vote for PiYG or PRGn. Both do not have light orange or orange included.

[2013-08-28 20:39] ngehlenborg commented on #1585
Hm, I'd like to stick to the red-white-blue because that is standard for copy number across TCGA and many other projects. Could we use colors from the gradient that we are using for the heatmaps?

Alternatively, why not change the selection color to something like the purple/pink in the PiYG palette:

![screen shot 2013-08-28 at 4 38 31 pm](https://f.cloud.github.com/assets/1216518/1045248/e96b866

[2013-08-29 01:36] alexsb commented on #1585
Orange as a selection color is well tested, much described in papers/help and I personally like it a lot. I also did like the old colors (aka the color gradients we use for the heat maps) better, as Nils suggested. In that case we also don't need to change the selection color.

[2013-08-29 01:37] alexsb commented on #1585
I think we should simply offer those as an additional choice independent of the color brewer stuff.

[2013-08-29 07:12] mstreit opened #1587 "Rethink vertical positioning of KM plots in column"
Evenly distributing the KM plots in the column would reduce the ugly band compression that we currently have.

[2013-08-29 07:13] sgratzl commented on #1587
the same holds for pathways.

I would suggest (it enough space is available) to put it at the same y-position as their corresponding cluster

[2013-08-29 07:33] mstreit commented on #1587
I agree, putting the bricks one the same y-pos as the bricks in the column the pathway or KM plots are depending on would result in nice bands.
@cpartl How difficult is this to implement? It would be nice to change it for the NMC screenshots.

[2013-08-29 07:47] mstreit commented on #1576
It would be good to have this fixed for the final NMC screenshots.

[2013-08-29 07:49] mstreit commented on #1566
On my system the outline is there. However, the line is thicker on the right side.
![image](https://f.cloud.github.com/assets/4129755/1047957/7e046850-107f-11e3-92c0-52bdf4d4c105.png)

[2013-08-29 07:51] sgratzl commented on #1566
the lines will be drawn, I assume it is something with GL_LINE_SMOOTH and the positions of the lines, such that they between two pixels.

[2013-08-29 07:51] mstreit commented on #1566
Issue also has to do with the scaling factor. When I switch it to 1.05 the border lines are fine.
![image](https://f.cloud.github.com/assets/4129755/1047966/c9657b22-107f-11e3-84ce-2d4b3bb73a78.png)

Seems to come from the interpolation in the rendering.

[2013-08-29 07:54] mstreit opened #1588 "GSEA not recalculated when selecting another cluster"
For mutation and CNV this is working.

[2013-08-29 08:05] sgratzl commented on #1576
I fixed in especially for these buttons. As if I add it to some more general place (e.g. TextureManager) it will produce side effects -> see DVI StratomeX icon, if you uncomment the code

btw. I would add some border or 3D effect to make them more "attractive" to pushes.

[2013-08-29 08:19] sgratzl opened #1589 "Howto handle Alpha Premultiplication"
coming from #1576

the solution is: alpha premultiplication.

see http://download.java.net/media/jogl/jogl-2.x-docs/com/sun/opengl/util/texture/Texture.html

see also: http://home.comcast.net/~tom_forsyth/blog.wiki.html#[[Premultiplied%20alpha]]

we are using: gl.glBlendFunc(GL.GL_SRC_ALPHA, GL.GL_ONE_MINUS_SRC_ALPHA);
but should use: gl.glBlendFunc(GL.GL_ONE, GL.GL_ONE_MINUS_SRC_ALPHA); for textu

[2013-08-29 08:19] #1576 closed, assigned to sgratzl

[2013-08-29 08:32] #1566 closed, assigned to sgratzl

[2013-08-29 08:33] mstreit opened #1590 "Fast browsing through lineup items using arrow keys results in JVM crash - because of StratomeX"
To reproduce:
- Load mutations in lineup
- Select item and hold key down
  -> crash

[code]

[2013-08-29 08:33] sgratzl commented on #1566
I found the problem:
 the problem is not drawing the border but drawing the left white stuff at the left side.

solution: custom border renderer with a slight offset to the wizard center

[2013-08-29 08:34] mstreit commented on #1590
@sgratzl or @cpartl Do you have the same behavior under Windows?

[2013-08-29 08:35] sgratzl commented on #1575
I added two things:
- first you can set a min size filter within the Preferences, that will exclude groups from jaccard & logrank that are too small (default 0)
- second, in the mutation case you can now use the mutated metric to filter (by manipulating the mapping function) such that too small mutated clusters will be excluded (= filter not mapped entries enabled)

[2013-08-29 08:36] mstreit opened #1591 "Column dragging in StratomeX does not work anymore"

[2013-08-29 08:41] sgratzl commented on #1590
can you attach or paste the hs_err_pid12762.log file?

don't have the problem

but If I do a key down and update the stratification in StratomeX I finally manage it to get a ConcurrentModificationException in DVI.

[2013-08-29 08:48] mstreit commented on #1590
[code]

[2013-08-29 08:57] #1591 closed, assigned to cpartl

[2013-08-29 09:02] mstreit commented on #1554
Waiting for #1565

[2013-08-29 09:12] sgratzl commented on #1554
subset of #1554

[2013-08-29 09:15] mstreit commented on #1554
Not completely a subset of #1554, as we usually add the paper subtypes.

[2013-08-29 09:40] mstreit commented on #1585
I also do not want to change the selection colors because I like them and we chose dataset colors, for instance, to not interfere with the two shades of orange for selection.

I now replaced the salmon with a light red (I took the interpolated one from the histogram). The rest of the colors are still taken from the ColorBrewer scheme.
Here is the result:

OLD:
![cnv_old](https://f.cloud.github.com

[2013-08-29 09:41] #1585 closed, assigned to cpartl

[2013-08-29 09:46] mstreit commented on #1584
One of the NMC screenshots can only be done with this ticket.

[2013-08-29 11:54] ngehlenborg commented on #1587
Don't forget that there are often situations in which one or more blocks are really small and their height is less than the height required for the KM or pathway plot - you'd have to handle this somewhat flexibly to avoid overlapping blocks.

##

Sent from a mobile device.

On Aug 29, 2013, at 3:33 AM, Marc Streit notifications@github.com wrote:

[2013-08-29 12:43] mstreit commented on #1587
Yes, we discussed that already. I think equally distributing the bricks is the best and most universal solution.

[2013-08-29 13:13] mstreit opened #1592 "Tour Guide wizard column in StratomeX should have same height as rest"
Atm it is higher and too close to the window border.

[2013-08-29 13:18] ngehlenborg commented on #1557
I still have this problem on Mac OS X with build b76.

[2013-08-29 14:41] cpartl commented on #1587
closed via b7a18cd

[2013-08-29 15:04] mstreit commented on #1587
Looks nice!
However, before accepting the column, the bands are slightly off from the bricks. When hover over something, they are correct.

[2013-08-29 15:10] mstreit commented on #1587
The KM bricks now look a little bit detached though. Other opinions?
![a-d_mrna_microrna_overlap_m3_mi2_survival_stages](https://f.cloud.github.com/assets/4129755/1050635/29a796c2-10bd-11e3-80c5-8ee27840b636.png)

[2013-08-29 15:27] mstreit commented on #1565
#1585 is fixed.
We decided to not wait for #1555.
That means we are ready to generate the TCGA cal files.

[2013-08-29 15:42] ngehlenborg commented on #1590
I am unable to reproduce this despite a sophisticated test setup:
![img_5146-1](https://f.cloud.github.com/assets/1216518/1050894/6fb25162-10c1-11e3-903b-1c638ddd32ca.JPG)

However, the DVI crashes after a dozen or so previews and eventually I run out of memory and Caleydo becomes incredibly slow, but no crash.

[2013-08-29 17:22] ngehlenborg commented on #1557
Works on Mac OS X with build b79. Closing.

[2013-08-29 17:22] #1557 closed, assigned to mstreit

[2013-08-29 18:01] ngehlenborg opened #1593 "clinical data summary view"
![screen shot 2013-08-29 at 2 00 13 pm](https://f.cloud.github.com/assets/1216518/1051975/0f7a40fc-10d5-11e3-8565-6d8091d6ca25.png)

If we would print the number of elements per category as well as the total number of patients per column somewhere next to the column, as well as some basic summary statistics below the KM plots (better to be shown as histograms in this case), we would have a perfect

[2013-08-29 20:11] ngehlenborg commented on #1575
Filter in preferences is a good idea!

The minimum size does not work properly in b79. I set the minimum cluster size to 10, but I still get stratifications where the mutated group is only a single patient. Only when I deactivate the "not mutated" group, the filter seems to work.

[2013-08-30 06:33] sgratzl commented on #1565
what clusterer should we use: kmeans, tree or affinity?

[2013-08-30 06:49] mstreit commented on #1565
tree

[2013-08-30 09:26] mstreit commented on #1554
Not sure if we should add the old Verhaak subtypes or if we should just provide the unmodified generated GBM project.

[2013-08-30 09:37] cpartl commented on #1587
Not sure what to do about the detached look. Maybe an unobtrusive column background would help, but not sure if we should do that.

[2013-08-30 09:39] mstreit commented on #1587
Let's keep it as it is for now. Thanks for fixing.

[2013-08-30 09:39] #1587 closed, assigned to cpartl

[2013-08-30 09:43] sgratzl commented on #1575
the problem with log rank is that I know currenty three different version how to compute the z-score:

[Wikipedia](https://en.wikipedia.org/wiki/Logrank_test): `z = (E_a-O_a) / sqrt(V_a)`
[R](http://cran.r-project.org/web/packages/survival/index.html): `z = (E_a-O_a)^2 / V_a`
[Statistics Note](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC403858/): `z=(E_a - O_a)^2/E_a + (E_b - O_b)^2/E_b`

in the c

[2013-08-30 09:43] #1575 closed, assigned to sgratzl

[2013-08-30 09:56] sgratzl commented on #1565
what we also have to discuss is, where to put them on the server.

currently the tcga data browser is looking within the 3.0 directory like the pathway/mapping cache loader

the projects claim to be stored in the 3.0.2 directory.

[2013-08-30 10:13] ngehlenborg commented on #1554
Let's add them if it is not too much of a hassle.

##

Sent from a mobile device.

On Aug 30, 2013, at 5:26 AM, Marc Streit notifications@github.com wrote:

[2013-08-30 10:34] mstreit commented on #1554
The original Verhaak subtypes are only defined for 172 samples. As we have 528 mRNA samples in the latest GBM run, the bands look weird when adding further columns. In the EuroVis paper we used unpublished GBM subtypes, which we cannot add to the sample project.

[2013-08-30 10:49] mstreit commented on #1565
We somehow need an indicator in the code that tells us when the data packages are incompatible to an old version. I think we will not automatically derive this information from the version number.
@sgratzl Do you have a suggestions how to address this issue?

[2013-08-30 10:51] sgratzl commented on #1565
the data packages meta info file contain the version with which caleydo version they are produced. That is not the problem.

It is again about where to put the files on the server. As I don't know whether we are upward-compatible (caleydo 3.0.0 opening a 3.0.2. project)

[2013-08-30 10:56] mstreit commented on #1565
Being downward compatible is important. I would ignore upward-compatibility for now. People should use the latest version, however, they should be able to load there old projects if possible.

[2013-08-30 10:58] ngehlenborg commented on #1554
Ok, no additional stratifications for now.

##

Sent from a mobile device.

On Aug 30, 2013, at 6:34 AM, Marc Streit notifications@github.com wrote:

[2013-08-30 11:12] mstreit opened #1594 "Remove Entourage view from builds"

[2013-08-30 11:26] mstreit commented on #1565
Let's stick to our policy that all 3.0.\* packages are compatible with the current build (3.0.2). So the TCGA packages as well as the sample projects will be stored under "3.0" on the server. However, we should rename "3.0/tcga" to "3.0/tcga_sampled" before moving all new TCGA packages with the full matrices to "3.0/tcga".

[2013-08-30 11:28] ngehlenborg commented on #1565
Yes, agree with all points!

##

Sent from a mobile device.

On Aug 30, 2013, at 7:26 AM, Marc Streit notifications@github.com wrote:

[2013-08-30 11:29] mstreit commented on #1554
Replaced old sample GBM project with full matrix version in the "3.0" folder.
The package starts up with mRNA 4 CNMF and Hierarchical already added to StratomeX.

[2013-08-30 11:29] #1554 closed, assigned to mstreit

[2013-08-30 11:40] #1594 closed, assigned to sgratzl

[2013-08-30 12:00] sgratzl opened #1595 "Entourage crash"
coming from #1594.

Entourage crashed during startup:

[code]

reproduce: just open Entourage within e.g. the KIRC project

[2013-08-30 12:44] sgratzl opened #1596 "Check why the project meta data get lost within the resaved sample project"
the original project was a tcga project but after again storing the project the data are lost

[2013-08-30 14:38] sgratzl commented on #1440
I think the slowest point isn't the algorithm but the data access, see also #1489

[2013-08-30 14:56] sgratzl commented on #1565
2013-05-21, 2013-04-23, 2013-03 and 2013-02 is online, rest on demand

[2013-08-30 14:58] #1596 closed, assigned to sgratzl

[2013-08-30 15:25] sgratzl commented on #1592
@cpartl could you look at this ticket, I can't find where to get the height of a brick.

To set it within the the wizard, take a look at: `TourguideAdapter.java` field: `wizardElement` it will contain the wrapped ElementLayout layout for the wizard renderer

thx

[2013-08-30 15:39] sgratzl opened #1597 "Improve TCGA Browser Startup Addon"
we could improve the tcga data browser with additional information stored in the json file, including data stats, color, clustering information,...

[2013-08-30 15:52] sgratzl commented on #1583
workaround: deactivate / activate the data domain

problem: colors are up to now final for LineUp columns

I can try to replace the column with the new colored version

[2013-08-30 16:09] sgratzl commented on #1588
I think the original intention was since the GSEA computation takes so long, it should be prevented that the user can switch the group.

don't get the connection to the ticket

[2013-08-30 16:11] sgratzl commented on #1590
it may has something to do how displays lists of element layouts are garbage collected.

[2013-08-30 16:12] #1580 closed, assigned to sgratzl

[2013-08-30 16:12] #1588 closed, assigned to sgratzl

[2013-08-30 16:15] sgratzl commented on #1581
I think it is similar to #1580, could use please test it again

[2013-08-30 16:18] sgratzl commented on #1534
think about using http://stackoverflow.com/questions/7515730/jenkins-and-multi-configuration-matrix-jobs for the job: tumor x date

[2013-08-30 19:28] #1565 closed, assigned to sgratzl

[2013-09-01 15:13] sgratzl opened #1598 "Port GLPathway to GLElements"
such it can be used with Crossword / BiCluster

[2013-09-01 18:50] #1581 closed, assigned to sgratzl

[2013-09-02 11:58] mstreit commented on #1597
A little table per data package would be good. Similar to: http://compbio.med.harvard.edu/tcga/stratomex/

[2013-09-02 23:16] alexsb commented on #1595
That's because Entourage is hacked to work only with the one CCLE project....

[2013-09-03 06:20] ngehlenborg opened #1599 "selecting band doesn't clear brick selection"
To reproduce:
- Open mRNA clustering and copy number stratification.
- Select brick.
- Select band.
- Band will be selected but brick is still highlighted.

![screen shot 2013-09-02 at 11 17 24 pm](https://f.cloud.github.com/assets/1216518/1070703/e2a63916-1460-11e3-93ce-0b7ef85e1d71.png)

[2013-09-03 07:24] ngehlenborg opened #1600 "adding CNV to stratification LineUp is very slow when mutations are active and vice versa"
It is much faster when mutations are not active.

[2013-09-03 12:13] sgratzl commented on #1590
I think I found at least the DVI bug. It was a threading issue caused by the key events.

regarding speed: the bottleneck seems to be DVI -> I tried to tune the relevant part:

@cpartl can you take a quick look at 05e47272414f0208a39e90bfe3db71012e6ac62e. It tried to optimize the `retrieveTablePerspective` functions to work with the existing table perspectives and don't poll all possible combinati

[2013-09-03 13:45] #1600 closed, assigned to sgratzl

[2013-09-03 15:04] cpartl commented on #1590
your change looks fine to me...

[2013-09-03 15:12] mstreit commented on #1590
Works for me. I cannot get it to crash now. It's also much faster. Closing ticket.

[2013-09-03 19:09] #1433 closed, assigned to sgratzl

[2013-09-03 19:17] sgratzl commented on #625
regarding resource location and resource loaders:

The texture manager now supports URL resources that means everything except the icons referenced in the `Manifest.MF` files can be put in the classpath of the plugins. So for textures, we don't need to use the ResourceLoader anymore and can pass URL objects across plugins without any problem. e.g. they can be used as an alternative to the `EIconTe

[2013-09-03 20:10] sgratzl commented on #1583
I replace the column upon filter change. It might not be optimal but work in 90 percent of the cases.

[2013-09-03 20:10] #1583 closed, assigned to sgratzl

[2013-09-05 12:46] ngehlenborg opened #1601 "make scaling factor directly accessible in UI"
During demos it is sometimes quite useful to change the scaling factor, e.g. to show detail in the LineUp or StratomeX view but then "zoom out" to show an overview.

This could be implemented either as a global slider (if we can find a good place) or as a keyboard shortcut or both.

[2013-09-05 12:59] sgratzl commented on #1601
within the main toolbar (top left) we would have enough space.

regarding keyboard shortcut: I think `CTRL-+` and `CTRL--` are still free to use. But things like `CTRL-MouseWheel` are already used in some of the new views (e.g. bicluster)

[2013-09-05 14:23] ngehlenborg commented on #1601
Main toolbar: sounds good.

Keyboard: How about `CTRL-{ALT|SHIFT}-+` and  `CTRL-{ALT|SHIFT}--` since this is something that typical users would rarely do. That way we can save `CTRL-+` and `CTRL--` for standard zooming.

[2013-09-09 07:58] #1601 closed, assigned to sgratzl

[2013-09-09 14:05] ngehlenborg opened #1602 "add support for HTTP basic authentication to TCGA package builder"
Some of the AWG runs are in locations that are password protected. We should explore if we can add support for this to the TCGA package builder.

[2013-09-09 14:18] sgratzl commented on #1602
new options: `--username <username> --password <password`

[2013-09-09 23:09] ngehlenborg opened #1603 "add more information about pathways in pathway lineup"
- [x] KEGG id for pathway
- [ ] link to pathway page in KEGG

[2013-09-10 02:58] ngehlenborg opened #1604 "add custom event cluster assignments to TCGA data packages"
Custom event correlation with clinical available in THCA, soon possibly also in other active AWG runs.

[2013-09-10 02:59] ngehlenborg opened #1605 "add mutsig q-values as scoring information to mutation gene stratifications"

[2013-09-10 06:15] #1602 closed, assigned to sgratzl

[2013-09-10 06:27] #1590 closed, assigned to sgratzl

[2013-09-10 06:51] ngehlenborg commented on #1597
Somehow the tree is not attached to the top of the view, I can move it out of the visible area using the scroll wheel:

![screen shot 2013-09-10 at 2 49 33 am](https://f.cloud.github.com/assets/1216518/1112626/3afe1744-19e5-11e3-8e91-6b48c26edec3.png)

[2013-09-10 09:18] sgratzl commented on #1603
new extra column containing the name of the pathway + for the selected item an open externally button

[2013-09-10 09:18] #1603 closed, assigned to sgratzl

[2013-09-10 09:53] sgratzl commented on #1597
please retest

part of 4ee5b89356cb71b20a509801bef525df4c34a9ac

[2013-09-10 12:49] sgratzl opened #1606 "Change Adjusted Rand mapping"
by @ngehlenborg:

[2013-09-10 13:19] #1606 closed, assigned to sgratzl

[2013-09-10 16:45] alexsb commented on #1555
Decided to do this asap. Implementation options:
- use a separate transformation, to keep the original values around
- replace NAs and ignore previous values
- store a bit that tells us that a value was previously NA

Also, we discussed to do this only for sampled matrices, which might lead to undesired results for GSEA and sampling, but could be done much faster. It should be part of the data pac

[2013-09-10 19:54] alexsb opened #1607 "Report on data sources inside of Caleydo"
When creating projects we should report the exact file in the exact package (ideally including a link) out of firehose, similar to https://github.com/Caleydo/caleydo/wiki/TCGA-Package-Generator but dynamically.

[2013-09-10 21:41] ngehlenborg opened #1608 "LineUp column header hover menu covers list of combined columns"
Both the list of columns and the hover menu are shown when hovering over the column header and the menu hides the first entry in the list (at least that appears to be the case):

![screen shot 2013-09-10 at 5 38 50 pm](https://f.cloud.github.com/assets/1216518/1118609/95967490-1a61-11e3-8405-fe941f0c57c7.png)

[2013-09-11 06:52] #1597 closed, assigned to sgratzl

[2013-09-11 06:54] sgratzl commented on #1605
as far as I understand:

during package generation the mutsig q-values should be packed into the package, right?

[2013-09-11 07:01] sgratzl opened #1609 "Refactor Logging"
generalizing #1582 and #1571

we should rethink our current logging strategy.

should have:
- the errors & warnings [& info] should be accessible via the errors eclipse view within Caleydo
- capture the eclipse errors in the logging service

must have:
- log to file support (either on a per start basis or some rolling file
- simple to use and class based
- different levels ERROR -> DEBUG
- flexibl

[2013-09-11 07:03] sgratzl commented on #1422
generalized version: #1607

--> duplicate

[2013-09-11 07:03] #1422 closed, assigned to nobody

[2013-09-11 07:04] sgratzl commented on #1547
see also #1607

[2013-09-11 07:05] sgratzl commented on #1555
there are two separate tasks:
1. integrate the description and result into the data model in a backward compatible way
2. implement the `impute.knn` logic to compute the data

[2013-09-11 07:38] #1608 closed, assigned to sgratzl

[2013-09-11 09:04] sgratzl commented on #1607
@cpartl thx again

[2013-09-11 12:49] cpartl commented on #1607
Please specify exacly what should be reported on and how and where this information should be accessible.

[2013-09-11 13:21] mstreit opened #1610 "Caleydo crashes when run with 1024x768"
Happens to me under Windows and Linux. Error log will follow.

[2013-09-11 13:32] mstreit opened #1611 "Bands are gone after viewing pathway in detail mode"

[2013-09-11 18:28] sgratzl opened #1612 "convention over configuraiton project generation"
I'm just thinking about what would be the minimal information needed to describe a datadomain and a caleydo project, assuming perfect data.

based on [convention over configuration](https://en.wikipedia.org/wiki/Convention_over_configuration) paradigm

[code]

advantage: external tools (like R) can generate project without Caleydo.

It is just about loading the data not storing in that format

[2013-09-11 22:21] ngehlenborg commented on #1605
Yes, that's correct. MutSig CV 0.9. Issue moved to 3.0.4 however.

[2013-09-12 05:55] ngehlenborg opened #1613 "update link to Help in "Help" menu"
We should probably remove the old help pages, too.

[2013-09-12 08:56] #1613 closed, assigned to sgratzl

[2013-09-12 08:58] sgratzl commented on #1555
from

![from](https://f.cloud.github.com/assets/4129778/1129356/5d25acec-1b89-11e3-800a-43f47524e16e.png)

to

![to](https://f.cloud.github.com/assets/4129778/1129357/600cc260-1b89-11e3-861f-81254a714edb.png)

with maximal 10sec for the mRNA-seq data computed on the unsampled data

[2013-09-12 09:04] sgratzl commented on #1555
notes:
- the imputation is computed in parallel where applicable using Fork Join Tasks
- it is based on the `impute.knn` source code (R and Fortran 77)
- the results matches for a simple dataset (http://www.inside-r.org/packages/cran/impute/docs/khanmiss), when the `maxp` is large enough, such that no two-mean-clustering will occur.
- if the clustering needs to be done, then the result differ mayb

[2013-09-12 09:21] sgratzl commented on #1555
another note:
- currently the values are REPLACED instead of stored in a view -> was simpler to test, I can change that back to to any other version: view, bitset

[2013-09-12 11:13] #1440 closed, assigned to sgratzl

[2013-09-12 11:13] sgratzl commented on #1440
small change - huge speedup
Tree Clusterer: GBM mRNA full genes
before: 45sec
afterwards: 2sec

change: EuclideanDistance: from Math.pow(d,2) to d*d

--> I don't think that parallelism can help here

[2013-09-12 12:00] ngehlenborg commented on #1555
Here's another even more striking example of the improvements:

3 days ago:

![screen shot 2013-09-09 at 5 14 53 pm](https://f.cloud.github.com/assets/1216518/1130254/68fe5c12-1ba2-11e3-8c63-79f3bbbbed25.png)

This morning:

![screen shot 2013-09-12 at 7 59 21 am](https://f.cloud.github.com/assets/1216518/1130264/d3bdd2f8-1ba2-11e3-8b45-45067178f463.png)

[2013-09-12 19:10] alexsb opened #1614 "Auto-upload / provide / paste, etc the log when someone clicks "Report a bug" in Caleydo"
This would make the cumbersome process of finding the latest log obsolete.

[2013-09-12 19:13] alexsb opened #1615 ""Help > Error Log" does nothing"
I should get the eclipse error view I presume, which I don't. We should either show that or show the log text file.

[2013-09-12 19:14] alexsb commented on #1615
Related to #1609

[2013-09-12 19:15] alexsb commented on #1609
Yes, definitely! Our current logging is super-awful and clumsy to write.

[2013-09-12 19:22] sgratzl commented on #1615
are we are talking about the latest release or your local version?

-> add org.eclipse.ui.views.log plugin to your launch config

[2013-09-12 19:47] ngehlenborg opened #1616 "convert p-values to q-values"
Instead of correcting p-values we could convert them to q-values.

[2013-09-12 19:47] ngehlenborg opened #1617 "change p-value mapping in LineUp for Tour Guide"
The Park lab suggested that we change the p-value mapping used in LineUp:
- [ ] use `-log(p-value)`
- [ ] change column header label to `-log(p-value)`

Further suggestions were to change the color or style of the bar for p-values that are not significant. This is something that is hard to implement at the moment, because it both requires a significance cut-off and correction for multiple testing.

[2013-09-12 19:52] ngehlenborg opened #1618 "add note to pathway download progress indicator"
It should say that this download is only performed once and updated if necessary, e.g.

"Downloading pathway information. This may take a while but will not be required next time you start Caleydo, unless updated pathway information is available on the server."

[2013-09-13 07:24] sgratzl commented on #1617
what about the corner case: p-value = 0 -> `-log(0) = Inf`

in addition, we need to linearize this mapping in the 0..1 range

[2013-09-13 07:34] sgratzl commented on #1617
so please come up with a mapping: `p-value -> [0,1]`, given: `pvalue_min`, `pvalue_max`

[2013-09-13 07:40] mstreit commented on #1611
@cpartl Can you reproduce this on your machine?

[2013-09-13 07:43] mstreit commented on #1615
Works for me for both release version and Eclipse head.
@alexsb Re-open if updating your launch config does not work.

[2013-09-13 07:43] #1615 closed, assigned to nobody

[2013-09-13 07:44] sgratzl commented on #1614
we have to check, which privacy related information are stored within the log files before we can upload them to a public place

e.g. currently we are dumping the environment variables, containing: username and a lot of system information

as an alternative we could just prepare an email template and print the related information in a popup box, and point to the file location of the log file

[2013-09-13 07:49] sgratzl commented on #1614
things the user should provide:
java version, caleydo version, architecture, project name (if a standard one), platform, error description, latest warning & error messages (no info, debug)

optional:
list of open views, screenshot, contact address

btw. with the current logging strategy I doubt that a full log would help us finding bugs.

[2013-09-13 07:59] cpartl commented on #1611
Actually, no. Are there any specific conditions?

[2013-09-13 08:00] mstreit opened #1619 "Update splash"

[2013-09-13 08:01] mstreit opened #1620 "Update Caleydo logo"
In Wizards, general toolbar, app icon.

[2013-09-13 08:02] mstreit commented on #1607
Did you get necessary information what should be contained in the report?

[2013-09-13 08:03] mstreit commented on #1555
Close?

[2013-09-13 08:07] sgratzl commented on #1555
we need to clarify how to handle the imputed data. As stated before, the original values are currently replaced.

[2013-09-13 08:09] mstreit commented on #1555
OK. As this is what Firehose is doing, let's replace it for now.
Do you agree @ngehlenborg ?

[2013-09-13 08:14] mstreit commented on #1611
OK, it has nothing to do with the detail mode. It's a shader problem.
Reproduce:
- Load mRNA stratification
- Add pathway - pick some from the list and the bands are gone

Log: Shader status invalid: (no info log)

[2013-09-13 08:16] mstreit commented on #1620
...also on current website

[2013-09-13 08:27] sgratzl commented on #1620
hint: some of the application icon are stored within the super project, too

[2013-09-13 08:31] mstreit commented on #1620
ok. do we really need all the different version that are currently stored in org.caleydo.core/resources/logos?

[2013-09-13 08:39] sgratzl commented on #1620
most of them, yes. But what about creating a script and let imagemagick create the different versions for you based on an svg image

[2013-09-13 08:39] sgratzl commented on #1619
please keep https://github.com/Caleydo/caleydo/wiki/Eclipse-RCP-FAQ in mind

[2013-09-13 08:42] mstreit commented on #1620
yes, that would be optimal.

[2013-09-13 08:55] sgratzl commented on #1620
... and on github (caleydo machines + caleydo organisation)
... and on gravatar
... and within the import / export icons

[2013-09-13 09:32] mstreit commented on #1610
[code]

[2013-09-13 09:35] sgratzl commented on #1610
a reproducible way to get it + which java version?

[2013-09-13 09:57] mstreit commented on #1610
No, I am not able to reproduce it. But it happened to me under Linuex (OpenJDK) and Windows (Sun latest).

[2013-09-13 11:50] mstreit opened #1621 "improve GUI in dataset info"
- Dataset stats and processing info should not be rendered in an input field. Use label instead.
- Information should be aligned (BLA: <TAB>BLE)
- Only show two digits after comma

[2013-09-13 12:01] alexsb commented on #1555
I do agree, we do the same thing for the z-standardization

[2013-09-13 13:27] ngehlenborg commented on #1555
Replacement is fine for now.

[2013-09-13 13:27] #1555 closed, assigned to sgratzl

[2013-09-13 14:16] #1611 closed, assigned to cpartl

[2013-09-13 14:18] cpartl commented on #1584
@alexsb you once said that you know how to easily activate this sorting again

[2013-09-13 14:42] ngehlenborg commented on #1617
`p-value = 0` should be mapped to `Double.MIN_VALUE` before `log` is applied. The log scale data should be mapped to `[0,1]` using regular linear scaling (here: divide by maximum of log-transformed values).

Unfortunately, p-values of 0 have the potential mess up the length of the other bars.

[2013-09-13 15:03] ngehlenborg commented on #1617
To deal with very small p-values, we could also set a lower limit greater than `Double.MIN_VALUE`, e.g. 10e-10, and map every p-value smaller than that to this value before the log transformation is applied.

[2013-09-13 15:09] #1599 closed, assigned to cpartl

[2013-09-13 16:09] sgratzl commented on #1617
current js code:

[code]

[2013-09-13 16:11] sgratzl commented on #1617
don't like it, change it in `org.caleydo.view.tourguide.impl.Utils.createPValueMapping()`

[2013-09-13 16:12] #1617 closed, assigned to sgratzl

[2013-09-13 18:06] ngehlenborg opened #1622 "pathway images have black background"
Issue (black background also in detail mode):
![blackground_bug](https://f.cloud.github.com/assets/1216518/1140428/eb22cfdc-1c9e-11e3-9658-9824938769f3.png)

Hardware:
![blackground_bug_machine](https://f.cloud.github.com/assets/1216518/1140437/2dd8e532-1c9f-11e3-8ba9-1b739f11e749.png)

Here is the error log (accessed from within Caleydo and exported):

[code]

[2013-09-13 18:51] ngehlenborg opened #1623 "show numerical variables from new datasets in "Other lineup""
For example, right now it is impossible to use survival data loaded from external files.

[2013-09-13 20:04] ngehlenborg opened #1624 "help button in pathway view links to wrong help"
needs to be updated

[2013-09-13 20:14] sgratzl commented on #1623
Other lineup lists all: inhomogenous natural number columns.

so if you manually import such an imhomogenous table, containing columns of type natural numbers, it will appear in LineUp

[2013-09-13 20:18] alexsb commented on #1623
How was the data loaded? Homogeneous or heterogeneous?

[2013-09-13 20:18] ngehlenborg commented on #1623
**Inhomogeneous**

[2013-09-13 20:21] sgratzl commented on #1624
in my develop branch it points to: http://help.caleydo.org/views/enroute.md#Pathway_View - which seems to be correct

[2013-09-13 20:22] sgratzl commented on #1623
natural numbers? -> by default it would be numerical (float)

[2013-09-13 20:23] ngehlenborg opened #1625 "help button in StratomeX view links to wrong help"

[2013-09-13 20:29] ngehlenborg commented on #1624
Ok, was using 3.0.2

[2013-09-13 20:29] #1624 closed, assigned to alexsb

[2013-09-13 20:31] ngehlenborg commented on #1625
Ok, was apparently addressed in 27f8d2c9af85b832550172af908aef15b11f0a27

[2013-09-13 20:31] #1625 closed, assigned to alexsb

[2013-09-13 21:04] ngehlenborg opened #1626 "replace pathway list search dropdown with a solution that works on Mac"
Currently the pathway dropdown list doesn't get filled when clicking on the arrow button (focus is not set).

[2013-09-13 21:10] alexsb commented on #1626
The solution that works will be Entourage ;). We plan to remove the Pathway view once that's in the stable version. Suggest wontfix?

[2013-09-13 21:58] ngehlenborg commented on #1626
Ok, wontfix.

[2013-09-13 21:58] #1626 closed, assigned to nobody

[2013-09-13 22:37] ngehlenborg opened #1627 "logrank queries with mutations broken"
Deselecting the "not mutated" group no longer seems to work. The top hits are always genes with only a single mutation.

[2013-09-14 19:18] sgratzl commented on #1623
@ngehlenborg can you test it again, please.

Otherwise what types of data should be listed in the "others" view

[2013-09-14 19:26] sgratzl commented on #1627
as far as I know is the log rank symmetric, so both test scenarios: not-mutated vs mutated and mutated vs not-mutated result in the same value.

So if you deselect the "not mutated group" just deselect the not-mutated vs mutated case, but the other one remains.

There is currently no "min size" filter implemented in the log rank algorithm directly

[2013-09-14 19:48] ngehlenborg commented on #1623
Ok, this is what I found:

Loading integers (natural numbers) works, but then I get a histogram preview (instead of a KM preview for the regular "days to death"). Loading floats (real numbers) does not work.

I think both should work and we should recommend to load survival data as real numbers.

![screen shot 2013-09-14 at 3 46 24 pm](https://f.cloud.github.com/assets/1216518/1144167/addd6442-1d7

[2013-09-14 19:51] ngehlenborg opened #1628 "data import confirmation dialog is too narrow if dataset name is long"
![screen shot 2013-09-14 at 3 42 53 pm](https://f.cloud.github.com/assets/1216518/1144175/19fb3424-1d77-11e3-9ad5-955e0d6e959f.png)

[2013-09-14 19:53] ngehlenborg opened #1629 "inhomogeneous data column preview should indicate numerical data type details"
The header should show whether the column is treated as a float or as an integer.

![screen shot 2013-09-14 at 3 45 14 pm](https://f.cloud.github.com/assets/1216518/1144179/3f462810-1d77-11e3-98b1-4dae09fc604c.png)

[2013-09-14 19:56] ngehlenborg opened #1630 "load project text field in project wizard should be dropdown list showing last X projects"
That would make it much easier to switch back and forth between multiple projects.

![screen shot 2013-09-14 at 3 54 25 pm](https://f.cloud.github.com/assets/1216518/1144188/b3da82e8-1d77-11e3-967f-2e54bccfbb3f.png)

[2013-09-14 20:06] ngehlenborg commented on #1627
I thought exactly that had been fixed in #1575 and for all that I remember it worked fine until I pulled the latest code yesterday:

I will test this with 3.0.2 to confirm.

[2013-09-14 20:24] ngehlenborg commented on #1627
I figured it out. I had set the minimum cluster size filter in the prefs, but that got deleted yesterday when I was working on the pathway issues. So it wasn't really the data domain filter but the cluster size limit that affected all my queries.

Since the prefs filter only works after restarting the StratomeX view, this is a little bit confusing and maybe also the source of the problem that I re

[2013-09-14 20:27] ngehlenborg commented on #1627
Btw, now that I know how I can reproduce my earlier results I'm fine with moving this to 3.0.4.

[2013-09-15 04:51] ngehlenborg opened #1631 "missing and unnecessary Tour Guide wizard options"
Missing: adding pathway as unstratified and without mapping any data onto it.

Unnecessary: "Select stratification" when adding independent column to unstratified dependent column (right now only possible for clinical parameters but if missing option is added this would also apply to unstratified pathways): since it is the only option in the first step we should drop it.

[2013-09-15 20:22] sgratzl commented on #1631
currently not possible in StratomeX since every pathway needs to be mapped to something
@alexsb or am I wrong?

[2013-09-15 21:13] alexsb commented on #1631
@cpartl is more qualified to say something to that, but I think it's possible. It's afair the default of the pathway standalone view where a strat is only later mapped to a view. I think pathway can handle a null dd and strat.

[2013-09-16 06:31] sgratzl commented on #1631
I don't think that the pathway view is the problem but StratomeX and its BrickColumns, which are based on TablePerspectives.

[2013-09-16 07:10] sgratzl commented on #1631
was introduced as part of #1482 (disable and not hide invalid options) but I will try to find a balance between hide and disable

[2013-09-16 08:30] sgratzl opened #1632 "Option to Skip save recent project"
in my daily work I don't care about the recent project, but it costs me a lot of time to save it.

I suggest an simple option to cancel the save recent project task during shutdown (maybe including a "remember me" option)

[2013-09-16 08:33] mstreit commented on #1632
I am not sure if this is a useful feature for end-users. How about turning off auto-save for the experimental version?

[2013-09-16 08:37] #1101 closed, assigned to sgratzl

[2013-09-16 08:37] #1623 closed, assigned to sgratzl

[2013-09-16 08:37] #1627 closed, assigned to sgratzl

[2013-09-16 08:42] sgratzl commented on #1627
Like that idea, implemented it in that way.

In addition the original preference value is used as a default value for the data set specific min size filter.

However the min size filtering is currently not implemented for pathways

[2013-09-16 08:45] sgratzl opened #1633 "Missing TourGuide option: Adding standalone pathway"
coming from #1631:

missing: adding pathway as unstratified and without mapping any data onto it.

comments:
by @alexsb

by myself:

[2013-09-16 08:45] sgratzl commented on #1631
extract the missing single pathway to an own ticket #1633

[2013-09-16 08:45] #1631 closed, assigned to sgratzl

[2013-09-16 08:47] sgratzl commented on #1622
maybe there are problems while loading the images to the graphics card, since the mapping is rendered but not the underlying pathway image.

[2013-09-16 10:46] ngehlenborg commented on #1632
I agree, it's a nuisance for developers but quite the opposite for users.

[2013-09-16 10:48] ngehlenborg commented on #1633
Let's move this to 3.0.4.

[2013-09-16 10:58] sgratzl commented on #1632
wontfix

[2013-09-16 10:58] #1632 closed, assigned to nobody

[2013-09-16 12:36] ngehlenborg opened #1634 "*.tsv should be standard data type for groupings and added to file selection dialog"
Currently TSV files are grayed out, which makes them hard to find.

[2013-09-16 12:45] ngehlenborg opened #1635 "show how many currently loaded samples match entries in matrix to be imported before groupings or matrices are imported"
Currently I can only check if any mapping was possible after loading, which is too late.
Since I can't remove groupings that are not matching any entries in the matrix that they were assigned to, I have to reload the project and start over.

The same information that is being shown after loading (see #1247) should be shown before loading:

![screen shot 2013-09-16 at 8 46 11 am](https://f.cloud.gi

[2013-09-16 12:47] #1247 closed, assigned to alexsb

[2013-09-16 15:05] #1607 closed, assigned to cpartl

[2013-09-16 16:50] ngehlenborg commented on #1619
messageRect: 55,328,537,20 [x,y,w,h]
progressRect: 55,351,537,20
version: 55,378,537,20 (right-aligned text)

progressbar colors (if possible): 255,255,255 (foreground), 7,7,33 (background)
message fontsize 12pt
version fontsize 10pt

![caleydo-3-regular](https://f.cloud.github.com/assets/1216518/1150775/071d4d68-1ef0-11e3-8503-85b70a34196a.png)

Example with message, version and progress bar as d

[2013-09-16 16:57] ngehlenborg commented on #1619
Do we have a place for for copyrighted/licensed materials that we are using in Caleydo? The background image is from http://en.wikipedia.org/wiki/File:Hyades.jpg and was created by Todd Vance. It is licensed under [Creative Commons Attribution-Share Alike 2.5 Generic](http://creativecommons.org/licenses/by-sa/2.5/deed.en).

[2013-09-16 16:58] ngehlenborg opened #1636 "Create section in help or software for copyrighted/licensed materials used in Caleydo"
- [ ] create section, e.g. in about dialog
- [ ] include information for splash screen image (#1619)

[2013-09-16 18:35] #1619 closed, assigned to sgratzl

[2013-09-16 19:49] ngehlenborg opened #1637 "add progress indicator, message, version number to splash screen before opening project wizard"
Empty space at the bottom of the splash screen makes the screen look off center.

Message could be "Launching ..." or "Launching Project Wizard ..."

[2013-09-16 20:08] sgratzl commented on #1636
include fatcow icons link: https://www.fatcow.com/free-icons

[2013-09-16 20:27] sgratzl commented on #1637
I don't think this is possible.

The splash screen itself is displayed by the launcher, whereas the progress bar is rendered afterwards while the application is already loading.

The problem is that at this point the workbench.xmi (open views,...) has been already loaded, but since we want to overwrite after the user selected the project, we have a problem.

we could fake some parts by rendering s

[2013-09-16 20:28] sgratzl commented on #1620
done

[2013-09-17 02:44] ngehlenborg commented on #1620
Thanks! Looking good, closing.

[2013-09-17 02:44] #1620 closed, assigned to mstreit

[2013-09-17 07:45] sgratzl opened #1638 ""pushier" wizard icons"
currently the wizard icons are flat. Some simple 3d effect / border would make them "pushier" ... simpler to detect that they can be pushed.

[2013-09-17 08:48] mstreit commented on #1610
Cannot reproduce anymore. Closing until it happens during the next presentation :)

[2013-09-17 08:48] #1610 closed, assigned to mstreit

[2013-09-17 09:38] #1592 closed, assigned to sgratzl

[2013-09-17 11:12] sgratzl opened #1639 "Create new data packages with imputation & report included"

[2013-09-18 11:50] sgratzl commented on #1639
done,

what needs to be done is updating the sample project

@mstreit can write a wiki page for the changes how to convert a tcga project into a sample project, please

[2013-09-18 12:11] mstreit commented on #1639
see https://github.com/Caleydo/caleydo/wiki/Sample-project

[2013-09-18 12:36] #1639 closed, assigned to sgratzl

[2013-09-18 17:53] sgratzl opened #1640 "Make the sampled/smaller sample project available"
the current sample project has about 79MB. We should another sample project just with the sampled data. For a simple test it would be sufficient.

[2013-09-18 18:08] sgratzl commented on #1636
currently accessible via: About Dialog -> Installation Details -> Licensed Materials

don't like the text, change it: `LicenseInstallationPage.java`

[2013-09-19 06:47] #1636 closed, assigned to sgratzl

[2013-09-19 08:59] #1640 closed, assigned to sgratzl

[2013-09-19 10:42] mstreit opened #1641 "Cannot change left side of color mapping in header detail mode"
The left vertical line cannot be dragged.
@cpartl and @sgratzl Can you confirm this behavior?

[2013-09-19 10:44] mstreit commented on #1641
The interaction with the toolbar of the header brick in detail mode does not work as well. I cannot close the detail mode anymore. The problem with the inactive toolbar is only present when columns are on both sides of the detail view.

[2013-09-19 10:44] sgratzl commented on #1641
yes I can

[2013-09-19 10:46] sgratzl commented on #1641
but I can drag just the line by picking it above the blue box.
- I have no problem closing the detail mode

[2013-09-19 10:46] mstreit commented on #1641
@cpartl Can you try to fix this asap please. We want to release at 4pm today.

[2013-09-19 10:51] mstreit commented on #1641
@sgratzl yes, it is a problem with the order of the blue rectangle.
The problem with the non-working close button is only present when the detail view is shown for the right column.

[2013-09-19 11:46] ngehlenborg opened #1642 "remove standard dev bars from pathway detail plots"
Could be managed through a preference option.

[2013-09-19 12:18] #1642 closed, assigned to cpartl

[2013-09-19 12:35] cpartl commented on #1641
Please test if everything works again...

[2013-09-19 12:59] alexsb commented on #1636
Should we acknowledge the various libraries? I think especially Pathvisio does deserve credit?

[2013-09-19 13:26] ngehlenborg opened #1643 "investigate why tree view scrolls beyond top position on Mac"
![screen shot 2013-09-19 at 9 23 45 am](https://f.cloud.github.com/assets/1216518/1172983/f9889806-212e-11e3-9f81-3774a49ddfd5.png)

![screen shot 2013-09-19 at 9 22 16 am](https://f.cloud.github.com/assets/1216518/1172984/00e36f2c-212f-11e3-9472-8d1b92ab98c2.png)

[2013-09-19 14:38] ngehlenborg opened #1644 "TCGA data browser content does not appear until focus is removed from project wizard on Mac"
Data is loaded instantaneously but not shown until I click on another window (e.g. splash screen).

[2013-09-19 15:12] mstreit commented on #1641
Works again. Thanks @cpartl

[2013-09-19 15:12] #1641 closed, assigned to cpartl

[2013-09-19 15:13] mstreit commented on #1644
@ngehlenborg Please test again.

[2013-09-19 15:16] ngehlenborg commented on #1644
Still doesn't work. Same issue.

[2013-09-19 20:36] ngehlenborg opened #1645 "Is there a minimum amount of memory required to run Caleydo?"
We observed a "Could not create Java Virtual Machine" error when trying to launch on an old Windows 8 machine with 2 GB or RAM.
- [x] determine what happens if requested memory is larger than available memory
- [x] add notice on download page

[2013-09-19 20:38] sgratzl commented on #1645
current memory related jvm settings: `-Xms512m -Xmx2048m  -XX:MaxPermSize=256m`

[2013-09-19 20:49] ngehlenborg commented on #1644
News: this only happens when I launch from within Eclipse but not when I launch using a build. Seems to be another strange issue related to Eclipse (maybe related to the broken file open dialog that never shows any files when I launch from within Eclipse ...)

[2013-09-19 20:49] #1644 closed, assigned to sgratzl

[2013-09-20 06:59] sgratzl commented on #1644
another strange mac problem...

[2013-09-20 10:50] sgratzl commented on #1645
seems to be a memory problem: 1GB RAM test vm:

![2013-09-20 12_48_21-](https://f.cloud.github.com/assets/4129778/1179900/5fb56240-21e2-11e3-866f-a25aa735e60a.png)

![2013-09-20 12_48_41-](https://f.cloud.github.com/assets/4129778/1179897/59012a9c-21e2-11e3-9e63-6a68eb932b59.png)

[2013-09-20 11:12] sgratzl commented on #1645
with the latest build it worked on my test vm (32-bit 1GB RAM)

what is missing is the download note (but I have no rights to do that) -> @mstreit

[2013-09-20 11:49] mstreit commented on #1645
Added: "Caleydo requires at least 2GB of RAM for the 64-bit versions and 1GB of RAM for the 32-bit version. For working with large projects we recommend at least 4GB."
see http://www.icg.tugraz.at/project/caleydo/caleydo-application-download

[2013-09-20 11:49] #1645 closed, assigned to mstreit

[2013-09-20 16:30] alexsb opened #1646 "Visual Links in Entourage gone on Windows Computer"
On my windows machine the visual links are gone in Entourage.

![image](https://f.cloud.github.com/assets/2039375/1181997/ca3365c0-2211-11e3-9f49-4784c72d29dc.png)

The LinkRenderer is properly called, it also doesn't seem to be a z-value issue.

This is super-critical since it stops me from producing the FF video.

[2013-09-20 16:41] #1646 closed, assigned to cpartl

[2013-09-21 17:12] sgratzl commented on #1637
as I said, I don't think that I can render something onto the splash before the wizard appears.

Therefore I tried to manipulate the splash screen itself, indicating the progress bar:

![caleydo-3-regular](https://f.cloud.github.com/assets/4129778/1186106/b38ad04a-22e0-11e3-9e3e-6d5efa1ccd9f.png)

rfc

[2013-09-21 19:42] sgratzl commented on #1618
@ngehlenborg please check if the current version is sufficient. Adding a second line isn't possible.

[2013-09-21 19:43] sgratzl commented on #1633
@cpartl any ideas?

[2013-09-23 12:00] cpartl commented on #997
This was fixed previously.

[2013-09-23 12:00] #997 closed, assigned to cpartl

[2013-09-23 12:57] cpartl opened #1647 "What pathway nodes should be considered equivalent?"
Currently, two nodes are considered equivalent (and therefore as portal), if they share at least one PathwayVertex. E.g. [IGFR,EGFR,ERBB2] and [EGFR, PDGFRA] are equivalent. However, this way you can highlight several context nodes that are equivalent to the focus node, but not equivalent to each other. I'm not saying that this is bad per se, but it might be confusing.

[2013-09-23 12:59] alexsb commented on #1647
Maybe we should  introduce color-codes for that?

A colored frame showing that it is a multi-mapping, and a tool-tip showing the actual mapping?

[2013-09-23 13:10] cpartl commented on #1647
We should add tooltips, yes. Not sure if we should add more on-node colors.

[2013-09-23 13:15] alexsb commented on #1647
How about we draw a little triangle covering the lower left corner to indicate a multi-mapping. Works with the square we use for non-mapping.

[2013-09-23 13:32] cpartl commented on #1647
I agree that a triangle (or any other symbol) in gray or black would be better than color coding. However, the analogy to non-mapping is not really given. The square indicates, that an experimental dataset has no mapping for a node, but multi-mappings are inherent to the pathway map and not dependent on experimental data.
Btw. this is related to #1563

[2013-09-23 13:46] cpartl commented on #1647
Important consequence of the previous argument: you can have a multi-mapping for a non-mapping node

[2013-09-23 13:50] alexsb commented on #1647
I didn't want to make a functional analogy, I just wanted to point out that it works OK from a visual point of view. And we can do both at the same time - square on the right, triangle on the left.

[2013-09-24 08:56] cpartl opened #1648 "Rework the way data is added to Entourage"
The current solution is specifically designed to work with the ccle dataset, but we need a more general solution.

We decided that we want to use Lineup for specifying assigned data. The following requirements must be met:
- Multiple datasets can be assigned at the same time (entourage-exclamation marks and enRoute)
- Multiple stratifications can be chosen and have to be applied to all assigned da

[2013-09-24 09:18] sgratzl commented on #1648
dragging, mapping editor, [selection]

but I don't know it exactly

[2013-09-24 12:18] alexsb commented on #1648
I've updated the original text a little. A couple of questions:

What do you mean with "filtered by pathways?

There is always only a single stratification in enRoute/Entourage

That's IMO always the case, as it's essential for enRoute. ALL datasets have to have the same stratification, else the technique simply doesn't work.

I'm for DS dependent listing of stratifications.

[2013-09-24 12:27] sgratzl opened #1649 "Non Uniform heatmap texture renderer"
the bicluster lz texture renderer has a support to render a texture while using a non-uniform layout.

a similar approach would be useful for the heatmap texture renderer

[2013-09-24 12:43] cpartl commented on #1648
I never wrote that. This was maybe introduced by your changes!?

Actually, we assigned multiple stratifications when we added "All".

We really have to be careful here not to confuse that with the dataset selection though.

[2013-09-24 13:18] cpartl commented on #1524
Is this sufficiently solved? The soluction actually also includes #1083.

[2013-09-24 14:51] alexsb commented on #1648
Haha, indeed. I meant datasets. Edited.

Yes, but that's a special case. Is there a use-case for really doing multiple stratifications?

[2013-09-24 14:56] cpartl commented on #1083
part of #1524

[2013-09-24 14:56] #1083 closed, assigned to dkalkofen

[2013-09-24 15:07] cpartl commented on #1648
Good question, I can not really think of any right now. From an implementation point of view it does not really matter if we support it or not, because it already works that way in enroute. I guess it's just about being more restrictive in the UI, and if this is beneficial for the user in some way (maybe less complex).

[2013-09-25 02:18] ngehlenborg opened #1650 "add q-value/p-value mapping as default to lineup mapping editor"
Add the following mapping as "p-value/q-value":

if (value < 0.0 || value > 1.0) return NaN
return linear(0.0, -log(Math.max(10e-10,value_min)), -log(Math.max(10e-10,value)), 0.0, 1.0)

[2013-09-25 02:21] ngehlenborg opened #1651 "mapping editor is missing "filter" handles when using p-value/q-value mapping"
The handles (black lines with circular endmarkers) are missing when the p-value/q-value mapping (#1650) is applied:

![screen shot 2013-09-24 at 10 19 38 pm](https://f.cloud.github.com/assets/1216518/1205650/f71eab74-2588-11e3-8c75-e76334c2dbaf.png)

[2013-09-25 02:30] ngehlenborg opened #1652 "What is a "scoring grouping"?"
"Scoring groupings" are mentioned in the loading option in the LineUp context menu.

[2013-09-25 06:31] sgratzl commented on #1651
this is currently not possible. Since it is based on a custom JavaScript function, there is no way to interpret the code and infer minimum and maximum values out of it, which would be then used for the mapping editor features.

[2013-09-25 06:35] sgratzl commented on #1652
the idea is to load score for each group of a specific perspective stratification. This is maybe a relict from the days, where for each group in a stratification a row in LineUp was created.

I will remove this option

[2013-09-25 07:06] #1650 closed, assigned to sgratzl

[2013-09-25 07:06] #1652 closed, assigned to sgratzl

[2013-09-25 07:26] sgratzl commented on #1651
a simple workaround is to edit the first line of the JavaScript code and encode your filters here for the raw values.

[2013-09-25 11:04] mstreit opened #1653 "Add search icon to general toolbar"

[2013-09-25 12:10] sgratzl commented on #1651
since there is no way to parse the code, we could try to provide additional variables to the code about the filtering marker

e.g.

[code]

[2013-09-25 12:42] sgratzl commented on #1653
@mstreit please test as the logic for the toolbar has changed

[2013-09-25 12:53] sgratzl commented on #1605
importing q-values is mostly implement, please take a look at `MutSigTask.java` for the details about mapping, data source and so on

[2013-09-25 13:40] sgratzl commented on #1651
@ngehlenborg can you test it, please

variables:

[code]

[2013-09-25 13:59] mstreit commented on #1653
![image](https://f.cloud.github.com/assets/4129755/1209490/c19299d6-25ea-11e3-8361-81de7e2eb627.png)

[2013-09-25 15:19] #1653 closed, assigned to sgratzl

[2013-09-25 15:19] #1651 closed, assigned to sgratzl

[2013-09-25 15:44] ngehlenborg opened #1654 "remove Eclipse-specific README.html from build packages (seen at least in the Linux tarball)"

[2013-09-25 15:46] ngehlenborg opened #1655 "replace "cluster" with "set" in query wizard menus"

[2013-09-25 16:02] sgratzl commented on #1654
I just see a readme folder containing a readme_eclipse.html.

did you mean that?

[2013-09-25 16:08] ngehlenborg opened #1656 "only apply external score filters to data types for which they were loaded"
Right now they are applied to all data types, which means that switching to a new data type may result in an empty list.

To reproduce:
- activate mutations (only)
- load external score and associate with GENE, e.g. q-values
- apply filter, e.g. q <= 0.1
- deselect mutations
- select mRNA-seq: nothing will be shown until q-value column/filter is closed (using red "X" button)

[2013-09-25 16:08] ngehlenborg commented on #1654
Yes.

[2013-09-25 16:09] #1655 closed, assigned to sgratzl

[2013-09-25 18:40] sgratzl commented on #1654
based on http://vzurczak.wordpress.com/2011/05/22/removing-root-files-in-a-rcp-built-with-tycho/

[2013-09-25 20:11] #1654 closed, assigned to sgratzl

[2013-09-25 20:20] sgratzl commented on #1656
just to describe what is running in the background:
1. you load the q-values for Genes, with e.g. mean combiner
2. you want to have the score for a stratification of mRNA-seq
3. score will be computed.
   mRNA-seq has in the dimension Gene so the final result is the mean of all gene scores of this perspective.
4. since most of the genes have a q-value ~1 -> mean ~ 1
5. filter will be applied -> ro

[2013-09-26 00:55] alexsb opened #1657 "Scaling factor can not be changed by editing the field"
Only the slider has effect. The field is ignored.

[2013-09-26 06:26] sgratzl commented on #1657
press enter in the field to apply the value

[2013-09-26 06:29] #1657 closed, assigned to sgratzl

[2013-09-26 06:29] sgratzl commented on #1657
and now, when the focus got lost, too

[2013-09-26 11:49] sgratzl opened #1658 "DVI routing error"
I don't know why but sometimes my DVI looks like this:

![2013-09-26 13_48_25-caleydo - screenoncochemicalthresholdsclamped2 5 cal](https://f.cloud.github.com/assets/4129778/1217267/a7697860-26a1-11e3-87d6-22755c37a2c9.png)

[2013-09-27 11:45] #1563 closed, assigned to cpartl

[2013-09-27 11:45] #1647 closed, assigned to nobody

[2013-09-27 13:35] alexsb opened #1659 "Dependent operations in tour-guide wizard should also work starting form the "add dependent" button"
Right now, to, e.g., add a pathway using, a page ranking, you have to use the independent new column button, then select a brick out of all the available bricks (in any stratification).

It should be possible to add it using the add dependent button and then only present the   source stratification's bricks as options.

[2013-09-27 13:54] sgratzl opened #1660 "Wrong Drag Handle position"
try to enlarge the metrics column itself, the handle is at the wrong position

[2013-09-27 14:34] #1660 closed, assigned to sgratzl

[2013-09-27 21:55] ngehlenborg opened #1661 "automatic select of best genes for heatmap visualization"
This approach described in the supplement of the TCGA KIRC marker paper (page 73) might be very useful for StratomeX:

[2013-09-30 08:36] cpartl commented on #1648
@sgratzl Can you start by setting up a lineup view with these lists? I can take over afterwards if you tell me how and where to react on actions.

[2013-09-30 09:03] cpartl opened #1662 "Create Lineup View for Entourage Data Assignment"
Create a lineup view for the assingment of data to entourage. It should contain:
- A list of stratifications. It should work in a similar fashion as with the StratomeX lineup, i.e. you select the datasets for which you want to see the stratifications. @alexsb and I decided that only one stratification shall be selectable at a time.
- A list that shows the groups of the currently selected stratific

[2013-09-30 09:31] cpartl commented on #1662
related to #1648

[2013-09-30 16:52] alexsb commented on #1239
This is now part of the larger effort in #1648. Closing.

[2013-09-30 16:52] #1239 closed, assigned to nobody

[2013-09-30 16:53] alexsb commented on #1662
Here is a mockup of lineup, the way I could imagine it:

![entourage_lineup](https://f.cloud.github.com/assets/2039375/1238827/d10feddc-29f0-11e3-85d6-b3909152a62e.png)

[2013-09-30 17:00] alexsb commented on #1315
For enroute this is resolved (has been for a long time). The larger issue of binning is in a separate ticket.

[2013-09-30 17:00] #1315 closed, assigned to alexsb

[2013-09-30 17:05] alexsb commented on #1067
This could be in the place where we now have the dataset selection (which will move to lineup). Alternatively we could just point to the help.

[2013-09-30 17:41] alexsb opened #1663 "Work out way for assigning non-genetic data to Entourage/enRoute"
With the new data assignment strategy for Entourage (see #1648 and #1662) we also need a new way to assign non-genetic  data to Entourage. Currently we use IC 50 drug values here, but any non-genetic patient-specific value is possible.

I suggest we use a second lineup instance for non-genetic data. For the drug case this would be listing a single dataset plus each drug as a line in lineup.

[2013-09-30 17:55] ngehlenborg commented on #819
Wontfix.

[2013-09-30 17:55] #819 closed, assigned to alexsb

[2013-09-30 18:03] alexsb commented on #1578
This would imply mouse-overs for bands, which might be a good thing?

[2013-09-30 18:06] ngehlenborg commented on #1578
That will be a good thing, yes.

[2013-09-30 18:08] alexsb commented on #1552
I think we should auto-sample all perspectives > 1500. What's the current behavior here? Manual sampling is probably not necessary.

[2013-09-30 18:22] alexsb commented on #1420
We don't actually need an icon and a tool-bar menu for things like this. Gimp, Inkscape etc do very well without that. I think the toolbar could be cleaned up to only include stuff you do on a regular basis instead.

[2013-09-30 18:24] #1391 closed, assigned to ngehlenborg

[2013-09-30 18:24] alexsb commented on #1391
Fixed with release 3.0.3

[2013-09-30 18:27] alexsb commented on #1370
What's the state of default stratifications? I wonder whether we still need the concept (to show to the user). I suggest we can close this, if you think otherwise, reopen.

[2013-09-30 18:27] #1370 closed, assigned to cpartl

[2013-09-30 18:28] #1044 closed, assigned to cpartl

[2013-09-30 18:37] alexsb commented on #1195
We'll do GSA, see #1491. Closing

[2013-09-30 18:38] #1195 closed, assigned to ngehlenborg

[2013-09-30 18:47] #899 closed, assigned to sgratzl

[2013-09-30 18:48] ngehlenborg commented on #940
We want to use the gene sets to create new perspectives, similar to the sampling based on most variable genes.

But this would also require that we can create heatmaps with individual genes, small lists of genes, etc. The MSigDB gene lists would just a simple way to select such lists.

[2013-09-30 18:49] alexsb commented on #829
Is this still an issue?

[2013-09-30 18:57] ngehlenborg commented on #1637
Works fine.

[2013-09-30 18:57] #1637 closed, assigned to sgratzl

[2013-09-30 19:44] alexsb commented on #1621
Not planning on using label (can't use multiple lines). Rest is addressed.  Closing.

[2013-09-30 19:44] #1621 closed, assigned to alexsb

[2013-09-30 19:49] alexsb commented on #1618
I think it's sufficient

[2013-09-30 19:49] #1618 closed, assigned to ngehlenborg

[2013-10-01 06:52] sgratzl commented on #1420
In my version, I have in both tools a menu item for that

[2013-10-01 07:33] sgratzl commented on #1605
@ngehlenborg, can you please test it

the current used file is: http://gdac.broadinstitute.org/runs/analyses__2013_05_23/data/GBM/20130523/gdac.broadinstitute.org_GBM-TP.MutSigNozzleReportCV.Level_4.2013052300.0.0.tar.gz

-> as referenced in `FirehoseProvider.java findMutSigReport()`

[2013-10-01 07:34] sgratzl opened #1664 "Standalone Pathway in StratomeX"
coming from #1633

adding pathway to StratomeX as unstratified and without mapping any data onto it.

[2013-10-01 07:34] sgratzl commented on #1633
extracted sub task to #1664 -> blocked by it

[2013-10-01 07:37] sgratzl opened #1665 "Create Branding features for StratomeX and Entourage"
see http://ekkescorner.wordpress.com/2010/06/13/brand-your-feature-and-be-part-of-about-eclipse/

requirements: has its own feature -> but that is no problem using the super project
- part of the about dialog, you can see the best Caleydo features.

[2013-10-01 10:52] #1665 closed, assigned to sgratzl

[2013-10-01 12:13] alexsb commented on #1420
You're right, Inkscape has them, but my gimp doesn't. I'm observing though that I'm not using these buttons. Does any of you?

[2013-10-01 13:49] sgratzl commented on #1420
I don't see the need for an icon in the toolbar, too. But at least a menu entry would be useful.

[2013-10-01 13:52] mstreit commented on #1420
Ack. We need a menu entry but no toolbar icon.

[2013-10-01 13:59] sgratzl commented on #1551
needs to be tested with the next release

[2013-10-01 19:19] sgratzl opened #1666 "Extract Color Animation to preferences + settings for animation duration"

[2013-10-02 06:33] sgratzl commented on #1662
II started to work in a new branch: https://github.com/Caleydo/caleydo/tree/develop_genlineup

current state:
- tour guide adapters are extracted
- stratomex is working again

@cpartl please checkout that branch and help me with the `EntourageAdapter`. Define and implement ways how to:
- check if an element is visible
- add an element
  in Entourage

the current feature set is similar to StratomeX

[2013-10-02 08:43] cpartl commented on #1662
What do you mean by "element"?
A TablePerspective?

[2013-10-02 09:07] sgratzl commented on #1662
I assume that Entourage supports just a single record stratification. If so the simplest solution is to store the last updated row to show (via `update(...)`) and check for similarity in `isPreviewing` and `isVisible``

[2013-10-02 14:07] mstreit commented on #829
Since I switched to KDE it's gone. It seems to be related to Unity.

[2013-10-02 15:12] cpartl commented on #1116
I am not entirely sure what you mean by that.
Do you mean that there is no orange frame around the focus node and its portals upon ctrl+click?
Or do you mean that the context paths do not show up? (how to reproduce?)

[2013-10-02 15:19] cpartl commented on #1084
As this is a completely new feature and requires conceptual discussion, I guess we can postpone this?

[2013-10-02 15:20] alexsb commented on #1084
Yes. Moving to graveyard (i.e., no milestone)

[2013-10-02 15:26] alexsb opened #1667 "There is a weird "1" wikipathway"
See:

![wiki](https://f.cloud.github.com/assets/2039375/1254483/d89a6122-2b76-11e3-8b77-94a136b8292f.png)

We should avoid this. If it's a problem in Wikipathways (i.e., this is listed as a pathway) we do want to create a manual exception for this. This is especially stupid because it's the first in the list.

[2013-10-02 15:28] alexsb opened #1668 "Add pathway database identification to pathway lineup in Entourage"
As in the pathway lineup for Stratomex this information is important. To save space, should we just use 'K' and 'W' and provide a KEGG and Wikipathways tooltip?

[2013-10-02 15:29] alexsb opened #1669 "Add pathway database checkboxes to Entourage pathway lineup"
Similar to the regular lineup we want users to be able to decide which DB they want to consider.

[2013-10-02 15:34] sgratzl commented on #1668
should that a be a categorical column, or just an pathway name prefix

[2013-10-02 15:35] cpartl opened #1670 "Enroute is still showing content after path was cleared"
-> show no content.

[2013-10-02 15:37] alexsb commented on #1668
I think a categorical column would be smarter,  since this would allow to sort based on it, etc?

[2013-10-02 15:42] alexsb commented on #1116
I had a hard time reconstructing what I meant, but I figured it out :)

![shc_selection](https://f.cloud.github.com/assets/2039375/1254656/1a222326-2b79-11e3-8eaf-1997f2cb1b23.png)

Here, shc was set as the portal node. Notice that in the source pathway it's also "selected" (orange). In the new context paths this selection is not synchronized. If I later select nodes it works of course.

[2013-10-02 15:43] alexsb opened #1671 "Merge free selection with path-based selection for choosing genes for enRoute"
By default selection runs in path mode. By pressing Alt the same time any node should be added.

Was: "Create Icon for free selection of nodes."
Currently it's the same as the path selection icon.

[2013-10-02 17:15] sgratzl commented on #1668
and solve #1669

[2013-10-02 20:40] sgratzl commented on #1662
now a simple data domain selector is shown -> "injected" by the entourage plugin

in a similar fashion I'm going to implement the group selector

[2013-10-03 06:45] sgratzl opened #1672 "PAGE/GSEA: forbid to select ungrouped stratifications"
since PAGE/GSEA use the one-vs-rest principle, selecting a ungrouped stratification with a single cluster doesn't make any sense and my lead to errors.

[2013-10-03 07:34] sgratzl opened #1673 "Remove the Experimental flag"
we don't need it for releasing, as we just remove the plugin from the release.

and in our local workspace I always use set the flag.

So why do we need it?

[2013-10-03 08:00] sgratzl commented on #1662
except for the Entourage logic, it is done

[2013-10-03 08:00] #1662 closed, assigned to sgratzl

[2013-10-03 08:12] mstreit commented on #1673
Yes, with our release/build system we can drop the experimental flag.

[2013-10-03 08:25] sgratzl commented on #1669
is this still needed?, as of #1668

[2013-10-03 08:52] #1666 closed, assigned to sgratzl

[2013-10-03 08:52] #1672 closed, assigned to sgratzl

[2013-10-03 09:19] #1668 closed, assigned to sgratzl

[2013-10-03 09:20] sgratzl commented on #1656
rfc

[2013-10-03 09:22] sgratzl opened #1674 "Fast Filter Icon of LineUp columns should be clickable"
coming from #1344:

what remains is that the filter icon should be clickable and not just a representation that a filter is active.

[2013-10-03 09:22] sgratzl commented on #1344
extracted what is missing to: #1674

[2013-10-03 09:22] #1344 closed, assigned to sgratzl

[2013-10-03 09:53] ngehlenborg commented on #1656
I think option 2 is appropriate because the score is associated with the GENE identifier.

However, since the user loads the external scores for a specific datatype (here: mutations), the mental model of the user might be off. We should consider this in future work.

[2013-10-03 09:59] ngehlenborg commented on #1656
That means that we should treat data matrices, stratifications, and scores as equal partners, e.g., in Crossword, and move away from the datatype-centric view.

[2013-10-03 12:45] alexsb commented on #1673
agreed

[2013-10-03 13:54] cpartl opened #1675 "Improve group selection for entourage"
- Allow to select/deselct all
- Show the number of elements in a group

[2013-10-03 15:07] cpartl opened #1676 "Synchronize selected datasets and groups with entourage"
Currently entourage and the selections in lineup are out of sync initially, and whenever you click in entourage you lose the selections in lineup.
I added the methods `isDataDomainVisible`, `isGroupVisible`, `getSourceGroupList`, which in `EntourageAdapter` should provide you with the necessary information (if they work correctly ;-)).

[2013-10-03 15:22] alexsb commented on #1673
Changed to task, set milestone and assigned christian.

[2013-10-03 15:29] cpartl opened #1677 "Allow to specify a single dataset for on-node mapping in entourage"
Up to now we specify the data that is assigned to enroute via lineup. However, we also want to specify the data for on-node mapping. But you can only display a single dataset at a time using on-node mapping.

The discussed solution:
Add another column to the dataset list, which uses radio buttons. The selected radio determines the dataset for on-node mapping.

I can take care of the communication

[2013-10-03 16:02] #1673 closed, assigned to mstreit

[2013-10-03 17:38] sgratzl commented on #1676
I don't want to poll button states. Please, provide change listeners or events.

[2013-10-03 18:03] sgratzl commented on #1677
if you click at the label, what should change: checkbox or radio?

[2013-10-03 18:05] sgratzl commented on #1677
btw. this issue, #1675, and #1676 have nothing to do with LineUp anymore. The EntourageAdapter is hacking in the TourGuide and creating the elements by itself. -> `GroupElements.java`, `DataDomainElements.java`

[2013-10-04 08:26] cpartl commented on #1676
These states only change by clicking the buttons in lineup. It is just about the initialization (we currently need some selected stratification/dataset at startup in entourage) and that it remembers its selection when entourage gets the focus. I think a change listener can't do much here...

[2013-10-04 08:40] cpartl commented on #1677
Hm, I guess we have to try it out and see what is best.
I feel that either only selecting the checkboxes, or both (radios and checkbox) could work.
In the latter case clicking the label to de-select should of course only affect the checkboxes.

[2013-10-04 08:56] cpartl commented on #1663
We also discussed another solution, which was to add the non-genetic datasets to the list of genetic datasets, but separated below them. The issue that remains is how we can select individual drugs, or, dimensions in general (which can be quite numerous).

[2013-10-04 08:59] cpartl commented on #1669
i guess not -> closing.

[2013-10-04 08:59] #1669 closed, assigned to sgratzl

[2013-10-04 09:00] cpartl commented on #1595
I think this is fixed now.

[2013-10-04 09:00] #1595 closed, assigned to cpartl

[2013-10-04 09:01] cpartl commented on #1524
I guess it is. -> closing

[2013-10-04 09:01] #1524 closed, assigned to cpartl

[2013-10-04 09:05] cpartl opened #1678 "How to open/close lineup for dataset selection conveniently?"
We should be able to open lineup from entourage.
How should this look like GUI-wise?
Static button somewhere? Where? Which icon?
Should we also be able to close lineup within entourage?

[2013-10-04 09:11] cpartl opened #1679 "How to enable/disable on-node mapping in entourage?"
It should be possible to enable/disable on-node mapping.
One possibility would be a button in the toolbar.
We could also use a checkbox in the header of the column for on-node mapping radios.
Other suggestions?
In any case, the radios should be grayed out when on-node mapping is disabled.

Discuss.

[2013-10-04 09:39] #1670 closed, assigned to cpartl

[2013-10-04 10:29] #1079 closed, assigned to cpartl

[2013-10-04 13:56] cpartl commented on #1667
Hm, I currently have no overview about where we get the pathways from, but it is apparently part of the zip file we download (Hs_1_WP2356_53422.gpml and Hs_1_WP2356_53422.png).
@sgratzl Can we just remove these files from the archive? Or are these files generated from somewhere?

[2013-10-04 14:36] alexsb commented on #1678
Yes. Options:
- Opens by default with Entourage
- Opens as soon as you extend the selected path window
- An extended selected path window contains a message and a plus sign to add data
- Add a button to the toolbar (not a big fan of that)

Concerning closing: I wouldn't. The x button of the lineup is pretty clear.

[2013-10-04 14:46] sgratzl commented on #1667
for wikipathways all are stored on our server in the archive. So just remove the files from the archive and update it on the server. The rest should be done automatically.

[2013-10-04 14:58] alexsb commented on #1679
Maybe a button in the toolbar wouldn't be too bad after all, combined with the options described in #1678. A click on the button would simply open lineup.

I would tune the "Choose Dataset to Map Dialog to look like that:

![ds_selection](https://f.cloud.github.com/assets/2039375/1270150/5e666e4c-2d05-11e3-8c6c-c5014576ec86.png)

[2013-10-04 15:00] sgratzl commented on #1663
I can't see the differences to the LineUp Others view. Assuming that the drugs datadomains is inhomogenous.

[2013-10-04 15:08] alexsb opened #1680 "Interface for determining which samples to map onto pathway"
Another problem is which samples to actually map: all samples of a dataset does not make much sense in most cases.

There are two options:
- Map the selected samples only - this will be weird if none are selected and samples are only selectable through enRoute.
- Provide some means to pick the groups/samples. Then we'd actually need essentially the stratification lineup to let users choose that. T

[2013-10-04 15:09] cpartl commented on #1679
So the toolbar button should just open lineup?
I would not draw a checkbox for "None", this makes no sense

[2013-10-04 15:14] alexsb commented on #1663
It's not necessarily but possibly inhomogeneous, but we can treat it as such. I think the biggest problem with an "other lineup" is that it's not very accessible if we don't provide a wizard as we do in StratomeX. So if we use a separate lineup we need to integrate wizard components in enRoute.

[2013-10-04 15:15] cpartl commented on #1678
Yes, it should be opened with entourage by default.
I would vote for a button that just does open the lineup view, it should not be a side effect of a different action imo (e.g. extending the path window).

[2013-10-04 15:17] alexsb commented on #1679
Yes

Oh, I disagree! I hate interfaces that have many options and don't have a select all/ select none button.

[2013-10-04 15:21] cpartl commented on #1679
ok, but this checkbox does not look like a select all/none to me.

[2013-10-04 15:22] cpartl commented on #1679
it is more a radio for the checkboxes...

[2013-10-04 15:22] alexsb commented on #1679
Includes considerations of #1677

[2013-10-04 15:23] alexsb commented on #1677
Will be dealt with together with #1679

[2013-10-04 15:23] #1677 closed, assigned to sgratzl

[2013-10-04 15:26] alexsb commented on #1676
Here is an example of an initialization problem. The dataset is chosen correctly, but the groupings are not. Notice that the two copy number groups each contain all samples, not the 2 groups that one would expect driven by the 2cnmf clustering.

![initialization](https://f.cloud.github.com/assets/2039375/1270386/3591000a-2d09-11e3-9322-1aeede013be5.png)

[2013-10-04 15:32] alexsb opened #1681 "Groupings are duplicated when clicking into enRoute"
After assignement with lineup the grouping is correct:

![correct](https://f.cloud.github.com/assets/2039375/1270442/02c55012-2d0a-11e3-83ca-5c6252a79690.png)

Once I click into enRoute the grouping is suddenly duplicated:

![duplicated](https://f.cloud.github.com/assets/2039375/1270445/13ca8472-2d0a-11e3-934c-997d904275de.png)

[2013-10-04 15:38] alexsb commented on #1679
This is actually more like a button than a checkbox or a radio. I've checked a couple of interfaces and most use some kind of drop-down to "select all, none, etc." I'm not hung up on using a checkbox at all - happy to hear better suggestions - I just figured it's the most space efficient way to do it.

[2013-10-04 15:43] alexsb commented on #1671
Actually thinking about this I'm not sure anymore that this should be a separate state. It would be much better to simply use a modifier (Ctrl?) key to select free nodes in the regular path selection mode.

[2013-10-04 15:53] cpartl commented on #1671
Hm, i guess there are trade-offs. A modifier is not really visible to the user, but selection might be easier if known. I vote for Alt, if we decide for a modifier.

[2013-10-04 15:56] alexsb commented on #1671
Yea, but if we use a modifier we can easily combine path and free selection, thereby making it clear to the user when there is an actual path in the pathway.

We could add context-menus to the nodes when in path mode "add to path (shift-click)" to make it more salient?

[2013-10-04 15:57] cpartl commented on #1681
prevented this from happening, but the root cause still remains: `onSelectionChanged` is still called when entourage gains focus. @sgratzl can you prevent that?

[2013-10-04 15:58] sgratzl commented on #1676
grouping = stratification?, if yes: I think I can't fix that, since I don't know all the stratifications (especially mutations, copy-numbers,...) at any time, since they lazily created.

[2013-10-04 16:34] sgratzl commented on #1681
done. setting no callback during state syncing

[2013-10-04 16:35] #1675 closed, assigned to sgratzl

[2013-10-04 17:37] alexsb commented on #1681
Works. Closing.

[2013-10-04 17:37] #1681 closed, assigned to cpartl

[2013-10-04 17:40] cpartl commented on #1676
Sync looks quite good now i think.
What is missing:
- Synching the pathway mapped dataset (see `getPathwayMappingDataDomain`)
- Synching the selected groups.

[2013-10-04 17:57] alexsb opened #1682 "Entourage crashes when adding pathway when no dataset is selected"
To reproduce
1. open entourage & lineup
2. deselect all mapping datasets
3. open pathway

[code]

[2013-10-04 18:20] alexsb commented on #1676
Maybe what @cpartl means is that the groups are not there for the initial state:

![group_init](https://f.cloud.github.com/assets/2039375/1271799/a84fa2b4-2d21-11e3-8178-a99439d27167.png)

[2013-10-04 21:45] alexsb opened #1683 "Wizard for enRoute in Entourage"
- Right now in Entourage we have the "Select Path" window on the right which contains the enRoute view. We should either rename that to enRoute or relate in some other way that we can show experimental data here.
- In the empty space of the selected Path view we should put the following text:

Here [PATH] should be the actual (functional) "Toggle path selection" icon and the "Toggle path selection

[2013-10-04 21:50] alexsb commented on #1678
Related to #1683

[2013-10-04 21:52] alexsb commented on #1678
How about we add a button "Select data" at the bottom of the Selected Path window if LineUp is not visible.

[2013-10-04 22:07] alexsb opened #1684 "How can we integrate the StratomeX/Tourguide intelligence for pathways?"
Page and GSEA are equally valuable in Entourage. For both we need a group of a stratification. We could trigger these from the groups shown in LineUp?

[2013-10-04 22:09] alexsb opened #1685 "Trigger focus node out of LineUp?"
It would be interesting to use the LineUp rankings of genes (mutations and copy numbers) to trigger a pathway query that updates the pathway list. These would all be of equal rank of course, but it would still be helpful.

[2013-10-04 22:19] alexsb opened #1686 "How do we want to sync DVI and Entourage?"
DVI is currently not synced with Entourage data assignments. I'm not sure how we should do that. We basically create "foreign" perspectives all the time in this scenario, so we'd need to constantly add perspectives to the datasets in the DVI?

[2013-10-04 22:29] alexsb commented on #1105
@sgratzl - is the reference here correct? I'm a little confused looking at the code you changed in this commit I don't see a direct relationship to the problem?

[2013-10-04 22:33] alexsb commented on #1105
However, I can't reproduce this problem. Closing.

[2013-10-04 22:33] #1105 closed, assigned to alexsb

[2013-10-04 22:37] alexsb commented on #1676
You can still confuse the "Select All/Select None" state by changing the stratification after clicking on select all / select none. Here is an example:

![select_all](https://f.cloud.github.com/assets/2039375/1273350/7560af82-2d45-11e3-91d6-942ddce8f108.png)

I suggest we remove the checkbox here and do a "Select None | Select All" that are both always visible and execute the respective action?

[2013-10-04 22:39] #1528 closed, assigned to nobody

[2013-10-04 22:40] alexsb commented on #1648
I think this ticket is largely resolved and the remaining minor issues are in separate tickets.

[2013-10-04 22:40] #1648 closed, assigned to nobody

[2013-10-04 22:42] alexsb commented on #1679
This works excellently. I thought a little about the None radio box - we could instead have a "(disable)" next to "Map onto Pathway". If we decide to stick with the None radio we can close this.

[2013-10-04 22:43] #1106 closed, assigned to alexsb

[2013-10-04 22:45] alexsb commented on #1072
Superseded by / duplicate of #1680

[2013-10-04 22:45] #1072 closed, assigned to alexsb

[2013-10-04 22:50] alexsb opened #1687 "Write Entourage Documentation and integrate pathway/enRoute documentation"

[2013-10-04 22:51] alexsb commented on #1687
Moving to Documentation repo

[2013-10-04 22:51] #1687 closed, assigned to nobody

[2013-10-05 08:44] sgratzl commented on #1105
no it is not, maybe a error during conversion, since the ticket numbers between trac and github are different

[2013-10-05 08:46] sgratzl commented on #1686
foreign table perspectives aren't visible in DVI. If you correctly trigger the TablePerspectiveChanged events, you should see this generic "this datadomain is used in that view" band.

[2013-10-06 08:30] cpartl commented on #1683
What do you mean by "empty space"? There is no empty space when a long path is selected.
Or should this wizard only be visible when no path is seleted?
As display space is cruical for entourage I think we should not show a wizard permanently...

[2013-10-06 08:51] cpartl commented on #1680
Hm, I am not sure if we should provide an interface to select different groups than shown in enroute. That way enroute and the on-node mapping can get easily out of sync and the on-node mapping hints to the wrong nodes for detailed exploration.
I would use the same groups as for enroute and maybe additionally provide the option to use selected samples instead.

[2013-10-06 08:58] cpartl commented on #1678
I think we should place a button somewhere that is guaranteed to be visible, as the dataset assignment is not only for enroute. Since the selected path can be hidden, I would actually like to add a button to the toolbar for now...

[2013-10-06 10:52] cpartl commented on #686
Now selecting the parent of a node, if that node does not have edges.

[2013-10-06 10:52] #686 closed, assigned to cpartl

[2013-10-06 15:29] alexsb commented on #1683
Yes, the idea was that this is visible when no path is selected. When a path is selected the user is already half-way there. We then can show some message in enRoute if no data is yet selected.

The only thing to consider is whether we want to make the expand button more salient and communicate its meaning, but I'm not sure if that's necessary.

[2013-10-06 15:31] alexsb commented on #1680
Yes, that's what I meant. I didn't think about selecting different groups.

[2013-10-07 06:58] sgratzl opened #1688 "Show (Splash screen) and Check Java version during Startup"
During startup we should check the minimum Java version and also print it on the Splash-Screen, including a warning/error if it doesn't fit the requirements.

[2013-10-07 09:49] #1656 closed, assigned to sgratzl

[2013-10-07 09:49] #1659 closed, assigned to sgratzl

[2013-10-07 14:55] #1679 closed, assigned to nobody

[2013-10-07 15:01] #1678 closed, assigned to nobody

[2013-10-07 15:01] #1676 closed, assigned to sgratzl

[2013-10-07 15:01] #1671 closed, assigned to cpartl

[2013-10-07 15:20] mstreit commented on #1067
A separate view similar to the dataset info would be another option.

[2013-10-08 11:38] #1682 closed, assigned to nobody

[2013-10-08 13:26] cpartl commented on #1667
removed non-pathways from zip file on server

[2013-10-08 13:26] #1667 closed, assigned to cpartl

[2013-10-08 13:35] cpartl commented on #1680
What was the final solution we decided for here? Add the switch between selected and normal mode to the toolbar?

[2013-10-08 19:31] #1683 closed, assigned to cpartl

[2013-10-09 09:44] cpartl commented on #1123
can't reproduce that -> closing

[2013-10-09 09:44] #1123 closed, assigned to cpartl

[2013-10-09 10:09] cpartl commented on #1124
I was able to reproduce this error once, but could not reproduce it anymore since of that.
I think it might have to do with some corrupt path state that is caused in very special cases when selecting in context paths. Might be related to #1089. Moving to 3.1.1

[2013-10-09 12:47] #1680 closed, assigned to nobody

[2013-10-22 13:43] ngehlenborg opened #1689 "Division by zero error when trying to view numerical matrix stratified by categorical variable with 0 matching identifiers"
I added the stratification to the matrix via drag and drop in the DVI. When I try to view the stratified matrix, the StratomeX view crashes and I find the error message below in the log. The problem is an identifier mismatch (none of the ids in the stratification match the ids in the matrix).

We should prevent users from making such assignments by showing an error message when the users tries to

[2013-10-22 14:05] ngehlenborg opened #1690 "importing files with empty cells at the end of a line fails"
When a row ends with one or more empty cell (i.e. just a tab), the parser throws these cells away, even though they are expected based on the file header.

To fix this:
- [ ] In cases where there are indeed not enough cells in the table (e.g. because user just added a line break but no empty tabs with tab or else): Automatically fill rows with fewer cells than expected with NAs. If such NAs are in

[2013-10-22 14:08] ngehlenborg opened #1691 "replace String.split() with method that handles escaped sequences"
When a string is contained in a set of quotes, separator characters in the string should be ignored, but String.split() will still split the string:

[code]

but should be

[code]

[2013-10-22 14:33] ngehlenborg opened #1692 "inhomogeneous data set properties tab has scrolling issue"
When there are more columns in the table than fit on the wizard page and scrolling is required, clicking the "Set Properties" header of columns that were scrolled (horizontally) into the view will open the properties dialog for columns that visible before the first time the user scrolled (horizontally).

![screen shot 2013-10-22 at 10 31 54 am](https://f.cloud.github.com/assets/1216518/1381875/bc8

[2013-10-22 14:38] #1690 closed, assigned to cpartl

[2013-10-22 14:59] #1692 closed, assigned to cpartl

[2013-10-23 01:54] ngehlenborg opened #1693 "TCGA data package does not terminate"
The data package generator finishes package creation but does not terminate when launched from Eclipse (red "stop" button remains active).

[2013-10-23 01:55] ngehlenborg opened #1694 "packaging of MutSigCV results into AWG builds seems to be broken"
For now the inclusion has been commented out (see d40a7d427de667d62113a835692ad664afbb8647). With that code included, the package builder spits out a very long list of missing gene ids and then just sits idle but does not terminate (maybe related to #1693):

[code]

To reproduce undo changes from d40a7d427de667d62113a835692ad664afbb8647 and run with these parameters:

[code]

[2013-10-23 02:02] ngehlenborg opened #1695 "change data package builder to ask for password and username on console if not supplied as a parameter"
That would allow us to keep this information out of the launch configs ...

If the user supplies "--username" and/or "--password" but does not provide the actual username or password, the package builder should prompt the user to enter this information on the console.

[2013-10-23 18:30] ngehlenborg opened #1696 "StratomeX crashes when assigning numerical variable for KM plot"
I suspect that in my current data set this is caused by an ID that exists for the numerical variable but not in the stratification.

The error looks like this:

[code]

[2013-10-24 02:09] alexsb commented on #1696
The cause is a missing LF at the end of the file. In the parser we determine the number of lines and initialize an array based on that size. In cases with a LF at the end we have one line more than if there is no LF.

[2013-10-24 13:58] alexsb opened #1697 "Create Box Plot for use within StratomeX"
Critical for non-death clinical data

[2013-10-24 14:01] alexsb opened #1698 "Disable Standalone Pathway view"

[2013-10-24 14:02] alexsb opened #1699 "Disable Standalone enRoute view"

[2013-10-24 14:03] alexsb opened #1700 "Enable histogram view for clinical data"

[2013-10-24 14:04] alexsb commented on #1638
I'm not sure whether this is necessary. Moder UI design is dropping the push-button concept more and more.

[2013-10-24 20:17] #1696 closed, assigned to alexsb

[2013-10-24 20:42] ngehlenborg opened #1701 "create September 2013 Firehose data packages"
run and stddata date are 2013_09_23: http://gdac.broadinstitute.org

[2013-10-24 21:34] #1700 closed, assigned to alexsb

[2013-10-24 22:59] alexsb commented on #1697
A drawing by Nils:

![screen shot 2013-10-24 at 6 12 10 pm](https://f.cloud.github.com/assets/2039375/1404158/e70aebce-3cff-11e3-8d85-6ec8ac86fc0f.png)

[2013-10-25 11:15] #1634 closed, assigned to cpartl

[2013-10-25 11:52] #1629 closed, assigned to cpartl

[2013-10-25 12:35] #1628 closed, assigned to cpartl

[2013-10-25 12:45] #1699 closed, assigned to cpartl

[2013-10-25 12:50] #1698 closed, assigned to cpartl

[2013-10-25 13:00] ngehlenborg opened #1702 "support "Save Project Data Only" option"
There should be a way to save the data separately from the view configuration.

[2013-10-25 13:26] cpartl commented on #1658
Can't reproduce this problem, any hints how to?

[2013-10-28 11:55] #1089 closed, assigned to cpartl

[2013-10-28 13:34] #1088 closed, assigned to cpartl

[2013-10-28 14:18] alexsb commented on #1686
Supplement tool-tip to the generic band

[2013-10-28 14:26] alexsb opened #1703 "Unify pathway lineup and Entourage embedded LineUp"
by removing Entourage LineUp

[2013-10-28 14:36] alexsb commented on #1663
We decided to use the other lineup as it is used in StartomeX. In addition we want a button in the other lineup that highlights in which view the data is assigned. Also, we should be able to directly assign it to the appropriate view via context menu.